<div class="form-group">
    <label>Text</label>
    <input type='text' class='form-control'/>
</div>
<div class="form-group">
    <label class="disabled">Text</label>
    <input type='text' class='form-control' value="Disabled value" disabled="disabled" />
</div>
<div class="form-group">
    <label>Text Area</label>
    <textarea class='form-control'></textarea>
</div>
