<div class="form-group">
    <div class="combobox">
        <select class="form-control">
            <option>Lorem</option>
            <option>ipsum</option>
            <option>dolor</option>
            <option>sit</option>
            <option>amet</option>
        </select>
    </div>
</div>
<div class="form-group">
    <select multiple class="form-control">
        <option>Lorem</option>
        <option>ipsum</option>
        <option>dolor</option>
        <option>sit</option>
        <option>amet</option>
    </select>
</div>
