<div class="row">
    <div class="col-xs-24">
        <section class="section" id="fonts">
            <header class="section-header">
                <h2 class="section-title">
                    <a href="#fonts">Fonts</a>
                </h2>
            </header>
            <div class="section-body">
                <p>
                    The main typeface is Segoe UI. Selawik is an open source text font that can be used as a fallback to Segoe UI.
                </p>
            </div>
        </section>

        <div class="row">
            <div class="col-xs-24 col-md-12">
                <section class="section">
                    <header class="section-header">
                        <h5>Segoe UI</h5>
                        <hr />
                    </header>
                    <div class="section-body">
                        <h1>T1</h1>
                        <h2>T2</h2>
                        <h3>T3</h3>
                        <h4>T4</h4>
                        <h5>T5</h5>
                        <h6>T6</h6>
                        <p>T7</p>
                        <p class="type-t8">T8</p>
                        <p class="type-t9">T9</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </section>
            </div>
            <div class="col-xs-24 col-md-12">
                <section class="section">
                    <header class="section-header">
                        <h5 style="font-family: 'Selawik Semibold';">Selawik</h5>
                        <hr />
                    </header>
                    <div class="section-body">
                        <h1 style="font-family: 'Selawik Light'">T1</h1>
                        <h2 style="font-family: 'Selawik Light'">T2</h2>
                        <h3 style="font-family: 'Selawik Light'">T3</h3>
                        <h4 style="font-family: 'Selawik Semilight'">T4</h4>
                        <h5 style="font-family: 'Selawik Semilight'">T5</h5>
                        <h6 style="font-family: 'Selawik Semilight'">T6</h6>
                        <p style="font-family: 'Selawik'">T7</p>
                        <p style="font-family: 'Selawik'" class="type-t8">T8</p>
                        <p style="font-family: 'Selawik'" class="type-t9">T9</p>
                        <p style="font-family: 'Selawik';">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-24">
                <h3>Type classes</h3>
                <p>All Bootstrap classes are all available. You may also use Winstrap type classes if you would like to more explicitly be connected to Microsoft design language. The MDL classes are type-*.</p>

                {{#markdown}}
```xml
<h1>T1</h1>
<div class="type-t1">...</div>

<h2>T2</h2>
<div class="type-t2">...</div>

<h3>T3</h3>
<div class="type-t3">...</div>

<h4>T4</h4>
<div class="type-t4">...</div>

<h5>T5</h5>
<div class="type-t5">...</div>

<h6>T6</h6>
<div class="type-t6">...</div>

<p>T7</p>
<div class="type-t7">...</div>

<p class="type-t8">T8</p>
<div class="type-t8">...</div>

<p class="type-t9">T9</p>
<div class="type-t9">...</div>
```
                {{/markdown}}
            </div>

            <div class="col-sm-24">
                <h3>Type mixins</h3>
                <p>By default, line-height is not set by the mixins below. If you want to apply the MDL line-height, you can pass the <code>set-line-height</code> argument. You can also pass the <code>responsive</code> argument to make the text responsive.</p>

                {{#markdown}}
```scss
.selector {
    @include type(t[1-9], [set-line-height] [responsive]);
}
```
                {{/markdown}}
            </div>
        </div>
    </div>
</div>
