#icons {
    i[class*="win-icon-"] {
        font-size: 2em;
    }
}

.color {
    height: 0;
    padding-bottom: 25%;

//Greys
    &.chrome-10 { background: $color-chrome-10; }
    &.chrome-20 { background: $color-chrome-20; }
    &.chrome-30 { background: $color-chrome-30; }    
    &.chrome-40 { background: $color-chrome-40; }
    &.chrome-50 { background: $color-chrome-50; }
    &.chrome-60 { background: $color-chrome-60; }
    &.chrome-70 { background: $color-chrome-70; }
    &.chrome-80 { background: $color-chrome-80; }

//Accent colors
    &.accent { background: $color-accent; }
    &.accent-medium { background: $color-accent-medium; }

//Other accent colors
    &.lighter-blue { background: $color-lighter-blue; }  
    &.lighter-cyan { background: $color-lighter-cyan; }  
    &.lighter-teal { background: $color-lighter-teal; }  
    &.lighter-green { background: $color-lighter-green; }  
    &.lighter-lime { background: $color-lighter-lime; }  
    &.lighter-yellow { background: $color-lighter-yellow; }  
    &.lighter-orange { background: $color-lighter-orange; }  
    &.lighter-red { background: $color-lighter-red; }  
    &.lighter-magenta { background: $color-lighter-magenta; }  
    &.lighter-purple { background: $color-lighter-purple; }  
    &.darker-blue { background: $color-darker-blue; }  
    &.darker-cyan { background: $color-darker-cyan; }  
    &.darker-teal { background: $color-darker-teal; }  
    &.darker-green { background: $color-darker-green; }  
    &.darker-lime { background: $color-darker-lime; }  
    &.darker-yellow { background: $color-darker-yellow; }  
    &.darker-orange { background: $color-darker-orange; }  
    &.darker-red { background: $color-darker-red; }  
    &.darker-magenta { background: $color-darker-magenta; }  
    &.darker-purple { background: $color-darker-purple; }  
    &.core-blue { background: $color-core-blue; }  
    &.core-cyan { background: $color-core-cyan; }  
    &.core-teal { background: $color-core-teal; }  
    &.core-green { background: $color-core-green; }  
    &.core-lime { background: $color-core-lime; }  
    &.core-yellow { background: $color-core-yellow; }  
    &.core-orange { background: $color-core-orange; }  
    &.core-red { background: $color-core-red; }  
    &.core-magenta { background: $color-core-magenta; }  
    &.core-purple { background: $color-core-purple; }  

//Base
    &.base { background: $color-base; }
    &.base-low { background: $color-base-low; }
    &.base-medium-low { background: $color-base-medium-low; }
    &.base-medium { background: $color-base-medium; }
    &.base-medium-high { background: $color-base-medium-high; }
    &.base-high { background: $color-base-high; }

//Alt
    &.alt { background: $color-alt; }
    &.alt-low { background: $color-alt-low; }
    &.alt-medium-low { background: $color-alt-medium-low; }
    &.alt-medium { background: $color-alt-medium; }
    &.alt-medium-high { background: $color-alt-medium-high; }
    &.alt-high { background: $color-alt-high; } 

//OneUI starts here
//    &.cool-gray-2 { background: $color-webstore-bg-light; }
//    &.cool-gray-12 { background: $color-mscom-cool-gray-12; }
    &.primary { background: $brand-primary; }

//    &.webstore-text { background: $color-webstore-text; }
//    &.webstore-text-secondary { background: $color-webstore-text-secondary; }
//    &.webstore-bg-dark { background: $color-webstore-bg-dark; }
//    &.webstore-bg-light { background: $color-webstore-bg-light; }
//    &.webstore-border { background: $color-webstore-border; }
    &.webstore-orange { background: $color-webstore-orange; }
//    &.webstore-black { background: $color-webstore-black; }
    &.webstore-blue { background: $color-webstore-blue; }

    // &.lighter-purple { background: $color-lighter-purple; }
    // &.core-purple { background: $color-core-purple; }
    // &.darker-purple { background: $color-darker-purple; }
    &.mscom-cyan { background: $color-mscom-cyan; }
    // &.darker-blue { background: $color-darker-blue; }
    // &.darker-green { background: $color-darker-green; }
    // &.darker-orange { background: $color-darker-orange; }
    // &.darker-teal { background: $color-darker-teal; }
    // &.darker-lime { background: $color-darker-lime; }
    // &.core-red { background: $color-core-red; }
    // &.darker-cyan { background: $color-darker-cyan; }
    // &.darker-red { background: $color-darker-red; }
}

pre {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border: none;
    border-left: 8px solid $pre-border-color;
    font-size: $font-size-small;
}

code {
    .tag {
        color: #008080;

        .title { color: #800000; }
    }

    .value, .string { color: #0451A5; }

    .attribute { color: red; }

    .comment { color: #008000; font-style: italic; }

    .number { color: #09885A; }
}

.caption-style-example {
    font-size: 6.67vh;
    background: rgba(black, .5) !important;
    color: white;
}

//make it possible to see alt colors in docs
#alt-colors > .col-xs-6 {
    background-color: $color-base;
}

//space out buttons in documentation easier
#buttons .btn {
    margin: 5px 0px;
}