<div class="dropdown{{#if theme}} {{ theme }}{{/if}}">
    <button {{#if id}}id="{{id}}" {{/if}}class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
        Dropdown sample
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-example">
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#" class="disabled">Disabled</a></li>
    </ul>
</div>