<div class="dropdown theme-on-img-light">
    <button id="dropdown-example-light" class="btn btn-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
        Dropdown sample
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-example">
        <li class="active"><a>Item 1</a></li>
        <li><a>Item 2</a></li>
        <li><a>Item 3</a></li>
    </ul>
</div>