<nav class="navbar navbar-default">
    <div class="navbar-global theme-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="glyph glyph-hamburger"></i>
                </button>

                <a href="http://www.microsoft.com" class="navbar-brand">
                    <img src="https://assets.onestore.ms/cdnfiles/onestorerolling-1511-11008/shell/v3/images/logo/microsoft.png" alt="Microsoft" height="23" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="colors.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Store <i class="glyph glyph-chevron-down-2"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="colors.html">Store home</a></li>
                            <li class="divider"></li>
                            <li><a href="colors.html#bootstrap-colors">Devices</a></li>
                            <li><a href="colors.html#mdl-colors">Software</a></li>
                            <li><a href="colors.html#mdl-alt-colors">Apps</a></li>
                            <li><a href="colors.html#mdl-alt-colors">Games</a></li>
                            <li><a href="colors.html#mdl-alt-colors">Entertainment</a></li>
                            <li><a href="colors.html#mdl-alt-colors">Business &amp; education</a></li>
                            <li><a href="colors.html#mdl-alt-colors">Sale</a></li>
                            <li><a href="colors.html#mdl-alt-colors">Find a store</a></li>
                            <li><a href="colors.html#mdl-alt-colors">Gift cards</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="typography.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products <i class="glyph glyph-chevron-down-2"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="typography.html">Software &amp; services</a></li>
                            <li><a href="typography.html#fonts">Devices &amp; Xbox</a></li>
                            <li><a href="typography.html#sizes">For business</a></li>
                            <li><a href="typography.html#headings">For developers &amp; IT pros</a></li>
                            <li><a href="typography.html#subheadings">For students &amp; educators</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="layout.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Support <i class="glyph glyph-chevron-down-2"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="layout.html">Windows</a></li>
                            <li><a href="layout.html#page-header">Office</a></li>
                            <li><a href="layout.html#grid">Surface</a></li>
                            <li><a href="layout.html#grid-small-gutters">Xbox</a></li>
                            <li><a href="layout.html#spacers">Windows phone</a></li>
                            <li><a href="layout.html#spacers">By resource</a></li>
                            <li><a href="layout.html#spacers">Security &amp; updates</a></li>
                            <li><a href="layout.html#spacers">Popular topics</a></li>
                            <li><a href="layout.html#spacers">Sales &amp; orders</a></li>
                            <li><a href="layout.html#spacers">Contact us</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default"></button>
                </form>
            </div>
        </div>
    </div>

    <div class="navbar-local color-accent theme-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="icon-hamburger"></i>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <i class="icon-flipviewdown"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <i class="icon-flipviewdown"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
