{{> alert-stack }}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24">
                <h1>Alerts</h1>

                <ul class="nav nav-pills" data-scroll="smooth">
                    <li role="presentation">
                        <a href="#stack">Alert stack</a>
                    </li>
                    <li role="presentation">
                        <a href="#inline">Inline alerts</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">

    {{> alerts }}

</div>
