<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24">
                <h1>Colors</h1>

                <ul class="nav nav-pills" data-win-scroll="smooth">
                    <li role="presentation">
                        <a href="#bootstrap-colors">Bootstrap colors</a>
                    </li>                    
                    <li role="presentation">
                        <a href="#grays">Grays</a>
                    </li>                    
                    <li role="presentation">
                        <a href="#accent-colors">Accent colors</a>
                    </li>
                    <li role="presentation">
                        <a href="#other-accent-colors">Other accent colors</a>
                    </li>                        
                    <li role="presentation">
                        <a href="#base-colors">Base colors</a>
                    </li>
                    <li role="presentation">
                        <a href="#alt-colors">Alt colors</a>
                    </li>                      
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {{> colors }}
</div>
