<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24">
                <h1>Components</h1>

                <ul class="nav nav-pills" data-scroll="smooth">
                    <li role="presentation">
                        <a href="#breadcrumb">Breadcrumb</a>
                    </li>
                    <li role="presentation">
                        <a href="#back-to-top">Back to top</a>
                    </li>
                    <li role="presentation">
                        <a href="#rating">Rating</a>
                    </li>
                    <li role="presentation">
                        <a href="#labels">Labels</a>
                    </li>
                    <li role="presentation">
                        <a href="#media">Media</a>
                    </li>
                    <li role="presentation">
                        <a href="#tables">Tables</a>
                    </li>
                    <li role="presentation">
                        <a href="#responsive-table">Responsive table</a>
                    </li>
                    <li role="presentation">
                        <a href="#list-items">List items</a>
                    </li>
                    <li role="presentation">
                        <a href="#entity-list">Entity list</a>
                    </li>
                    <li role="presentation">
                        <a href="#pagination">Pagination</a>
                    </li>
                    <li role="presentation">
                        <a href="#jumbotron">Jumbotron</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {{> breadcrumb }}
    <hr />
    {{> back-to-top-doc }}
    <hr />
    {{> rating }}
    <hr />
    {{> labels }}
    <hr />
    {{> media }}
    <hr />
    {{> tables }}
    <hr />
    {{> responsive-table }}
    <hr />
    {{> list-items }}
    <hr />
    {{> entity-list }}
    <hr />
    {{> pagination }}
    <hr />
</div>
<!-- Since Jumbotron is outside the grid... -->
{{> jumbotron-doc }}
