<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24">
                <h1>Controls</h1>
                <ul class="nav nav-pills" data-scroll="smooth">
                    <li role="presentation">
                        <a href="#buttons">Buttons</a>
                    </li>
                    <li role="presentation">
                        <a href="#toggle-switch">Toggle Switch</a>
                    </li>
                    <li role="presentation">
                        <a href="#forms">Forms</a>
                    </li>
                    <li role="presentation">
                        <a href="#putbox">Put box</a>
                    </li>
                    <li role="presentation">
                        <a href="#progress">Progress</a>
                    </li>
                    <li role="presentation">
                        <a href="#loader">Loader</a>
                    </li>
                    <li role="presentation">
                        <a href="#dropdown">Dropdown</a>
                    </li>
                    <li role="presentation">
                        <a href="#tooltips">Tooltips</a>
                    </li>
                    <li role="presentation">
                        <a href="#flyouts">Flyouts</a>
                    </li>
                    <li role="presentation">
                        <a href="#dialogs">Dialogs</a>
                    </li>
                    <li role="presentation">
                        <a href="#tabs">Tabs</a>
                    </li>
                    <li role="presentation">
                        <a href="#navs">Navbar</a>
                    </li>
                    <li role="presentation">
                        <a href="#side-nav">Side Navigation</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {{> buttons }}
    <hr />
    {{> toggle-switch }}
    <hr />
    {{> forms }}
    <hr />
    {{> putbox }}
    <hr />
    {{> progress }}
    <hr />
    {{> loader }}
    <hr />
    {{> dropdown-doc }}
    <hr />
    {{> tooltips }}
    <hr />
    {{> flyouts }}
    <hr />
    {{> dialogs }}
    <hr />
    {{> tabs }}
    <hr />
    {{> navbar-doc }}
    <hr />
    {{> side-navigation }}
</div>
