<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-24">
        <h1>Controls</h1>

        <ul class="nav nav-pills" data-win-scroll="smooth">

          <li role="presentation">
            <a href="#buttons">Buttons</a>
          </li>

          <li role="presentation">
            <a href="#forms">Forms</a>
          </li>

          <li role="presentation">
            <a href="#input-groups">Input Groups</a>
          </li>

          <li role="presentation">
            <a href="#progress">Progress</a>
          </li>

          <li role="presentation">
            <a href="#loader">Loader</a>
          </li>
          <li role="presentation">
            <a href="#dropdowns">Dropdowns</a>
          </li>
          <li role="presentation">
            <a href="#tooltips">Tooltips</a>
          </li>
          <li role="presentation">
            <a href="#flyouts">Flyouts</a>
          </li>
          <li role="presentation">
            <a href="#modals">Modals</a>
          </li>
          <li role="presentation">
            <a href="#tabs">Tabs</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  {{> buttons }}
  <hr />
  {{> forms }}
  <hr />
  {{> input-groups }}
  <hr />
  {{> progress }}
  <hr />
  {{> loader }}
  <hr />
  {{> dropdowns }}
  <hr />
  {{> tooltips }}
  <hr />
  {{> flyouts }}
  <hr />
  {{> modals }}
  <hr />
  {{> tabs }}
</div>
