<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24">
                <h1>Controls</h1>

                <ul class="nav nav-pills" data-win-scroll="smooth">

                    <li role="presentation">
                        <a href="#buttons">Buttons</a>
                    </li>

                    <li role="presentation">
                        <a href="#progress">Progress</a>
                    </li>
                    <li role="presentation">
                        <a href="#loader">Loader</a>
                    </li>
                    <li role="presentation">
                        <a href="#dropdowns">Dropdowns</a>
                    </li>
                    <li role="presentation">
                        <a href="#tooltips">Tooltips</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {{> buttons }}
    <hr />
    {{> progress }}
    <hr />
    {{> loader }}
    <hr />
    {{> dropdowns }}
    <hr />
    {{> tooltips }}
</div>
