<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-16">
                <h1><span class="color-type-primary">{{ name }}</span> <span class="color-type-secondary">{{ version }}</span></h1>
                <h4>The Bootstrap theme for Microsoft Modern Design Language</h3>
            	<a href="https://github.com/winjs/winstrap" class="btn btn-primary" style="margin: 2em 0;">Winstrap on GitHub</a>
            </div>
        </div>
    </div>
</div>
