<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-16">
                <h1>{{ name }} {{ version }}</h1>
                <h4>The Bootstrap theme for Windows</h3>
            </div>
            <div class="col-xs-24 col-sm-8">
            	<a href="https://github.com/winjs/winstrap" class="btn btn-primary pull-right hidden-xs" style="margin-top: 2.4em;">Fork on GitHub</a>
            	<a href="https://github.com/winjs/winstrap" class="btn btn-primary visible-xs-inline-block" style="margin-bottom: 2em;">Fork on GitHub</a>
            </div>
        </div>
    </div>
</div>

