<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24">
                <h1>Tabs components</h1>
            </div>

            <div class="col-md-12" id="media-browser">
                {{> media-browser }}
            </div>

            <div class="col-xs-24">
                <ul class="nav nav-pills">
                    <li role="presentation">
                        <a href="#media-browser">Media browser</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <section class="section">
        <header class="section-header row">
            <h1 class="section-title col-xs-24">
                <a href="#media-browser">Media browser</a>
            </h1>
        </header>

        <div class="row">
            <div class="col-xs-24">
                {{#markdown}}
```xml
<div class="media-browser row" role="tabpanel">
    <div class="col-md-2">
        <ul class="nav" role="tablist">
            <!-- First tab active by default -->
            <li role="presentation" class="active">
                <a href="#media-browser-1"
                   aria-controls="media-browser-1"
                   role="tab"
                   data-toggle="tab">
                    <img src="http://placehold.it/80x80/442359/ffffff" />
                </a>
            </li>
            <!-- Second tab -->
            <li role="presentation">
                <a href="#media-browser-2"
                   aria-controls="media-browser-2"
                   role="tab"
                   data-toggle="tab">
                    <img src="http://placehold.it/80x80/1570a6/ffffff" />
                </a>
            </li>
            <!-- Glyph should launch the modal lightbox -->
            <li>
                <a href="#">
                    <i class="glyph glyph-media-browse"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="tab-content col-md-22">
        <!-- The default selected tab has the "fade in active" classes -->
        <div role="tabpanel" class="tab-pane fade in active" id="media-browser-1">
            <img src="http://placehold.it/530x300/442359/ffffff" class="img-responsive" alt="" />
        </div>

        <!-- The "fade" class enables a fade effect when switching tabs -->
        <div role="tabpanel" class="tab-pane fade" id="media-browser-2">
            <img src="http://placehold.it/530x300/1570a6/ffffff" class="img-responsive" alt="" />
        </div>
    </div>
</div>
```
                {{/markdown}}
            </div>
        </div>
    </section>
</div>
