<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24">
                <h1>Typography</h1>
                <ul class="nav nav-pills" data-scroll="smooth">
                    <li role="presentation">
                        <a href="#fonts">Fonts</a>
                    </li>
                    <li role="presentation">
                        <a href="#sizes">Sizes</a>
                    </li>
                    <li role="presentation">
                        <a href="#headings">Headings</a>
                    </li>
                    <li role="presentation">
                        <a href="#subheadings">Subheadings</a>
                    </li>
                    <li role="presentation">
                        <a href="#paragraphs">Paragraphs</a>
                    </li>
                    <li role="presentation">
                        <a href="#captions">Captions</a>
                    </li>
                    <li role="presentation">
                        <a href="#glyphs">Glyphs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {{> fonts }}
    <hr />
    {{> sizes }}
    <hr />
    {{> headings }}
    <hr />
    {{> subheadings }}
    <hr />
    {{> paragraphs }}
    <hr />
    {{> captions }}
    <hr />
    {{> glyphs }}
</div>
