<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24">
                <h1>Typography</h1>
                <ul class="nav nav-pills" data-scroll="smooth">
                    <li role="presentation">
                        <a href="#fonts">Fonts</a>
                    </li>
                    <li role="presentation">
                        <a href="#text-color">Text color</a>
                    </li>
                    <li role="presentation">
                        <a href="#icons">Icons</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {{> type }}
    <hr />
    {{> text-color }}
    <hr />
    {{> icons }}
</div>
