.win-back-to-top {
    visibility: hidden;
    padding: (($grid-gutter-width / 2) / 2);
    color: $win-color-type-primary;
    background: $win-color-fl-20;
    opacity: 0;
    @include translate(0, 20px);
    @include transition(opacity .3s, transform .3s, -webkit-transform .3s);

    // Added by Bootstrap Affix when scrolling
    &.affix {
        visibility: visible;
        z-index: $zindex-navbar-fixed; // same level as a fixed nav bar
        right: (($grid-gutter-width / 2) * 2);
        bottom: ($grid-gutter-width / 2);
        opacity: 1;
        @include translate(0, 0);
    }

    &:hover {
        color: $win-color-type-primary;
        background: $win-color-fl-20;
    }

    [class*="icon"] {
        font-size: $font-size-h2;
    }
}
