//
// Static resources
//
$toggle-switch-width:           44px;
$toggle-switch-height:          20px;
$toggle-switch-indicator-size:  10px;

// Button filter
.button-filter {
  border-color: $color-vivid-low;
  background: none;

  // Clear filter
  .icon-clear {
    margin-left: 5px;
  }
}

.btn-on-light {
    color: $btn-on-light-color;
    background-color: $btn-on-light-bg;
    border-color: $btn-on-light-border;

    &:hover,
    &:focus,
    &.focus,
    .open > &.dropdown-toggle{
        color: $btn-on-light-color;
        background-color: $btn-on-light-bg;
        border-color: $color-vivid-low-alt;
    }

    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
        background-color: $color-vivid-mid;
        color: $btn-on-light-color;
        border-color: transparent;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
          color: $color-type-secondary;
          background-color: $color-neutral-high;
          border-color: transparent;
        }
    }
}

.btn-on-dark {
    color: $btn-on-dark-color;
    background-color: $btn-on-dark-bg;
    border-color: $btn-on-dark-border;

    &:hover,
    &:focus,
    &.focus,
    .open > &.dropdown-toggle{
        color: $btn-on-dark-color;
        background-color: $btn-on-dark-bg;
        border-color: $color-accent-vivid-low;
    }

    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
        background-color: $color-vivid-mid-alt;
        color: $btn-on-dark-color;
        border-color: transparent;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
          color: $color-type-secondary;
          background-color: $color-neutral-high-alt;
          border-color: transparent;
        }
    }
}

a.link-on-light {
    text-decoration: underline;
    color: $color-type-primary;
}

a.link-on-dark {
    text-decoration: underline;
    color: $color-type-primary-alt;
}

.btn[data-toggle="button"] {

  //
  // Colors
  //

  // On light surface and on light image
  &,
  &.theme-on-img-light {
      background-color: transparent;
      border-color: $color-vivid-mid;

      &::before {
          background-color: $color-vivid-mid;
      }

      .stateLabel {
          color: $color-type-primary;
      }

      &.active {
          background-color: $color-accent;
          border-color: transparent;

          &::before {
              background-color: $color-bg-light-vivid-high;
          }
      }

      &:disabled {
          border-color: $color-neutral-low;

          &::before {
              background-color: $color-neutral-low;
          }

          .stateLabel {
              color: $color-type-disabled;
          }

          &.active {
              border-color: transparent;
              background-color: $color-neutral-low;
          }
      }
  }

  // On dark surface and on dark image
  &.theme-alt,
  &.theme-on-img-dark {
      background-color: transparent;
      border-color: $color-neutral-high-alt;
      color: $color-neutral-high-alt;


      &:hover {
        border-color: $color-vivid-mid-alt;
        color: $color-type-primary-alt;
      }

      &:focus {
          border-color: $color-accent-vivid-high;
          color: $color-type-primary-alt;
      }

      &.active {
          background-color: $color-vivid-high;
          border: 2px solid $color-vivid-high-alt;
          color: $color-type-primary-alt;


          &::before {
              background-color: $color-bg-light-vivid-high;
          }
      }

      &:disabled {
          border-color: $color-neutral-low-alt;

          &::before {
              background-color: $color-neutral-low-alt;
          }

          .stateLabel {
              color: $color-type-disabled-alt;
          }

          &.active {
              border-color: transparent;
              background-color: $color-neutral-low-alt;
          }
      }
  }

  // On colored surface
  &.theme-on-color {
      background-color: transparent;
      border-color: $color-neutral-high-alt;
      color: $color-type-primary-alt;

      &:hover {
        border-color: $color-vivid-high-alt;
      }

      &:focus {
          background-color: $color-neutral-high-alt;
          border-color: $color-accent-vivid-high;
          color: $color-type-primary-alt;
      }

      &.active {
        background-color: transparent;
        border-color: $color-vivid-high-alt;
      }

      &:disabled {
          border-color: $color-neutral-low-alt;
          color: $color-type-disabled-alt;
      }
  }
}

// Toggle switch button
.btn[data-toggle="button"].btn-toggle-switch {
    position: relative;
    width: $toggle-switch-width;
    min-width: $toggle-switch-width;
    max-width: $toggle-switch-width;
    height: $toggle-switch-height;
    border-radius: $toggle-switch-height / 2;
    border-width: 1px;
    border-style: solid;

    .stateLabel {
        position: absolute;
        top: 1px;
        left: 54px;
        line-height: 1;
        @include type-body(no-responsive, no-line-height);
    }

    .stateLabel-on {
        display: none;
    }

    // Indicator circle
    &::before {
        content: '';
        position: absolute;
        width: $toggle-switch-indicator-size;
        height: $toggle-switch-indicator-size;
        top: 4px;
        left: 4px;
        border-radius: $toggle-switch-indicator-size / 2;
    }

    &.active {
        &::before {
            left: 28px;
        }

        .stateLabel-on {
            display: block;
        }

        .stateLabel-off {
            display: none;
        }
    }

    //
    // Colors
    //

    // On light surface and on light image
    &,
    &.theme-on-img-light {
        background-color: transparent;
        border-color: $color-vivid-mid;

        &::before {
            background-color: $color-vivid-mid;
        }

        .stateLabel {
            color: $color-type-primary;
        }

        &.active {
            background-color: $color-accent;
            border-color: transparent;

            &::before {
                background-color: $color-bg-light-vivid-high;
            }
        }

        &:disabled {
            border-color: $color-neutral-low;

            &::before {
                background-color: $color-neutral-low;
            }

            .stateLabel {
                color: $color-type-disabled;
            }

            &.active {
                border-color: transparent;
                background-color: $color-neutral-low;
            }
        }
    }

    // On dark surface and on dark image
    &.theme-alt,
    &.theme-on-img-dark {
        background-color: transparent;
        border-color: $color-vivid-mid-alt;

        &::before {
            background-color: $color-vivid-mid-alt;
        }

        .stateLabel {
            color: $color-type-primary-alt;
        }

        &.active {
            background-color: $color-accent;
            border-color: transparent;

            &::before {
                background-color: $color-bg-light-vivid-high;
            }
        }

        &:disabled {
            border-color: $color-neutral-low-alt;

            &::before {
                background-color: $color-neutral-low-alt;
            }

            .stateLabel {
                color: $color-type-disabled-alt;
            }

            &.active {
                border-color: transparent;
                background-color: $color-neutral-low-alt;
            }
        }
    }

    // On colored surface
    &.theme-on-color {
        background-color: transparent;
        border-color: $color-vivid-mid-alt;

        &::before {
            background-color: $color-vivid-mid-alt;
        }

        .stateLabel {
            color: $color-type-primary-alt;
        }

        &.active {
            background-color: $color-bg-light-vivid-high;
            border-color: transparent;

            &::before {
                background-color: $color-accent;
            }
        }

        &:disabled {
            border-color: $color-neutral-low-alt;

            &::before {
                background-color: $color-neutral-low-alt;
            }

            .stateLabel {
                color: $color-type-disabled-alt;
            }

            &.active {
                border-color: transparent;
                background-color: $color-neutral-low-alt;
            }
        }
    }
}
