// Microsoft branding color palette

//Core colors
$color-core-red: #E81123; //basel core
$color-core-green: #107c10; //basel core
$color-core-orange: #FFB900; //basel core

$color-core-teal: #00B294; //not basel
$color-core-lime: #7FBA00; //not basel
$color-core-magenta: #EC008C; //not basel
$color-core-purple: #68217A; //not basel


//Secondary colors
$color-core-blue: #00188F; //basel secondary


//Other accent colors
$color-core-yellow: #FFF100; //basel accent
$color-core-cyan: #00BCF2; //basel accent
$color-darker-blue: #002050;



//Accent color - designed to be replaced with any core accent color
$color-accent: rgb(0, 120, 215); //#0078D7
$color-accent-low: rgba($color-accent, 0.4); 
$color-accent-medium: rgba($color-accent, 0.6);
$color-accent-high: rgba($color-accent, 0.7);


//Greys
$color-chrome-10: #f2f2f2; 
$color-chrome-20: #e6e6e6; 
$color-chrome-30: #d2d2d2; //not controls ramp
$color-chrome-40: #cccccc;
$color-chrome-50: #767676; //not controls ramp
$color-chrome-60: #7a7a7a;
$color-chrome-70: #333333; //not on controls ramp
$color-chrome-80: #171717;

//Base colors
$color-base: #000;
$color-base-low: rgba($color-base, 0.1);
$color-base-medium-low: rgba($color-base, 0.2);
$color-base-medium: rgba($color-base, 0.4);
$color-base-medium-high: rgba($color-base, 0.6);
$color-base-high: rgba($color-base, 0.8);

//Alt colors
$color-alt: #fff;
$color-alt-low: rgba($color-alt, 0.1);
$color-alt-medium-low: rgba($color-alt, 0.2);
$color-alt-medium: rgba($color-alt, 0.4);
$color-alt-medium-high: rgba($color-alt, 0.6);
$color-alt-high: rgba($color-alt, 0.8);

