// Microsoft branding color palette


//Core colors
$win-color-core-yellow: #FFB900; 
$win-color-core-orange: #D83B01; 
$win-color-core-red: #E81123; 
$win-color-core-magenta: #B4009E; 
$win-color-core-purple: #5C2D91; 
$win-color-core-blue: #0078D7;
$win-color-core-teal: #008272; 
$win-color-core-green: #107c10; 

//Secondary colors
$win-color-secondary-magenta: #E3008C;
$win-color-secondary-purple: #32145A;
$win-color-secondary-blue: #00188F; 
$win-color-secondary-teal: #004B50; 
$win-color-secondary-green: #004B1C; 

//Tertiary colors
$win-color-tertiary-yellow: #FFF100;
$win-color-tertiary-orange: #FF8C00;
$win-color-tertiary-red: #A80000;
$win-color-tertiary-magenta: #5C005C;
$win-color-tertiary-purple: #B4A0FF;
$win-color-tertiary-cyan: #00BCF2; 
$win-color-tertiary-blue: #002050;
$win-color-tertiary-teal: #00B294; 
$win-color-tertiary-green: #BAD80A; 

//Primary brand color - designed to be replaced with any core accent color
$win-color-accent: $win-color-core-blue; 
$win-color-accent-low: rgba($win-color-accent, 0.4); 
$win-color-accent-medium: rgba($win-color-accent, 0.6);
$win-color-accent-high: rgba($win-color-accent, 0.7);

//Grays
$win-color-chrome-10: #f2f2f2; 
$win-color-chrome-20: #e6e6e6; 
$win-color-chrome-30: #d2d2d2; //not controls ramp
$win-color-chrome-40: #cccccc;
$win-color-chrome-50: #767676; //not controls ramp
$win-color-chrome-60: #7a7a7a;
$win-color-chrome-70: #333333; //not on controls ramp
$win-color-chrome-80: #171717;

//Base colors
$win-color-base: #000;
$win-color-base-low: rgba($win-color-base, 0.1);
$win-color-base-medium-low: rgba($win-color-base, 0.2);
$win-color-base-medium: rgba($win-color-base, 0.4);
$win-color-base-medium-high: rgba($win-color-base, 0.6);
$win-color-base-high: rgba($win-color-base, 0.8);

//Alt colors
$win-color-alt: #fff;
$win-color-alt-low: rgba($win-color-alt, 0.1);
$win-color-alt-medium-low: rgba($win-color-alt, 0.2);
$win-color-alt-medium: rgba($win-color-alt, 0.4);
$win-color-alt-medium-high: rgba($win-color-alt, 0.6);
$win-color-alt-high: rgba($win-color-alt, 0.8);
