#icons {
    i[class*="win-icon-"] {
        font-size: 2em;
    }
}

.color {
    height: 0;
    padding-bottom: 39px;
}

.line {
    border: 5px solid;
    padding-bottom: 29px;
}


// Base colors
&.color-light {
    background: $color-light;
}

&.color-dark {
    background: $color-dark;
}

&.color-accent {
    background: $color-accent;
}

&.color-alert {
    background: $color-alert;
}


// Text colors
&.color-type-primary {
    color: $color-type-primary;
}

&.color-type-secondary {
    color: $color-type-secondary;
}

&.color-type-disabled {
    color: $color-type-disabled;
}

&.color-type-accent {
    color: $color-type-accent;
}

&.color-type-alert {
    color: $color-type-alert;
}


// Alt text colors
&.color-type-primary-alt {
    color: $color-type-primary-alt;
}

&.color-type-secondary-alt {
    color: $color-type-secondary-alt;
}

&.color-type-disabled-alt {
    color: $color-type-disabled-alt;
}

&.color-type-accent-alt {
    color: $color-type-accent-alt;
}

&.color-type-alert-alt {
    color: $color-type-alert-alt;
}


// Fill colors
&.color-fill-dim-low {
    background-color: $color-dim-low;
}

&.color-fill-dim-mid {
    background-color: $color-dim-mid;
}

&.color-fill-neutral-low {
    background-color: $color-neutral-low;
}

&.color-fill-neutral-mid {
    background-color: $color-neutral-mid;
}

&.color-fill-neutral-high {
    background-color: $color-neutral-high;
}

&.color-fill-vivid-low {
    background-color: $color-vivid-low;
}

&.color-fill-vivid-mid {
    background-color: $color-vivid-mid;
}

&.color-fill-vivid-high {
    background-color: $color-vivid-high;
}


// Alt fill colors
&.color-fill-dim-mid-alt {
    background-color: $color-dim-mid-alt;
}

&.color-fill-dim-high-alt {
    background-color: $color-dim-high-alt;
}

&.color-fill-neutral-low-alt {
    background-color: $color-neutral-low-alt;
}

&.color-fill-neutral-mid-alt {
    background-color: $color-neutral-mid-alt;
}

&.color-fill-neutral-high-alt {
    background-color: $color-neutral-high-alt;
}

&.color-fill-vivid-low-alt {
    background-color: $color-vivid-low-alt;
}

&.color-fill-vivid-mid-alt {
    background-color: $color-vivid-mid-alt;
}

&.color-fill-vivid-high-alt {
    background-color: $color-vivid-high-alt;
}


// Line colors
&.color-line-dim-low {
    border-color: $color-dim-low;
}

&.color-line-dim-mid {
    border-color: $color-dim-mid;
}

&.color-line-neutral-low {
    border-color: $color-neutral-low;
}

&.color-line-neutral-mid {
    border-color: $color-neutral-mid;
}

&.color-line-neutral-high {
    border-color: $color-neutral-high;
}

&.color-line-vivid-low {
    border-color: $color-vivid-low;
}

&.color-line-vivid-mid {
    border-color: $color-vivid-mid;
}

&.color-line-vivid-high {
    border-color: $color-vivid-high;
}


// Alt line colors
&.color-line-dim-mid-alt {
    border-color: $color-dim-mid-alt;
}

&.color-line-dim-high-alt {
    border-color: $color-dim-high-alt;
}

&.color-line-neutral-low-alt {
    border-color: $color-neutral-low-alt;
}

&.color-line-neutral-mid-alt {
    border-color: $color-neutral-mid-alt;
}

&.color-line-neutral-high-alt {
    border-color: $color-neutral-high-alt;
}

&.color-line-vivid-low-alt {
    border-color: $color-vivid-low-alt;
}

&.color-line-vivid-mid-alt {
    border-color: $color-vivid-mid-alt;
}

&.color-line-vivid-high-alt {
    border-color: $color-vivid-high-alt;
}


// Background colors
&.color-bg-light-vivid-high {
    background-color: $color-bg-light-vivid-high;
}

&.color-bg-light-vivid-mid {
    background-color: $color-bg-light-vivid-mid;
}

&.color-bg-light-vivid-low {
    background-color: $color-bg-light-vivid-low;
}

&.color-bg-light-neutral-high {
    background-color: $color-bg-light-neutral-high;
}

&.color-bg-light-neutral-mid {
    background-color: $color-bg-light-neutral-mid;
}

&.color-bg-dark-vivid-high {
    background-color: $color-bg-dark-vivid-high;
}

&.color-bg-dark-vivid-mid {
    background-color: $color-bg-dark-vivid-mid;
}

&.color-bg-dark-vivid-low {
    background-color: $color-bg-dark-vivid-low;
}

&.color-bg-dark-neutral-high {
    background-color: $color-bg-dark-neutral-high;
}

&.color-bg-dark-neutral-mid {
    background: $color-bg-dark-neutral-mid;
}


// Accent background colors
&.color-fill-accent-dim-low {
    background-color: $color-accent-dim-low;
}

&.color-fill-accent-dim-mid {
    background-color: $color-accent-dim-mid;
}

&.color-fill-accent-dim-high {
    background-color: $color-accent-dim-high;
}

&.color-fill-accent-neutral-low {
    background-color: $color-accent-neutral-low;
}

&.color-fill-accent-neutral-mid {
    background-color: $color-accent-neutral-mid;
}

&.color-fill-accent-neutral-high {
    background-color: $color-accent-neutral-high;
}

&.color-fill-accent-vivid-low {
    background-color: $color-accent-vivid-low;
}

&.color-fill-accent-vivid-mid {
    background-color: $color-accent-vivid-mid;
}

&.color-fill-accent-vivid-high {
    background-color: $color-accent-vivid-high;
}

&.color-fill-alert {
    background-color: $color-alert;
}


// Accent line colors
&.color-line-accent-dim-low {
    border-color: $color-accent-dim-low;
}

&.color-line-accent-dim-mid {
    border-color: $color-accent-dim-mid;
}

&.color-line-accent-dim-high {
    border-color: $color-accent-dim-high;
}

&.color-line-accent-neutral-low {
    border-color: $color-accent-neutral-low;
}

&.color-line-accent-neutral-mid {
    border-color: $color-accent-neutral-mid;
}

&.color-line-accent-neutral-high {
    border-color: $color-accent-neutral-high;
}

&.color-line-accent-vivid-low {
    border-color: $color-accent-vivid-low;
}

&.color-line-accent-vivid-mid {
    border-color: $color-accent-vivid-mid;
}

&.color-line-accent-vivid-high {
    border-color: $color-accent-vivid-high;
}

&.color-line-alert {
    border-color: $color-alert;
}


// Primary brand background colors
&.color-bgc-blue {
    background-color: $color-bgc-blue;
}

&.color-bgc-purple {
    background-color: $color-bgc-purple;
}

&.color-bgc-magenta {
    background-color: $color-bgc-magenta;
}

&.color-bgc-red {
    background-color: $color-bgc-red;
}

&.color-bgc-orange {
    background-color: $color-bgc-orange;
}

&.color-bgc-yellow {
    background-color: $color-bgc-yellow;
}

&.color-bgc-green {
    background-color: $color-bgc-green;
}

&.color-bgc-teal {
    background-color: $color-bgc-teal;
}


// Brand content accent background colors
&.color-bgc-lightblue {
    background-color: $color-bgc-lightblue;
}

&.color-bgc-midblue {
    background-color: $color-bgc-midblue;
}

&.color-bgc-darkblue {
    background-color: $color-bgc-darkblue;
}

&.color-bgc-lightpurple {
    background-color: $color-bgc-lightpurple;
}

&.color-bgc-darkpurple {
    background-color: $color-bgc-darkpurple;
}

&.color-bgc-lightmagenta {
    background-color: $color-bgc-lightmagenta;
}

&.color-bgc-darkmagenta {
    background-color: $color-bgc-darkmagenta;
}

&.color-bgc-darkred {
    background-color: $color-bgc-darkred;
}

&.color-bgc-lightorange {
    background-color: $color-bgc-lightorange;
}

&.color-bgc-lightyellow {
    background-color: $color-bgc-lightyellow;
}

&.color-bgc-lightgreen {
    background-color: $color-bgc-lightgreen;
}

&.color-bgc-darkgreen {
    background-color: $color-bgc-darkgreen;
}

&.color-bgc-lightteal {
    background-color: $color-bgc-lightteal;
}

&.color-bgc-darkteal {
    background-color: $color-bgc-darkteal;
}


pre {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border: none;
    border-left: 8px solid $pre-border-color;
    font-size: $font-size-small;
}

code {
    .tag {
        color: #008080;

        .title {
            color: #800000;
        }
    }

    .value, .string {
        color: #0451A5;
    }

    .attribute {
        color: red;
    }

    .comment {
        color: #008000;
        font-style: italic;
    }

    .number {
        color: #09885A;
    }
}

.caption-style-example {
    font-size: 6.67vh;
    background: rgba(black, .5) !important;
    color: white;
}

//make it possible to see alt colors in docs
#alt-colors > .col-sm-6 {
    background-color: $color-type-primary;
}

//space out buttons in documentation easier
#buttons .btn {
    margin: 5px 0px;
}

.nav a, .win-section-title a {
    text-decoration: none;
}

#tiles > .row > .col-md-3 {
    margin-right: 8px;
}

.example-dark-image-bg {
    background-image: url('../images/example_dark.jpg');
    background-position: top left;
    background-size: cover;
}

.example-light-image-bg {
    background-image: url('../images/example_light.jpg');
    background-position: top right;
    background-size: cover;
}
