#icons {
    i[class*="win-icon-"] {
        font-size: 2em;
    }
}

.color {
    height: 0;
    padding-bottom: 39px;
}

.line {
    border: 5px solid;
    padding-bottom: 29px;
}

pre {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border: none;
    border-left: 8px solid $pre-border-color;
    font-size: $font-size-small;
}

code {
    .tag {
        color: #008080;

        .title {
            color: #800000;
        }
    }

    .value, .string {
        color: #0451A5;
    }

    .attribute {
        color: red;
    }

    .comment {
        color: #008000;
        font-style: italic;
    }

    .number {
        color: #09885A;
    }
}

.caption-style-example {
    font-size: 6.67vh;
    background: rgba(black, .5) !important;
    color: white;
}

//make it possible to see alt colors in docs
#alt-colors > .col-sm-6 {
    background-color: $color-type-primary;
}

//space out buttons in documentation easier
#buttons .btn {
    margin: 5px 0px;
}

.nav a, .win-section-title a {
    text-decoration: none;
}

#tiles > .row > .col-md-3 {
    margin-right: 8px;
}

.example-dark-image-bg {
    background-image: url('../images/example_dark.jpg');
    background-position: top left;
    background-size: cover;
}

.example-light-image-bg {
    background-image: url('../images/example_light.jpg');
    background-position: top right;
    background-size: cover;
}
