// Segoe font
@font-face{font-family:'wf_segoe-ui_normal';src:local('Segoe UI');font-weight:normal;font-style:normal}
@font-face{font-family:'wf_segoe-ui_light';src:local('Segoe UI Light');font-weight:normal;font-style:normal}
@font-face{font-family:'wf_segoe-ui_semibold';src:local('Segoe UI Semibold');font-weight:normal;font-style:normal}
@font-face{font-family:'wf_segoe-ui_bold';src:local('Segoe UI Bold');font-weight:normal;font-style:normal}

// Icon font
@font-face {
  font-family: "winjs-symbols";
  src: url("#{$icon-font-path}/winjs-symbols.eot");
  src: url("#{$icon-font-path}/winjs-symbols.eot?#iefix") format("embedded-opentype"),
  	   url("#{$icon-font-path}/winjs-symbols.woff") format("woff"),
       url("#{$icon-font-path}/winjs-symbols.ttf") format("truetype");
}

$font-family-light: "wf_segoe-ui_light", "Arial", sans-serif;
$font-family-normal: "wf_segoe-ui_normal", "Arial", sans-serif;
$font-family-semibold: "wf_segoe-ui_semibold", "Arial", sans-serif;
$font-family-bold: "wf_segoe-ui_bold", "Arial", sans-serif;