// Generic glyph placeholder
%glyph {
    display: inline-block;
    width: 1em; height: 1em;
    vertical-align: middle;
    overflow: hidden;

    &:before {
        display: block;
        width: 1em; height: 1em;
        font-family: "winjs-symbols";
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

// Use the tag <i class="glyph-..."> to display glyphs
i[class*="glyph-"] {
    @extend %glyph;
}

// List of glyphs with their associated UTF-8 private space
$glyphs: (
    scrollChevronUpBoldLegacy: "\E018",
    scrollChevronDownBoldLegacy: "\E019",
    checkmarkListviewLegacy: "\E081",
    ratingStarFillReducedPaddingHTMLLegacy: "\E082",
    searchboxLegacy: "\E094",
    semanticZoomLegacy: "\E0B8",
    arrowHTMLLegacy: "\E0D5",
    arrowHTMLMirroredLegacy: "\E0AE",
    chevronFlipLeftLegacy: "\E0E2",
    chevronFlipRightLegacy: "\E0E3",
    ChevronFlipUpLegacy: "\E0E4",
    chevronFlipDownLegacy: "\E0E5",
    checkmarkMenuLegacy: "\E0E7",
    ratingStarLegacy: "\E224",
    chevronRightSmLegacy: "\E26B",
    chevronLeftSmLegacy: "\E26C",
    previousLegacy: "\E100",
    nextLegacy: "\E101",
    playLegacy: "\E102",
    pauseLegacy: "\E103",
    editLegacy: "\E104",
    saveLegacy: "\E105",
    clearLegacy: "\E106",
    deleteLegacy: "\E107",
    removeLegacy: "\E108",
    addLegacy: "\E109",
    cancelLegacy: "\E10A",
    acceptLegacy: "\E10B",
    moreLegacy: "\E10C",
    redoLegacy: "\E10D",
    undoLegacy: "\E10E",
    homeLegacy: "\E10F",
    upLegacy: "\E110",
    forwardLegacy: "\E111",
    backLegacy: "\E112",
    favoriteLegacy: "\E113",
    cameraLegacy: "\E114",
    settingsLegacy: "\E115",
    videoLegacy: "\E116",
    syncLegacy: "\E117",
    downloadLegacy: "\E118",
    mailLegacy: "\E119",
    findLegacy: "\E11A",
    helpLegacy: "\E11B",
    uploadLegacy: "\E11C",
    emojiLegacy: "\E11D",
    twoPageLegacy: "\E11E",
    leaveChatLegacy: "\E11F",
    mailForwardLegacy: "\E120",
    clockLegacy: "\E121",
    sendLegacy: "\E122",
    cropLegacy: "\E123",
    rotateCameraLegacy: "\E124",
    peopleLegacy: "\E125",
    closePaneLegacy: "\E126",
    openPaneLegacy: "\E127",
    worldLegacy: "\E128",
    flagLegacy: "\E129",
    previewLinkLegacy: "\E12A",
    globeLegacy: "\E12B",
    trimLegacy: "\E12C",
    attachCameraLegacy: "\E12D",
    zoomInLegacy: "\E12E",
    bookmarksLegacy: "\E12F",
    documentLegacy: "\E130",
    protecteddocumentLegacy: "\E131",
    pageFillLegacy: "\E132",
    multiSelectLegacy: "\E133",
    commentLegacy: "\E134",
    mailFillLegacy: "\E135",
    contactInfoLegacy: "\E136",
    hangUpLegacy: "\E137",
    viewAllLegacy: "\E138",
    mapPinLegacy: "\E139",
    phoneLegacy: "\E13A",
    videoChatLegacy: "\E13B",
    switchLegacy: "\E13C",
    contactLegacy: "\E13D",
    renameLegacy: "\E13E",
    pinLegacy: "\E141",
    musicInfoLegacy: "\E142",
    goLegacy: "\E143",
    keyBoardLegacy: "\E144",
    dockLeftLegacy: "\E145",
    dockRightLegacy: "\E146",
    dockBottomLegacy: "\E147",
    remoteLegacy: "\E148",
    refreshLegacy: "\E149",
    rotateLegacy: "\E14A",
    shuffleLegacy: "\E14B",
    listLegacy: "\E14C",
    shopLegacy: "\E14D",
    selectAllLegacy: "\E14E",
    orientationLegacy: "\E14F",
    importLegacy: "\E150",
    importAllLegacy: "\E151",
    browsePhotosLegacy: "\E155",
    webcamLegacy: "\E156",
    pictureLegacy: "\E158",
    saveLocalLegacy: "\E159",
    captionLegacy: "\E15A",
    stopLegacy: "\E15B",
    showResultsLegacy: "\E15C",
    volumeLegacy: "\E15D",
    repairLegacy: "\E15E",
    messageLegacy: "\E15F",
    pageLegacy: "\E160",
    calendarDayLegacy: "\E161",
    calendarWeekLegacy: "\E162",
    calendarLegacy: "\E163",
    charactersLegacy: "\E164",
    mailReplyAllLegacy: "\E165",
    readLegacy: "\E166",
    linkLegacy: "\E167",
    accountsLegacy: "\E168",
    showBccLegacy: "\E169",
    hideBccLegacy: "\E16A",
    cutLegacy: "\E16B",
    attachLegacy: "\E16C",
    pasteLegacy: "\E16D",
    filterLegacy: "\E16E",
    copyLegacy: "\E16F",
    emoji2Legacy: "\E170",
    importantLegacy: "\E171",
    mailReplyLegacy: "\E172",
    slideshowLegacy: "\E173",
    sortLegacy: "\E174",
    manageLegacy: "\E178",
    allAppsLegacy: "\E179",
    disconnectDriveLegacy: "\E17A",
    mapDriveLegacy: "\E17B",
    newWindowLegacy: "\E17C",
    openWithLegacy: "\E17D",
    contactPresenceLegacy: "\E181",
    priorityLegacy: "\E182",
    uploadSkyDriveLegacy: "\E183",
    gotoTodayLegacy: "\E184",
    fontLegacy: "\E185",
    fontColorLegacy: "\E186",
    contact2Legacy: "\E187",
    folderLegacy: "\E188",
    audioLegacy: "\E189",
    placeholderLegacy: "\E18A",
    viewLegacy: "\E18B",
    setlockScreenLegacy: "\E18C",
    setTileLegacy: "\E18D",
    ccLegacy: "\E190",
    stopSlideshowLegacy: "\E191",
    permissionsLegacy: "\E192",
    highlightLegacy: "\E193",
    disableUpdatesLegacy: "\E194",
    unfavoriteLegacy: "\E195",
    unpinLegacy: "\E196",
    openLocalLegacy: "\E197",
    muteLegacy: "\E198",
    italicLegacy: "\E199",
    underlineLegacy: "\E19A",
    boldLegacy: "\E19B",
    moveToFolderLegacy: "\E19C",
    likeDislikeLegacy: "\E19D",
    dislikeLegacy: "\E19E",
    likeLegacy: "\E19F",
    alignRightLegacy: "\E1A0",
    alignCenterLegacy: "\E1A1",
    alignLeftLegacy: "\E1A2",
    zoomLegacy: "\E1A3",
    zoomOutLegacy: "\E1A4",
    openFileLegacy: "\E1A5",
    otherUserLegacy: "\E1A6",
    adminLegacy: "\E1A7",
    streetLegacy: "\E1C3",
    mapLegacy: "\E1C4",
    clearSelectionLegacy: "\E1C5",
    fontDecreaseLegacy: "\E1C6",
    fontIncreaseLegacy: "\E1C7",
    fontSizeLegacy: "\E1C8",
    cellPhoneLegacy: "\E1C9",
    reshareLegacy: "\E1CA",
    tagLegacy: "\E1CB",
    repeatOneLegacy: "\E1CC",
    repeatAllLegacy: "\E1CD",
    outlineStarLegacy: "\E1CE",
    solidStarLegacy: "\E1CF",
    calculatorLegacy: "\E1D0",
    directionsLegacy: "\E1D1",
    locationLegacy: "\E1D2",
    libraryLegacy: "\E1D3",
    phoneBookLegacy: "\E1D4",
    memoLegacy: "\E1D5",
    microphoneLegacy: "\E1D6",
    postUpdateLegacy: "\E1D7",
    backToWindowLegacy: "\E1D8",
    fullScreenLegacy: "\E1D9",
    newFolderLegacy: "\E1DA",
    calendarReplyLegacy: "\E1DB",
    unsyncFolderLegacy: "\E1DD",
    reportHackedLegacy: "\E1DE",
    syncFolderLegacy: "\E1DF",
    blockContactLegacy: "\E1E0",
    switchAppsLegacy: "\E1E1",
    addFriendLegacy: "\E1E2",
    touchPointerLegacy: "\E1E3",
    goToStartLegacy: "\E1E4",
    zeroBarsLegacy: "\E1E5",
    oneBarLegacy: "\E1E6",
    twoBarsLegacy: "\E1E7",
    threeBarsLegacy: "\E1E8",
    fourBarsLegacy: "\E1E9",
    scanLegacy: "\E294",
    previewLegacy: "\E295",
    globalNavButton: "\E700",
    checkboxComposite: "\E73A",
    checkboxIndeterminate: "\E73C",
    warning: "\E7BA",
    shoppingCart: "\E7BF",
    flag2: "\E7C1",
    completed: "\E930",
    musicAlbum: "\E93C",
    info: "\E946",
    devices3: "\EA6C",
    expand: "\ECC8",
    collapse: "\ECC9",
    radioBtnOff: "\ECCA",
    radioBtnOn: "\ECCB",
    radioBullet2: "\ECCC",
    mediaBrowse: "\ECCD",
);

// Generate glyph-* classes
@each $glyph, $code in $glyphs {
    .glyph-#{$glyph}:before { content: $code; }
}


// Checkbox & Radio Buttons
.checkbox label {
    input:checked ~ span::before {
        content: map-get($glyphs, checkmarkListviewLegacy);
    }
    input:indeterminate ~ span::before {
        content: "■"; // Use "\E73C" when we get MDL Symbols font
    }
}

.radio label {
    input:checked ~ span::before {
        content: "•"; // Replace this when we get MDL Symbols font
    }
}
