// Generic icon placeholder
%icon {
    display: inline-block;
    width: 1em; height: 1em;
    vertical-align: middle;
    overflow: hidden;

    &:before {
        display: block;
        width: 1em; height: 1em;
        font-family: "winjs-symbols";
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

// Use the tag <i class="icon-..."> to display icons
i[class*="icon-"] {
    @extend %icon;
}

// List of icons with their associated UTF-8 private space
$icons: (
    scrollup: "\E018",
    scrolldown: "\E019",
    checkbox: "\E081",
    ratingstar: "\E082",
    magnifier: "\E094",
    magnifiertool: "\E0B8",
    backarrow: "\E0D5",
    forwardarrow: "\E0AE",
    flipviewleft: "\E0E2",
    flipviewright: "\E0E3",
    flipviewup: "\E0E4",
    flipviewdown: "\E0E5",
    menucheckmark: "\E0E7",
    ratingstaroutline: "\E224",
    grouparrowright: "\E26B",
    grouparrowleft: "\E26C",

    previous: "\E100",
    next: "\E101",
    play: "\E102",
    pause: "\E103",
    edit: "\E104",
    save: "\E105",
    clear: "\E106",
    delete: "\E107",
    remove: "\E108",
    add: "\E109",
    cancel: "\E10A",
    accept: "\E10B",
    more: "\E10C",
    redo: "\E10D",
    undo: "\E10E",
    home: "\E10F",
    up: "\E110",
    forward: "\E111",
    right: "\E111",
    back: "\E112",
    left: "\E112",
    favorite: "\E113",
    camera: "\E114",
    settings: "\E115",
    video: "\E116",
    sync: "\E117",
    download: "\E118",
    mail: "\E119",
    find: "\E11A",
    help: "\E11B",
    upload: "\E11C",
    emoji: "\E11D",
    twopage: "\E11E",
    leavechat: "\E11F",
    mailforward: "\E120",
    clock: "\E121",
    send: "\E122",
    crop: "\E123",
    rotatecamera: "\E124",
    people: "\E125",
    closepane: "\E126",
    openpane: "\E127",
    world: "\E128",
    flag: "\E129",
    previewlink: "\E12A",
    globe: "\E12B",
    trim: "\E12C",
    attachcamera: "\E12D",
    zoomin: "\E12E",
    bookmarks: "\E12F",
    document: "\E130",
    protecteddocument: "\E131",
    page: "\E132",
    bullets: "\E133",
    comment: "\E134",
    mail2: "\E135",
    contactinfo: "\E136",
    hangup: "\E137",
    viewall: "\E138",
    mappin: "\E139",
    phone: "\E13A",
    videochat: "\E13B",
    switch: "\E13C",
    contact: "\E13D",
    rename: "\E13E",
    pin: "\E141",
    musicinfo: "\E142",
    go: "\E143",
    keyboard: "\E144",
    dockleft: "\E145",
    dockright: "\E146",
    dockbottom: "\E147",
    remote: "\E148",
    refresh: "\E149",
    rotate: "\E14A",
    shuffle: "\E14B",
    list: "\E14C",
    shop: "\E14D",
    selectall: "\E14E",
    orientation: "\E14F",
    import: "\E150",
    importall: "\E151",
    browsephotos: "\E155",
    webcam: "\E156",
    pictures: "\E158",
    savelocal: "\E159",
    caption: "\E15A",
    stop: "\E15B",
    showresults: "\E15C",
    volume: "\E15D",
    repair: "\E15E",
    message: "\E15F",
    page2: "\E160",
    calendarday: "\E161",
    calendarweek: "\E162",
    calendar: "\E163",
    characters: "\E164",
    mailreplyall: "\E165",
    read: "\E166",
    link: "\E167",
    accounts: "\E168",
    showbcc: "\E169",
    hidebcc: "\E16A",
    cut: "\E16B",
    attach: "\E16C",
    paste: "\E16D",
    filter: "\E16E",
    copy: "\E16F",
    emoji2: "\E170",
    important: "\E171",
    mailreply: "\E172",
    slideshow: "\E173",
    sort: "\E174",
    manage: "\E178",
    allapps: "\E179",
    disconnectdrive: "\E17A",
    mapdrive: "\E17B",
    newwindow: "\E17C",
    openwith: "\E17D",
    contactpresence: "\E181",
    priority: "\E182",
    uploadskydrive: "\E183",
    gototoday: "\E184",
    font: "\E185",
    fontcolor: "\E186",
    contact2: "\E187",
    folder: "\E188",
    audio: "\E189",
    placeholder: "\E18A",
    view: "\E18B",
    setlockscreen: "\E18C",
    settile: "\E18D",
    cc: "\E190",
    stopslideshow: "\E191",
    permissions: "\E192",
    highlight: "\E193",
    disableupdates: "\E194",
    unfavorite: "\E195",
    unpin: "\E196",
    openlocal: "\E197",
    mute: "\E198",
    italic: "\E199",
    underline: "\E19A",
    bold: "\E19B",
    movetofolder: "\E19C",
    likedislike: "\E19D",
    dislike: "\E19E",
    like: "\E19F",
    alignright: "\E1A0",
    aligncenter: "\E1A1",
    alignleft: "\E1A2",
    zoom: "\E1A3",
    zoomout: "\E1A4",
    openfile: "\E1A5",
    otheruser: "\E1A6",
    admin: "\E1A7",
    street: "\E1C3",
    map: "\E1C4",
    clearselection: "\E1C5",
    fontdecrease: "\E1C6",
    fontincrease: "\E1C7",
    fontsize: "\E1C8",
    cellphone: "\E1C9",
    reshare: "\E1CA",
    tag: "\E1CB",
    repeatone: "\E1CC",
    repeatall: "\E1CD",
    outlinestar: "\E1CE",
    solidstar: "\E1CF",
    calculator: "\E1D0",
    directions: "\E1D1",
    target: "\E1D2",
    library: "\E1D3",
    phonebook: "\E1D4",
    memo: "\E1D5",
    microphone: "\E1D6",
    postupdate: "\E1D7",
    backtowindow: "\E1D8",
    fullscreen: "\E1D9",
    newfolder: "\E1DA",
    calendarreply: "\E1DB",
    unsyncfolder: "\E1DD",
    reporthacked: "\E1DE",
    syncfolder: "\E1DF",
    blockcontact: "\E1E0",
    switchapps: "\E1E1",
    addfriend: "\E1E2",
    touchpointer: "\E1E3",
    gotostart: "\E1E4",
    zerobars: "\E1E5",
    onebar: "\E1E6",
    twobars: "\E1E7",
    threebars: "\E1E8",
    fourbars: "\E1E9",
    scan: "\E294",
    preview: "\E295",
    hamburger: "\E700"
);

@each $glyph, $code in $icons {
    .icon-#{$glyph}:before { content: $code; }
}


// Checkbox & Radio Buttons
.checkbox label {
    input:checked ~ span::before {
        content: map-get($icons, checkbox);
    }
    input:indeterminate ~ span::before {
        content: "■"; // Use "\E73C" when we get MDL Symbols font
    }
}

.radio label {
    input:checked ~ span::before {
        content: "•"; // Replace this when we get MDL Symbols font
    }
}
