.pagination {
    @include clearfix();

    li.pagination-ellipsis {
        > span {
            border-color: transparent;
            background: none;
            color: $text-color;
            margin: 5px 0;
            padding: 4px 0 5px;
            min-width: 18px;
        }
    }

    li.pagination-prev,
    li.pagination-next {
        i[class*="icon"] {
            margin: 0 2px;
            font-size: .813em;
            vertical-align: -.1em;
        }

        &.disabled {
            display: none;
        }

        > a, > span {
            background: none;
            border-color: transparent;
            margin: 0 5px;
            &:hover {
                background-color: $color-dim-mid;
            }
            &:focus {
                background-color: $color-neutral-mid;
            }
        }
    }
    li.pagination-prev {
        > a, > span {
            padding: 10px 10px 10px 0;
        }
    }
    li.pagination-next {
        > a, > span {
            padding: 10px 7px 10px 10px;
        }
    }
    &.theme-alt {
        > li {
            > a, > span {
                color: $color-type-primary-alt;
                &:hover {
                    background-color: $color-dim-mid-alt;
                }
                &:focus {
                    background-color: $color-neutral-mid-alt;
                }
            }
        }
        > .active > a,
        > .active > span {
            &:hover,
            &:focus {
              color: $color-type-primary-alt;
              background-color: $pagination-active-bg;
            }
        }
    }
}

@media (min-width: $screen-sm) {
    .pagination-prev {
        > a, > span {
            &:after {
                content: attr(aria-label);
            }
        }
    }

    .pagination-next {
        > a, > span {
            &:before {
                content: attr(aria-label);
            }
        }
    }
}
