// Rating component with stars
.win-rating {
    .win-rating-label {
        @include win-type-title(no-line-height);
        line-height: 44px;
        margin-bottom: 1px;
        vertical-align: bottom;

        &.win-rating-label-left {
            display: inline-block;
            margin-right: 16px;
        }

        &.win-rating-label-right {
            display: inline-block;
        }
    }

    .win-rating-stars {
        position: relative;
        display: inline-block;
        font-size: 24px;
        line-height: 1;
        margin-left: -10px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            white-space: nowrap;

            li {
                display: inline-block;
                padding: 6px 10px 10px;
            }
        }

        .win-rating-stars-value {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
        }

        .win-rating-stars-input {
            position: absolute;
            top: 0;
            left: 0;

            .win-rating-btn {
                padding: 6px 10px 10px;
                border: none;
                line-height: 1;
                background: none;

                .win-icon-ratingstar {
                    visibility: hidden;
                }

                &.active .win-icon-ratingstar {
                    visibility: visible;
                }
            }
        }
    }

    &.win-rating-small {
        .win-rating-label {
            @include win-type-caption(no-line-height);
            line-height: 16px;

            &.win-rating-label-left {
                margin-right: 5px;
            }

            &.win-rating-label-right {
                margin-left: 3px;
            }
        }

        .win-rating-stars {
            font-size: 12px;
            margin-left: -2px;

            ul {
                li {
                    padding: 0px 2px 2px;
                }
            }

            .win-rating-stars-input {
                .win-rating-btn {
                    padding: 0px 2px 2px;
                }
            }
        }
    }

    // Default colors
    .win-rating-stars {
        .win-icon-ratingstar {
            color: $win-color-fl-25;
        }
    }

    .win-rating-stars-value {
        .win-icon-ratingstar {
            color: $win-color-fl-70;
        }

        &.win-rating-stars-value-user {
            .win-icon-ratingstar {
                color: $win-color-fl-accent;
            }
        }
    }

    .win-rating-btn.active {
        .win-icon-ratingstar {
            color: $win-color-fl-60;
        }
    }

    .win-rating-label {
        color: $win-color-type-primary;
    }

    // Alt colors
    &.win-color-alt {
        .win-rating-stars {
            .win-icon-ratingstar {
                color: $win-color-fl-25-alt;
            }
        }

        .win-rating-stars-value {
            .win-icon-ratingstar {
                color: $win-color-fl-70-alt;
            }

            &.win-rating-stars-value-user {
                .win-icon-ratingstar {
                    color: $win-color-fl-accent;
                }
            }
        }

        .win-rating-btn.active {
            .win-icon-ratingstar {
                color: $win-color-fl-60-alt;
            }
        }

        .win-rating-label {
            color: $win-color-type-primary-alt;
        }
    }
}