.win-refine-list {
    .panel {
        box-shadow: none;
    }

    .panel-heading {
        padding: 10px 0;
        border-bottom: 1px solid $panel-inner-border;

        a {
            position: relative;
            display: block;
            padding: 0 0 0 25px;
        }

        .icon-expand,
        .icon-collapse {
            position: absolute;
            top: 3px;
            left: 0;
        }
    }

    [aria-expanded="false"] {
        .icon-collapse,
        .win-refine-list-less {
            display: none;
        }
    }

    [aria-expanded="true"] {
        .icon-expand,
        .win-refine-list-more {
            display: none;
        }
    }

    .panel-title {
        font-size: 1em;
        font-family: $win-font-bold;

        a {
            text-decoration: none;
        }
    }

    .panel-footer {
        position: relative;
        padding: 10px 0;
        border-top: none;

        .icon-expand,
        .icon-collapse {
            position: absolute;
            top: 13px;
            left: 0;
        }
    }

    .list-group-item {
        position: relative;
        padding: 5px 10px 5px 25px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

        &.active {
            text-decoration: none;
            cursor: default;
        }
    }

    input[type="radio"] {
        position: absolute;
        top: 6px;
        left: 2px;
    }

    .icon-radio,
    .icon-radio-check {
        position: absolute;
        top: 9px;
        left: 2px;
    }

    .icon-radio-check {
        color: $brand-primary;
    }
}

.win-refine-list-title {
    margin-top: 0;
}

.win-refine-list-clear {
    margin-bottom: 1em;
}
