p {
    margin: spacer(xxs) 0 0;
    padding: 0 spacer(xs) 0 0;

    @media (min-width: $screen-md-min) {
        margin: spacer(xs) 0 0;
        padding: 0 spacer(xs) 0 0;
    }

    @media (min-width: $screen-xl-min) {
        margin: spacer(xs) 0 0;
        padding: 0 spacer(xxs) 0 0;
    }
}

hr {

    // 
    // Colors 
    //

    // Default colors
    border-color: $color-neutral-low;

    // Alt theme
    &.theme-alt {
        border-color:  $color-neutral-low-alt;
    }
}