p {
    padding: 0 spacer(xs) 0 0;
    @include set-spacing();

    @media (min-width: $screen-md-min) {
        padding: 0 spacer(xs) 0 0;
    }

    @media (min-width: $screen-xl-min) {
        padding: 0 spacer(xxs) 0 0;
    }
}
