.table {
  //Sortable table
  &.table-sortable {
    thead {
      th {
        font-size: 11px;
        font-weight: normal;
        border-bottom: 1px solid black(10%);
        &:last-child {
          text-align: right;
        }
      }
    }
    tr {

    td {
      .icon-more {
        float: right;
      }
      &:last-child {
        text-align: right;
      }
    }
      &:hover {
        td {
          background: black(10%);

        }
      }
    }
  }
}
