.win-tile {
    display: block;
    cursor: pointer;
    min-width: 75px;
    min-height: 75px;
    text-align: center;
    background: #0078D7;
    z-index: 1;
    color: $win-color-light;
    border: 2px rgba(0,0,0,0) solid;


    &.win-tile-medium {
        height: 150px;
        width: 150px;
    }

    &.win-tile-small {
        height: 70px;
        width: 70px;

        & .win-tile-icon {
            margin-top: 6px;
        }
    }

    &.win-tile-wide {
        height: 150px;
        width: 310px;
    }

    &:hover {
        border: 2px $win-color-fl-50 solid;
    }

    &:active, &.active {
        border: 2px $win-color-fl-60 solid;
    }

    .win-tile-icon {
        font-size: 4em;
        margin-top: 23px;
    }

    a {
        color: $win-color-light;
        text-decoration: none;
    }

    div {
        margin-top: 1em;
    }

    .win-tile-title {
        float: left;
        padding-left: 16px;
    }

    .win-tile-notification {
        float: right;
        padding-right: 16px;
    }
}
