// Icon font
@font-face {
  font-family: "winjs-symbols";
  src: url("#{$icon-font-path}/winjs-symbols.eot");
  src: url("#{$icon-font-path}/winjs-symbols.eot#iefix") format("embedded-opentype"),
       url("#{$icon-font-path}/winjs-symbols.ttf") format("truetype");
}

@font-face {
  font-family: "Selawik";
  src: url("../fonts/selawk.eot");
  src: url("../fonts/selawk.eot#iefix") format("embedded-opentype"),
       url("../fonts/selawk.ttf") format("truetype");
}

@font-face {
  font-family: "Selawik Bold";
  src: url("../fonts/selawkb.eot");
  src: url("../fonts/selawkb.eot#iefix") format("embedded-opentype"),
       url("../fonts/selawkb.ttf") format("truetype");
}

@font-face {
  font-family: "Selawik Light";
  src: url("../fonts/selawkl.eot");
  src: url("../fonts/selawkl.eot#iefix") format("embedded-opentype"),
       url("../fonts/selawkl.ttf") format("truetype");
}

@font-face {
  font-family: "Selawik Semibold";
  src: url("../fonts/selawksb.eot");
  src: url("../fonts/selawksb.eot#iefix") format("embedded-opentype"),
       url("../fonts/selawksb.ttf") format("truetype");
}

@font-face {
  font-family: "Selawik Semilight";
  src: url("../fonts/selawksl.eot");
  src: url("../fonts/selawksl.eot#iefix") format("embedded-opentype"),
       url("../fonts/selawksl.ttf") format("truetype");
}

//Typography mixins
@mixin win-type-headline {
    font-size: $win-font-size-headline;
    font-weight: $win-font-weight-headline;
    font-family: $win-font-family-headline;
    line-height: 1.29032; // 80px
    letter-spacing: 0px;
}
@mixin win-type-header {
    font-size: $font-size-h1;
    font-weight: $win-font-weight-h1;
    font-family: $win-font-family-h1;
    line-height: 1.216;
    letter-spacing: 0px;
}
@mixin win-type-subheader {
    font-size: $font-size-h2;
    font-weight: $win-font-weight-h2;
    font-family: $win-font-family-h2;
    line-height: 1.176;
}
@mixin win-type-title {
    font-size: $font-size-h3;
    font-weight: $win-font-weight-h3;
    font-family: $win-font-family-h3;
    line-height: 1.167;
}
@mixin win-type-subtitle {
    font-size: $font-size-h4;
    font-weight: $win-font-weight-h4;
    font-family: $win-font-family-h4;
    line-height: 1.2;
}
@mixin win-type-base {
    font-size: $font-size-h5;
    font-weight: $win-font-weight-h5;
    font-family: $win-font-family-h5;
    line-height: 1.333;
}
@mixin win-type-body {
    font-size: $win-font-size-body;
    font-weight: $win-font-weight-body;
    font-family: $win-font-family-body;
    line-height: 1.333;
}
@mixin win-type-caption {
    font-size: $font-size-h6;
    font-weight: $win-font-weight-h6;
    font-family: $win-font-family-h6;
    line-height: 1.167;
}
@mixin win-type-caption-alt {
    font-size: $win-font-size-caption-alt;
    font-weight: $win-font-weight-caption-alt;
    font-family: $win-font-family-caption-alt;
    line-height: 1.2;
}
@mixin win-type-subcaption {
    font-size: $win-font-size-subcaption;
    font-weight: $win-font-weight-subcaption;
    font-family: $win-font-family-subcaption;
    line-height: 1.25;
}

// Apply mixins to typography classes
.win-type-headline, .text-headline {
    @include win-type-headline();
}
h1, .h1, .win-type-header, .text-header {
    @include win-type-header();
}
h2, .h2, .win-type-subheader, .text-subheader {
    @include win-type-subheader();
}
h3, .h3, .win-type-title, .text-title {
    @include win-type-title();
}
h4, .h4, .win-type-subtitle, .text-subtitle {
    @include win-type-subtitle();
}
h5, .h5, .win-type-base, .text-base {
    @include win-type-base();
}
p, .win-type-body, .text-body {
    @include win-type-body();
}
h6, .h6, .win-type-caption, .text-caption {
    @include win-type-caption();
}
.win-type-caption-alt, .text-caption-alt {
   @include win-type-caption-alt();
}
.win-type-subcaption, .text-subcaption {
    @include win-type-subcaption();
}

