$win-font-size-headline: 62px !default;
$win-font-size-body: 15px !default;
$win-font-size-caption-alt: 10px !default;
$win-font-size-subcaption: 8px !default;

$win-font-family-headline: "Segoe UI Light" !default;
$win-font-family-body: "Segoe UI" !default;
$win-font-family-caption-alt: "Segoe UI" !default;
$win-font-family-subcaption: "Segoe UI" !default;
$win-font-family-h1: "Segoe UI Light" !default;
$win-font-family-h2: "Segoe UI Light" !default;
$win-font-family-h3: "Segoe UI Semilight" !default;
$win-font-family-h4: "Segoe UI" !default;
$win-font-family-h5: "Segoe UI Semibold" !default;
$win-font-family-h6: "Segoe UI" !default;

$win-font-weight-headline: 200 !default;
$win-font-weight-body: 400 !default;
$win-font-weight-caption-alt: 400 !default;
$win-font-weight-subcaption: 400 !default;
$win-font-weight-h1: 200 !default;
$win-font-weight-h2: 200 !default;
$win-font-weight-h3: 300 !default;
$win-font-weight-h4: 400 !default;
$win-font-weight-h5: 500 !default;
$win-font-weight-h6: 400 !default;
