<div class="alert-stack">

    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <div class="container">
            <div class="row">
                <div class="col-xs-24">
                    Alert example. If your playback didn’t start, it’s likely because you don’t have the Video app installed,
                    <a href="#">click here</a> to install it from the store.
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <div class="container">
            <div class="row">
                <div class="col-xs-24">
                    Another stacked alert example.
                </div>
            </div>
        </div>
    </div>

</div>
