<section class="win-section">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#stack">Alert stack</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-xs-24">

            {{#markdown}}
```xml
<!-- This tag should be a child of the body -->
<div class="win-alert-stack">

    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <div class="container">
            <div class="row">
                <div class="col-xs-24">
                    Alert example, <a href="#">click here</a>.
                </div>
            </div>
        </div>
    </div>

    <!-- We can stack other alert components here -->
</div>
```
            {{/markdown}}
            
            <p>The required JavaScript to initialize the <a href="http://getbootstrap.com/javascript/#affix" target="_blank">Affix Boostrap component</a>:</p>

            {{#markdown}}
```javascript
$(function () {
    var alertStack = $('.win-alert-stack');

    if (alertStack.length == 0) {
        return;
    }

    alertStack.affix({
        offset: {
            top: alertStack.offset().top
        }
    });
});
```
            {{/markdown}}

        </div>
    </div>
</section>

<section class="win-section" id="inline">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#inline">Inline alert</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-xs-24">

            <div class="alert alert-info alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4>Info alert example</h4>
                <p>
                    If your playback didn’t start, it’s likely because you don’t have the Video app installed,
                    <a href="#">click here</a> to install it from the store.
                </p>
            </div>

            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4>Warning alert example</h4>
                <p>
                    If your playback didn’t start, it’s likely because you don’t have the Video app installed,
                    <a href="#">click here</a> to install it from the store.
                </p>
            </div>

            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4>Danger alert example</h4>
                <p>
                    If your playback didn’t start, it’s likely because you don’t have the Video app installed,
                    <a href="#">click here</a> to install it from the store.
                </p>
            </div>

            {{#markdown}}
```xml
<div class="alert [alert-info] [alert-warning] [alert-danger] alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <h4>Alert title</h4>
    <p>Alert message</p>
</div>
```
            {{/markdown}}

        </div>
    </div>
</section>
