<div class="alert-stack">

    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="glyph glyph-cancel"></i></span>
        </button>

        <div class="container">
            <div class="row">
                <div class="col-md-20">
                    <p>Alert example. If your playback didn’t start, it’s likely because you don’t have the Video app installed. Alert example. If your playback didn’t start, it’s likely because you don’t have the Video app installed.</p>
                </div>
                <div class="col-md-4">
                    <p>
                        <a href="#" class="pull-right hidden-xs hidden-sm">Click here</a>
                        <a href="#" class="visible-xs-inline visible-sm-inline hidden-md">Click here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="glyph glyph-cancel"></i></span>
        </button>

        <div class="container">
            <div class="row">
                <div class="col-xs-24">
                    <p>Another stacked alert example.</p>
                </div>
            </div>
        </div>
    </div>

</div>
