<div class="row">
    <div class="col-xs-24">
        <section class="win-section" id="buttons">
            <header class="win-section-header ">
                <h1 class="win-section-title ">
                    <a href="#buttons">Buttons</a>
                </h1>
            </header>

            <div class="row">
                <div class="col-md-24">
                    <p>The colors used for the background and text of buttons have been vetted to meet a minimum color contrast ratio of 4.5:1 for accesibility purposes.</p>
                </div>
                <div class="col-md-12">
                    <p><strong>Using <code>&lt;a&gt;</code> tag.</strong> The <code>&lt;a&gt;</code> tag should be used for links between pages, not for JavaScript actions.</p>
                    <p>Rest state</p>
                    <p>
                        <a href="" class="btn btn-default">Default</a>
                        <a href="" class="btn btn-primary">Primary</a>
                        <a href="" class="btn btn-success">Success</a>
                        <a href="" class="btn btn-info">Info</a>
                        <a href="" class="btn btn-warning">Warning</a>
                        <a href="" class="btn btn-danger">Danger</a>
                    </p>
                    <p>Disabled state</p>
                    <p>
                        <a href="" class="btn btn-default disabled">Default disabled</a>
                        <a href="" class="btn btn-primary disabled">Primary disabled</a>
                        <a href="" class="btn btn-success disabled">Success disabled</a>
                        <a href="" class="btn btn-info disabled">Info disabled</a>
                        <a href="" class="btn btn-warning disabled">Warning disabled</a>
                        <a href="" class="btn btn-danger disabled">Danger disabled</a>
                    </p>
                    <p>Active (on click/mouse down) state</p>
                    <p>
                        <a href="" class="btn btn-default active">Default active</a>
                        <a href="" class="btn btn-primary active">Primary active</a>
                        <a href="" class="btn btn-success active">Success active</a>
                        <a href="" class="btn btn-info active">Info active</a>
                        <a href="" class="btn btn-warning active">Warning active</a>
                        <a href="" class="btn btn-danger active">Danger active</a>
                    </p>

                    {{#markdown}}
```xml
<a href="" class="btn [btn-default] [btn-primary] [btn-success] [btn-info] [btn-warning] [btn-danger] [disabled] [active]">
    Button link
</a>
```
                    {{/markdown}}
                </div>

                <div class="col-md-12">
                    <p><strong>Using <code>&lt;button&gt;</code> tag.</strong> The <code>&lt;button&gt;</code> tag is used on forms and for JavaScript actions.</p>
                    <p>Rest state</p>
                    <p>
                        <button class="btn btn-default">Default</button>
                        <button class="btn btn-primary">Primary</button>
                        <button class="btn btn-success">Success</button>
                        <button class="btn btn-info">Info</button>
                        <button class="btn btn-warning">Warning</button>
                        <button class="btn btn-danger">Danger</button>
                        <button class="btn btn-link">Link</button>
                    </p>
                    <p>Disabled state</p>
                    <p>
                        <button class="btn btn-default" disabled>Default disabled</button>
                        <button class="btn btn-primary" disabled>Primary disabled</button>
                        <button class="btn btn-success" disabled>Success disabled</button>
                        <button class="btn btn-info" disabled>Info disabled</button>
                        <button class="btn btn-warning" disabled>Warning disabled</button>
                        <button class="btn btn-danger" disabled>Danger disabled</button>
                        <button class="btn btn-link" disabled>Link disabled</button>
                    </p>
                    <p>Active (on click/mouse down) state</p>
                    <p>
                        <button class="btn btn-default active">Default active</button>
                        <button class="btn btn-primary active">Primary active</button>
                        <button class="btn btn-success active">Success active</button>
                        <button class="btn btn-info active">Info active</button>
                        <button class="btn btn-warning active">Warning active</button>
                        <button class="btn btn-danger active">Danger active</button>
                        <button class="btn btn-link active">Link active</button>
                    </p>

                    {{#markdown}}
```xml
<button type="button"
       [disabled]
        class="btn [btn-default] [btn-primary] [btn-success] [btn-info] [btn-warning] [btn-danger] [active]">
    Button
</button>
```
                    {{/markdown}}
                </div>

                <div class="col-xs-24">
                    <h2>Buttons &amp; links on backgrounds</h2>
                </div>

                <div class="col-xs-12 ">
                    <div class="win-color-fill-accent clearfix" style="padding: 2em; margin-bottom: 1em;">
                        <h4 class="win-color-type-primary-alt">On dark background</h4>
                        <p>
                            <a href="" class="btn win-btn-on-dark">Primary</a>
                            <a href="" class="btn win-btn-on-dark active">Active</a>
                            <a href="" class="btn win-btn-on-dark disabled">Disabled</a>
                        </p>
                        <p>
                            <a href="" class="win-link-on-dark">Hyperlink on dark background</a>
                        </p>
                    </div>

                    {{#markdown}}
```xml
<a href="" class="btn win-btn-on-dark">Primary</a>
<a href="" class="btn win-btn-on-dark active">Active</a>
<a href="" class="btn win-btn-on-dark disabled">Disabled</a>
<a href="" class="win-link-on-dark">Hyperlink on dark background</a>
```
                    {{/markdown}}
                </div>

                <div class="col-xs-12">
                    <div class="win-color-fill-accent-low clearfix" style="padding: 2em; margin-bottom: 1em;">
                        <h4 class="win-color-type-primary">On light background</h4>
                        <p>
                            <a href="" class="btn win-btn-on-light">Primary</a>
                            <a href="" class="btn win-btn-on-light active">Active</a>
                            <a href="" class="btn win-btn-on-light disabled">Disabled</a>
                        </p>
                        <p>
                            <a href="" class="win-link-on-light">Hyperlink on light background</a>
                        </p>
                    </div>

                    {{#markdown}}
```xml
<a href="" class="btn win-btn-on-light">Primary</a>
<a href="" class="btn win-btn-on-light active">Active</a>
<a href="" class="btn win-btn-on-light disabled">Disabled</a>
<a href="" class="win-link-on-light">Hyperlink on light background</a>
```
                    {{/markdown}}
                </div>


                <div class="col-xs-24">
                    <h2>Buttons sizes</h2>
                </div>

                <div class="col-md-12">
                    <p>
                        Button sizes from extra small, small, normal to large.
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
                        <button type="button" class="btn btn-primary btn-sm">Small button</button>
                        <button type="button" class="btn btn-primary">Normal button</button>
                        <button type="button" class="btn btn-primary btn-lg">Large button</button>
                    </p>
                {{#markdown}}
```xml
<button type="button" class="btn btn-primary btn-xs">Extra small button</button>
<button type="button" class="btn btn-primary btn-sm">Small button</button>
<button type="button" class="btn btn-primary">Normal button</button>
<button type="button" class="btn btn-primary btn-lg">Large button</button>
```
                {{/markdown}} 
                </div>

                <div class="col-md-12">
                    <p>
                        A full width button that can be used with the various sizes.
                    </p>
                        <button type="button" class="btn btn-primary btn-block btn-xs">Extra small block button</button>
                        <button type="button" class="btn btn-primary btn-block btn-sm">Small block button</button>
                        <button type="button" class="btn btn-primary btn-block">Normal block button</button>
                        <button type="button" class="btn btn-primary btn-block btn-lg">Large block button</button>
                {{#markdown}}
```xml
<button type="button" class="btn btn-primary btn-block btn-xs">Extra small block button</button>
<button type="button" class="btn btn-primary btn-block btn-sm">Small block button</button>
<button type="button" class="btn btn-primary btn-block">Normal block button</button>
<button type="button" class="btn btn-primary btn-block btn-lg">Large block button</button>
```
                {{/markdown}}             
                </div>
            </div>

            <div class="row">
              <div class="col-xs-24">
                <h2>Toggle Button</h2>
                <button type="button" autocomplete="off" class="btn btn-default" data-toggle="button" aria-pressed="false">Toggle Button</button>
                <script>
                  window.addEventListener('onload', function()
                  {
                    $("[data-toggle='button']").button("toggle");
                  });
                </script>

                {{#markdown}}
```xml
<button type="button" autocomplete="off" class="btn btn-default" data-toggle="button" aria-pressed="false">Toggle Button</button>
<script>
  $("[data-toggle='button']").button("toggle");
</script>
```
                {{/markdown}}
              </div>
            </div>
        </section>
    </div>
</div>
