<div class="row">
    <div class="col-xs-24">
        <section class="section" id="buttons">
            <header class="section-header ">
                <h1 class="section-title ">
                    <a href="#buttons">Buttons</a>
                </h1>
            </header>

            <div class="row button-space">
                <div class="col-md-24">
                    <p>The colors used for the background and text of buttons have been vetted to meet a minimum color contrast ratio of 4.5:1 for accesibility purposes.</p>
                </div>
                <div class="col-md-12">
                    <p><strong>Using <code>&lt;a&gt;</code> tag.</strong> The <code>&lt;a&gt;</code> tag should be used for links between pages, not for JavaScript actions.</p>
                    <p>Rest state</p>
                    <p>
                        <a href="" class="btn btn-default">Default</a>
                        <a href="" class="btn btn-primary">Primary</a>
                        <a href="" class="btn btn-success">Success</a>
                        <a href="" class="btn btn-info">Info</a>
                        <a href="" class="btn btn-warning">Warning</a>
                        <a href="" class="btn btn-danger">Danger</a>
                    </p>
                    <p>Disabled state</p>
                    <p>
                        <a href="" class="btn btn-default disabled">Default disabled</a>
                        <a href="" class="btn btn-primary disabled">Primary disabled</a>
                        <a href="" class="btn btn-success disabled">Success disabled</a>
                        <a href="" class="btn btn-info disabled">Info disabled</a>
                        <a href="" class="btn btn-warning disabled">Warning disabled</a>
                        <a href="" class="btn btn-danger disabled">Danger disabled</a>
                    </p>
                    <p>Active (on click/mouse down) state</p>
                    <p>
                        <a href="" class="btn btn-default active">Default active</a>
                        <a href="" class="btn btn-primary active">Primary active</a>
                        <a href="" class="btn btn-success active">Success active</a>
                        <a href="" class="btn btn-info active">Info active</a>
                        <a href="" class="btn btn-warning active">Warning active</a>
                        <a href="" class="btn btn-danger active">Danger active</a>
                    </p>

                    {{#markdown}}
```xml
<a href="" class="btn [btn-default] [btn-primary] [btn-success] [btn-info] [btn-warning] [btn-danger] [disabled] [active]">
    Button link
</a>
```
                    {{/markdown}}
                </div>

                <div class="col-md-12">
                    <p><strong>Using <code>&lt;button&gt;</code> tag.</strong> The <code>&lt;button&gt;</code> tag is used on forms and for JavaScript actions.</p>
                    <p>Rest state</p>
                    <p>
                        <button class="btn btn-default">Default</button>
                        <button class="btn btn-primary">Primary</button>
                        <button class="btn btn-success">Success</button>
                        <button class="btn btn-info">Info</button>
                        <button class="btn btn-warning">Warning</button>
                        <button class="btn btn-danger">Danger</button>
                        <button class="btn btn-link">Link</button>
                    </p>
                    <p>Disabled state</p>
                    <p>
                        <button class="btn btn-default" disabled>Default disabled</button>
                        <button class="btn btn-primary" disabled>Primary disabled</button>
                        <button class="btn btn-success" disabled>Success disabled</button>
                        <button class="btn btn-info" disabled>Info disabled</button>
                        <button class="btn btn-warning" disabled>Warning disabled</button>
                        <button class="btn btn-danger" disabled>Danger disabled</button>
                        <button class="btn btn-link" disabled>Link disabled</button>
                    </p>
                    <p>Active (on click/mouse down) state</p>
                    <p>
                        <button class="btn btn-default active">Default active</button>
                        <button class="btn btn-primary active">Primary active</button>
                        <button class="btn btn-success active">Success active</button>
                        <button class="btn btn-info active">Info active</button>
                        <button class="btn btn-warning active">Warning active</button>
                        <button class="btn btn-danger active">Danger active</button>
                        <button class="btn btn-link active">Link active</button>
                    </p>

                    {{#markdown}}
```xml
<button type="button"
       [disabled]
        class="btn [btn-default] [btn-primary] [btn-success] [btn-info] [btn-warning] [btn-danger] [active]">
    Button
</button>
```
                    {{/markdown}}
                </div>

                <div class="col-xs-24">
                    <h2>Buttons &amp; links on backgrounds</h2>
                </div>

                <div class="col-xs-12 ">
                    <div class="color-fill-accent-vivid-high clearfix" style="padding: 2em; margin-bottom: 1em;">
                        <h4 class="color-type-primary-alt">On dark background</h4>
                        <p>
                            <a href="" class="btn btn-on-dark">Primary</a>
                            <a href="" class="btn btn-on-dark active">Active</a>
                            <a href="" class="btn btn-on-dark disabled">Disabled</a>
                        </p>
                        <p>
                            <a href="" class="link-on-dark">Hyperlink on dark background</a>
                        </p>
                    </div>

                    {{#markdown}}
```xml
<a href="" class="btn btn-on-dark">Primary</a>
<a href="" class="btn btn-on-dark active">Active</a>
<a href="" class="btn btn-on-dark disabled">Disabled</a>
<a href="" class="link-on-dark">Hyperlink on dark background</a>
```
                    {{/markdown}}
                </div>

                <div class="col-xs-12">
                    <div class="color-fill-accent-dim-mid clearfix" style="padding: 2em; margin-bottom: 1em;">
                        <h4 class="color-type-primary">On light background</h4>
                        <p>
                            <a href="" class="btn btn-on-light">Primary</a>
                            <a href="" class="btn btn-on-light active">Active</a>
                            <a href="" class="btn btn-on-light disabled">Disabled</a>
                        </p>
                        <p>
                            <a href="" class="link-on-light">Hyperlink on light background</a>
                        </p>
                    </div>

                    {{#markdown}}
```xml
<a href="" class="btn btn-on-light">Primary</a>
<a href="" class="btn btn-on-light active">Active</a>
<a href="" class="btn btn-on-light disabled">Disabled</a>
<a href="" class="link-on-light">Hyperlink on light background</a>
```
                    {{/markdown}}
                </div>


                <div class="col-xs-24">
                    <h2>Buttons sizes</h2>
                </div>

                <div class="col-md-12">
                    <p>
                        Button sizes from extra small, small, normal to large.
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
                        <button type="button" class="btn btn-primary btn-sm">Small button</button>
                        <button type="button" class="btn btn-primary">Normal button</button>
                        <button type="button" class="btn btn-primary btn-lg">Large button</button>
                    </p>
                {{#markdown}}
```xml
<button type="button" class="btn btn-primary btn-xs">Extra small button</button>
<button type="button" class="btn btn-primary btn-sm">Small button</button>
<button type="button" class="btn btn-primary">Normal button</button>
<button type="button" class="btn btn-primary btn-lg">Large button</button>
```
                {{/markdown}}
                </div>

                <div class="col-md-12">
                    <p>
                        A full width button that can be used with the various sizes.
                    </p>
                        <button type="button" class="btn btn-primary btn-block btn-xs">Extra small block button</button>
                        <button type="button" class="btn btn-primary btn-block btn-sm">Small block button</button>
                        <button type="button" class="btn btn-primary btn-block">Normal block button</button>
                        <button type="button" class="btn btn-primary btn-block btn-lg">Large block button</button>
                {{#markdown}}
```xml
<button type="button" class="btn btn-primary btn-block btn-xs">Extra small block button</button>
<button type="button" class="btn btn-primary btn-block btn-sm">Small block button</button>
<button type="button" class="btn btn-primary btn-block">Normal block button</button>
<button type="button" class="btn btn-primary btn-block btn-lg">Large block button</button>
```
                {{/markdown}}
                </div>
            </div>


            <!-- Toggle Buttons -->
            <div class="row">
              <div class="col-xs-24">
                <h2>Toggle Button</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-24">
                <h4>Normal</h4>
                <button type="button" autocomplete="off" class="btn btn-default" data-toggle="button" aria-pressed="false">Toggle Button</button>
                <button type="button" autocomplete="off" class="btn btn-default" data-toggle="button"  disabled aria-pressed="false">Disabled</button>

                <script>
                  window.addEventListener('onload', function()
                  {
                    $("[data-toggle='button']").button("toggle");
                  });
                </script>

                {{#markdown}}
```xml
<button type="button" autocomplete="off" class="btn btn-default" data-toggle="button" aria-pressed="false">Toggle Button</button>
<script>
    $("[data-toggle='button']").button("toggle");
</script>
```
                {{/markdown}}
              </div>
            </div>

            <div class="row">
                <!-- On dark background -->
                <div class="col-md-6">
                    <h4>Alt</h4>
                    <div class="color-black" style="padding: 1em; margin-bottom: 0.5em;">
                      <button type="button" autocomplete="off" class="btn btn-default btn-toggle theme-alt" data-toggle="button" aria-pressed="false">Toggle Button</button>
                      <button type="button" autocomplete="off" class="btn btn-default btn-toggle theme-alt" data-toggle="button" aria-pressed="false" disabled>Disabled</button>
                    </div>
                </div>

                <!-- On colored background -->
                <div class="col-md-6">
                    <h4>On solid color</h4>
                    <div class="color-fill-accent-vivid-high" style="padding: 1em; margin-bottom: 0.5em;">
                      <button type="button" autocomplete="off" class="btn btn-default theme-on-color" data-toggle="button" aria-pressed="false">Toggle Button</button>
                      <button type="button" autocomplete="off" class="btn btn-default theme-on-color" data-toggle="button" aria-pressed="false" disabled>Disabled</button>
                    </div>
                </div>

                <!-- On light image -->
                <div class="col-md-6">
                    <h4>On light image</h4>
                    <div class="example-light-image-bg" style="padding: 1em; margin-bottom: 0.5em; background-position: center;">
                      <button type="button" autocomplete="off" class="btn btn-default theme-on-img-light" data-toggle="button" aria-pressed="false">Toggle Button</button>
                      <button type="button" autocomplete="off" class="btn btn-default theme-on-img-light" data-toggle="button" aria-pressed="false" disabled>Disabled</button>
                    </div>
                </div>

                <!-- On dark image -->
                <div class="col-md-6">
                    <h4>On dark image</h4>
                    <div class="example-dark-image-bg" style="padding: 1em; margin-bottom: 0.5em;">
                      <button type="button" autocomplete="off" class="btn btn-default theme-on-img-dark" data-toggle="button" aria-pressed="false">Toggle Button</button>
                      <button type="button" autocomplete="off" class="btn btn-default theme-on-img-dark" data-toggle="button" aria-pressed="false" disabled>Disabled</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-24">
                    {{#markdown}}
```xml
<button type="button" autocomplete="off" class="btn btn-default [theme-alt] [theme-on-color] [theme-on-img-light] [theme-on-img-dark]" data-toggle="button" aria-pressed="false">Toggle Button</button>
<script>
    $("[data-toggle='button']").button("toggle");
</script>
```
                    {{/markdown}}
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h2>Checkbox Toggle Button</h2>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h4>Default</h4>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default active">
                    <input type="checkbox" autocomplete="off" checked> Checkbox 1 (pre-checked)
                  </label>
                  <label class="btn btn-default">
                    <input type="checkbox" autocomplete="off"> Checkbox 2
                  </label>
                  <label class="btn btn-default">
                    <input type="checkbox" autocomplete="off"> Checkbox 3
                  </label>
                </div>
              </div>
              <div class="col-md-12">
                <h4>Alt</h4>
                <div class="color-black" style="padding: 1em; margin-bottom: 0.5em;">
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default theme-alt active">
                      <input type="checkbox" autocomplete="off" checked> Checkbox 1 (pre-checked)
                    </label>
                    <label class="btn btn-default theme-alt">
                      <input type="checkbox" autocomplete="off"> Checkbox 2
                    </label>
                    <label class="btn btn-default theme-alt">
                      <input type="checkbox" autocomplete="off"> Checkbox 3
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4>On solid color</h4>
                <div class="color-fill-accent-vivid-high" style="padding: 1em; margin-bottom: 0.5em;">
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default theme-on-color active">
                      <input type="checkbox" autocomplete="off" checked> Checkbox 1 (pre-checked)
                    </label>
                    <label class="btn btn-default theme-on-color">
                      <input type="checkbox" autocomplete="off"> Checkbox 2
                    </label>
                    <label class="btn btn-default theme-on-color">
                      <input type="checkbox" autocomplete="off"> Checkbox 3
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <h4>On light image</h4>
                <div class="example-light-image-bg" style="padding: 1em; margin-bottom: 0.5em;">
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default theme-on-img-light active">
                      <input type="checkbox" autocomplete="off" checked> Checkbox 1 (pre-checked)
                    </label>
                    <label class="btn btn-default theme-on-img-light">
                      <input type="checkbox" autocomplete="off"> Checkbox 2
                    </label>
                    <label class="btn btn-default theme-on-img-light">
                      <input type="checkbox" autocomplete="off"> Checkbox 3
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4>On dark image</h4>
                <div class="example-dark-image-bg" style="padding: 1em; margin-bottom: 0.5em;">
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default theme-on-img-dark active">
                      <input type="checkbox" autocomplete="off" checked> Checkbox 1 (pre-checked)
                    </label>
                    <label class="btn btn-default theme-on-img-dark">
                      <input type="checkbox" autocomplete="off"> Checkbox 2
                    </label>
                    <label class="btn btn-default theme-on-img-dark">
                      <input type="checkbox" autocomplete="off"> Checkbox 3
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-24">
                {{#markdown}}
```xml
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active [theme-alt] [theme-on-color] [theme-on-img-light] [theme-on-img-dark]">
    <input type="checkbox" autocomplete="off" checked> Checkbox 1 (pre-checked)
  </label>
  <label class="btn btn-default [theme-alt] [theme-on-color] [theme-on-img-light] [theme-on-img-dark]">
    <input type="checkbox" autocomplete="off"> Checkbox 2
  </label>
  <label class="btn btn-default [theme-alt] [theme-on-color] [theme-on-img-light] [theme-on-img-dark]">
    <input type="checkbox" autocomplete="off"> Checkbox 3
  </label>
</div>
```
                {{/markdown}}
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h2>Radio Toggle Buttons</h2>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h4>Default</h4>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
                  </label>
                </div>
              </div>
              <div class="col-md-12">
                <h4>Alt</h4>
                <div class="color-black" style="padding: 1em; margin-bottom: 0.5em;">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary theme-alt active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
                  </label>
                  <label class="btn btn-primary theme-alt">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
                  </label>
                  <label class="btn btn-primary theme-alt">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
                  </label>
                </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h4>On Solid Color</h4>
                <div class="color-fill-accent-vivid-high" style="padding: 1em; margin-bottom: 0.5em;">
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default theme-on-color active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
                    </label>
                    <label class="btn btn-default theme-on-color">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
                    </label>
                    <label class="btn btn-default theme-on-color">
                      <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <h4>On light image</h4>
                <div class="example-light-image-bg" style="padding: 1em; margin-bottom: 0.5em;">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default theme-on-img-light active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
                  </label>
                  <label class="btn btn-default theme-on-img-light">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
                  </label>
                  <label class="btn btn-default theme-on-img-light">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
                  </label>
                </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h4>On Dark Image</h4>
                <div class="example-dark-image-bg" style="padding: 1em; margin-bottom: 0.5em;">
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default theme-on-img-dark active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
                    </label>
                    <label class="btn btn-default theme-on-img-dark">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
                    </label>
                    <label class="btn btn-default theme-on-img-dark">
                      <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
                    </label>
                  </div>
                </div>

              </div>

            </div>

            <div class="row">
              <div class="col-xs-24">
                {{#markdown}}
```xml
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active [theme-alt] [theme-on-color] [theme-on-img-light] [theme-on-img-dark]">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
  </label>
  <label class="btn btn-default [theme-alt] [theme-on-color] [theme-on-img-light] [theme-on-img-dark]">
    <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
  </label>
  <label class="btn btn-default [theme-alt] [theme-on-color] [theme-on-img-light] [theme-on-img-dark]">
    <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
  </label>
</div>
```
                {{/markdown}}
              </div>
            </div>



            <!-- Toggle switch -->
            <div class="row">
                <div class="col-md-24">
                    <h2>Toggle Switch Button</h2>
                    <!-- On light background -->
                    <div style="padding: 1em; margin-bottom: 0.5em;">
                        <button type="button" data-toggle="button" class="btn btn-toggle-switch" autocomplete="off" aria-pressed="false">
                            <span class="stateLabel stateLabel-on">On</span>
                            <span class="stateLabel stateLabel-off">Off</span>
                        </button>
                    </div>

                    {{#markdown}}
```xml
<button type="button" data-toggle="button" class="btn btn-toggle-switch" autocomplete="off" aria-pressed="false">
    <span class="stateLabel stateLabel-on">On</span>
    <span class="stateLabel stateLabel-off">Off</span>
</button>
```
                    {{/markdown}}
                </div>
            </div>

            <div class="row">
                <!-- On dark background -->
                <div class="col-md-6">
                    <h4>Alt</h4>
                    <div class="color-black" style="padding: 1em; margin-bottom: 0.5em;">
                        <button type="button" data-toggle="button" class="btn btn-toggle-switch theme-alt" autocomplete="off" aria-pressed="false">
                            <span class="stateLabel stateLabel-on">On</span>
                            <span class="stateLabel stateLabel-off">Off</span>
                        </button>
                    </div>
                </div>

                <!-- On colored background -->
                <div class="col-md-6">
                    <h4>On solid color</h4>
                    <div class="color-fill-accent-vivid-high" style="padding: 1em; margin-bottom: 0.5em;">
                        <button type="button" data-toggle="button" class="btn btn-toggle-switch theme-on-color" autocomplete="off" aria-pressed="false">
                            <span class="stateLabel stateLabel-on">On</span>
                            <span class="stateLabel stateLabel-off">Off</span>
                        </button>
                    </div>
                </div>

                <!-- On light image -->
                <div class="col-md-6">
                    <h4>On light image</h4>
                    <div class="example-light-image-bg" style="padding: 1em; margin-bottom: 0.5em; background-position: center;">
                        <button type="button" data-toggle="button" class="btn btn-toggle-switch theme-on-img-light" autocomplete="off" aria-pressed="false">
                            <span class="stateLabel stateLabel-on">On</span>
                            <span class="stateLabel stateLabel-off">Off</span>
                        </button>
                    </div>
                </div>

                <!-- On dark image -->
                <div class="col-md-6">
                    <h4>On dark image</h4>
                    <div class="example-dark-image-bg" style="padding: 1em; margin-bottom: 0.5em;">
                        <button type="button" data-toggle="button" class="btn btn-toggle-switch theme-on-img-dark" autocomplete="off" aria-pressed="false">
                            <span class="stateLabel stateLabel-on">On</span>
                            <span class="stateLabel stateLabel-off">Off</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-24">
                    {{#markdown}}
```xml
<button type="button" data-toggle="button" class="btn btn-toggle-switch [theme-alt] [theme-on-color] [theme-on-img-light] [theme-on-img-dark]" autocomplete="off" aria-pressed="false">
    <span class="stateLabel stateLabel-on">On</span>
    <span class="stateLabel stateLabel-off">Off</span>
</button>
```
                    {{/markdown}}
                </div>
            </div>
        </section>
    </div>
</div>
