<div class="row">
    <div class="col-xs-24">
        <section class="section" id="buttons">
            <header class="section-header ">
                <h1 class="section-title ">
                    <a href="#buttons">Push button</a>
                </h1>
            </header>

            <div class="row">
                <div class="col-md-24">
                    <p>A button gives thes user a way to trigger an immediate action. The colors used for the bakground and text of buttons have been vetted to meet a minimum color contrast ratio of 4.5:1 for accesibility purposes. Use the button classes on <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> elements.</p>
                </div>
                <div class="col-md-24">
                    <div class="btn-group">
                        <a class="btn btn-primary">Primary</a>
                        <a class="btn btn-default">Secondary</a>
                        <a class="btn btn-link">Button link</a>
                    </div>

                    {{#markdown}}
```xml
<div class="btn-group">
    <a class="btn [btn-primary] [btn-secondary] [btn-success] [btn-info] [btn-warning] [btn-danger] [disabled] [active]">
        Button link
    </a>
</div>
```
                    {{/markdown}}
                </div>

                <div class="col-xs-24">
                    <h2>Buttons &amp; links on backgrounds</h2>
                </div>

                <div class="col-md-6">
                    <h4>Alt</h4>
                    <div class="color-black" style="padding: 0 2em 2em; margin-bottom: 1em;">
                        <div class="btn-group">
                            <a class="btn btn-block btn-primary theme-alt">Primary</a>
                            <a class="btn btn-block btn-secondary theme-alt">Secondary</a>
                            <a class="btn btn-block btn-link theme-alt">Button link</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h4>On solid color</h4>
                    <div class="color-fill-accent-vivid-high" style="padding: 0 2em 2em; margin-bottom: 1em;">
                        <div class="btn-group">
                            <a class="btn btn-block btn-primary theme-on-color">Primary</a>
                            <a class="btn btn-block btn-secondary theme-on-color">Secondary</a>
                            <a class="btn btn-block btn-link theme-on-color">Button link</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h4>On light image</h4>
                    <div class="example-light-image-bg" style="padding: 0 2em 2em; margin-bottom: 1em;">
                        <div class="btn-group">
                            <a class="btn btn-block btn-primary theme-on-img-light">Primary</a>
                            <a class="btn btn-block btn-secondary theme-on-img-light">Secondary</a>
                            <a class="btn btn-block btn-link theme-on-img-light">Button link</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h4>On dark image</h4>
                    <div class="example-dark-image-bg" style="padding: 0 2em 2em; margin-bottom: 1em;">
                        <div class="btn-group">
                            <a class="btn btn-block btn-primary theme-on-img-dark">Primary</a>
                            <a class="btn btn-block btn-secondary theme-on-img-dark">Secondary</a>
                            <a class="btn btn-block btn-link theme-on-img-dark">Button link</a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-24">
                    {{#markdown}}
```xml
<div class="btn-group">
    <a class="btn [btn-primary] [btn-secondary] [btn-link] [theme-alt] [theme-on-color] [theme-on-img-light] [theme-on-img-dark]">Button</a>
</div>
```
                    {{/markdown}}
                </div>
            </div>


            <!-- Toggle Buttons -->
            <div class="row">
                <div class="col-xs-24">
                    <h2>Toggle Button</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-24">
                    <h4>Normal</h4>
                    <div class="btn-group">
                        <button type="button" autocomplete="off" class="btn btn-default" data-toggle="button" aria-pressed="false">Toggle Button</button>
                        <button type="button" autocomplete="off" class="btn btn-default" data-toggle="button"  disabled aria-pressed="false">Disabled</button>
                    </div>

                    <script>
                    window.addEventListener('onload', function()
                    {
                        $("[data-toggle='button']").button("toggle");
                    });
                    </script>

                    {{#markdown}}
```xml
<div class="btn-group">
    <button type="button" autocomplete="off" class="btn btn-default" data-toggle="button" aria-pressed="false">Toggle Button</button>
</div>
<script>
$("[data-toggle='button']").button("toggle");
</script>
```
                    {{/markdown}}
                </div>
            </div>

            <div class="row">
                <!-- On dark background -->
                <div class="col-md-6">
                    <h4>Alt</h4>
                    <div class="color-black" style="padding: 0 1em 1em; margin-bottom: 0.5em;">
                        <div class="btn-group">
                            <button type="button" autocomplete="off" class="btn btn-default btn-toggle theme-alt" data-toggle="button" aria-pressed="false">Toggle Button</button>
                            <button type="button" autocomplete="off" class="btn btn-default btn-toggle theme-alt" data-toggle="button" aria-pressed="false" disabled>Disabled</button>
                        </div>
                    </div>
                </div>

                <!-- On colored background -->
                <div class="col-md-6">
                    <h4>On solid color</h4>
                    <div class="color-fill-accent-vivid-high" style="padding: 0 1em 1em; margin-bottom: 0.5em;">
                        <div class="btn-group">
                            <button type="button" autocomplete="off" class="btn btn-default theme-on-color" data-toggle="button" aria-pressed="false">Toggle Button</button>
                            <button type="button" autocomplete="off" class="btn btn-default theme-on-color" data-toggle="button" aria-pressed="false" disabled>Disabled</button>
                        </div>
                    </div>
                </div>

                <!-- On light image -->
                <div class="col-md-6">
                    <h4>On light image</h4>
                    <div class="example-light-image-bg" style="padding: 0 1em 1em; margin-bottom: 0.5em; background-position: center;">
                        <div class="btn-group">
                            <button type="button" autocomplete="off" class="btn btn-default theme-on-img-light" data-toggle="button" aria-pressed="false">Toggle Button</button>
                            <button type="button" autocomplete="off" class="btn btn-default theme-on-img-light" data-toggle="button" aria-pressed="false" disabled>Disabled</button>
                        </div>
                    </div>
                </div>

                <!-- On dark image -->
                <div class="col-md-6">
                    <h4>On dark image</h4>
                    <div class="example-dark-image-bg" style="padding: 0 1em 1em; margin-bottom: 0.5em;">
                        <div class="btn-group">
                            <button type="button" autocomplete="off" class="btn btn-default theme-on-img-dark" data-toggle="button" aria-pressed="false">Toggle Button</button>
                            <button type="button" autocomplete="off" class="btn btn-default theme-on-img-dark" data-toggle="button" aria-pressed="false" disabled>Disabled</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-24">
                    {{#markdown}}
```xml
<button type="button" autocomplete="off" class="btn btn-default [theme-alt] [theme-on-color] [theme-on-img-light] [theme-on-img-dark]" data-toggle="button" aria-pressed="false">Toggle Button</button>
<script>
$("[data-toggle='button']").button("toggle");
</script>
```
                    {{/markdown}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Checkbox Toggle Button</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>Default</h4>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default active">
                            <input type="checkbox" autocomplete="off" checked> Checkbox 1 (pre-checked)
                        </label>
                        <label class="btn btn-default">
                            <input type="checkbox" autocomplete="off"> Checkbox 2
                        </label>
                        <label class="btn btn-default">
                            <input type="checkbox" autocomplete="off"> Checkbox 3
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <h4>Alt</h4>
                    <div class="color-black" style="padding: 0 1em 1em; margin-bottom: 0.5em;">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default theme-alt active">
                                <input type="checkbox" autocomplete="off" checked> Checkbox 1 (pre-checked)
                            </label>
                            <label class="btn btn-default theme-alt">
                                <input type="checkbox" autocomplete="off"> Checkbox 2
                            </label>
                            <label class="btn btn-default theme-alt">
                                <input type="checkbox" autocomplete="off"> Checkbox 3
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>On solid color</h4>
                    <div class="color-fill-accent-vivid-high" style="padding: 0 1em 1em; margin-bottom: 0.5em;">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default theme-on-color active">
                                <input type="checkbox" autocomplete="off" checked> Checkbox 1 (pre-checked)
                            </label>
                            <label class="btn btn-default theme-on-color">
                                <input type="checkbox" autocomplete="off"> Checkbox 2
                            </label>
                            <label class="btn btn-default theme-on-color">
                                <input type="checkbox" autocomplete="off"> Checkbox 3
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h4>On light image</h4>
                    <div class="example-light-image-bg" style="padding: 0 1em 1em; margin-bottom: 0.5em;">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default theme-on-img-light active">
                                <input type="checkbox" autocomplete="off" checked> Checkbox 1 (pre-checked)
                            </label>
                            <label class="btn btn-default theme-on-img-light">
                                <input type="checkbox" autocomplete="off"> Checkbox 2
                            </label>
                            <label class="btn btn-default theme-on-img-light">
                                <input type="checkbox" autocomplete="off"> Checkbox 3
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>On dark image</h4>
                    <div class="example-dark-image-bg" style="padding: 0 1em 1em; margin-bottom: 0.5em;">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default theme-on-img-dark active">
                                <input type="checkbox" autocomplete="off" checked> Checkbox 1 (pre-checked)
                            </label>
                            <label class="btn btn-default theme-on-img-dark">
                                <input type="checkbox" autocomplete="off"> Checkbox 2
                            </label>
                            <label class="btn btn-default theme-on-img-dark">
                                <input type="checkbox" autocomplete="off"> Checkbox 3
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-24">
                    {{#markdown}}
```xml
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default active [theme-alt] [theme-on-color] [theme-on-img-light] [theme-on-img-dark]">
        <input type="checkbox" autocomplete="off" checked> Checkbox 1 (pre-checked)
    </label>
    <label class="btn btn-default [theme-alt] [theme-on-color] [theme-on-img-light] [theme-on-img-dark]">
        <input type="checkbox" autocomplete="off"> Checkbox 2
    </label>
    <label class="btn btn-default [theme-alt] [theme-on-color] [theme-on-img-light] [theme-on-img-dark]">
        <input type="checkbox" autocomplete="off"> Checkbox 3
    </label>
</div>
```
                    {{/markdown}}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Radio Toggle Buttons</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>Default</h4>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default active">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <h4>Alt</h4>
                    <div class="color-black" style="padding: 0 1em 1em; margin-bottom: 0.5em;">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary theme-alt active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
                            </label>
                            <label class="btn btn-primary theme-alt">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
                            </label>
                            <label class="btn btn-primary theme-alt">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>On Solid Color</h4>
                    <div class="color-fill-accent-vivid-high" style="padding: 0 1em 1em; margin-bottom: 0.5em;">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default theme-on-color active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
                            </label>
                            <label class="btn btn-default theme-on-color">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
                            </label>
                            <label class="btn btn-default theme-on-color">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h4>On light image</h4>
                    <div class="example-light-image-bg" style="padding: 0 1em 1em; margin-bottom: 0.5em;">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default theme-on-img-light active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
                            </label>
                            <label class="btn btn-default theme-on-img-light">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
                            </label>
                            <label class="btn btn-default theme-on-img-light">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>On Dark Image</h4>
                    <div class="example-dark-image-bg" style="padding: 0 1em 1em; margin-bottom: 0.5em;">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default theme-on-img-dark active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
                            </label>
                            <label class="btn btn-default theme-on-img-dark">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
                            </label>
                            <label class="btn btn-default theme-on-img-dark">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-24">
                    {{#markdown}}
```xml
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default active [theme-alt] [theme-on-color] [theme-on-img-light] [theme-on-img-dark]">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
    </label>
    <label class="btn btn-default [theme-alt] [theme-on-color] [theme-on-img-light] [theme-on-img-dark]">
        <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
    </label>
    <label class="btn btn-default [theme-alt] [theme-on-color] [theme-on-img-light] [theme-on-img-dark]">
        <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
    </label>
</div>
```
                    {{/markdown}}
                </div>
            </div>
        </section>
    </div>
</div>
