<div class="modal modal-center" id="changelog" tabindex="-1" role="dialog" aria-labelledby="changelog-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="glyph glyph-cancel" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title" id="changelog-label">Changelog</h4>
            </div>
            <div class="modal-body">
                <dl>
                    <dt>0.4.4</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Updates and fixes for:</li>
                            <li><a href="typography.html#fonts">Responsive type</a></li>
                            <li><a href="controls.html#buttons">Push buttons</a></li>
                            <li><a href="controls.html#buttons">Toggle buttons</a></li>
                            <li><a href="controls.html#toggle-switch">Toggle switch</a></li>
                            <li><a href="components.html#back-to-top">Back-to-top button</a></li>
                            <li><a href="controls.html#forms">Select box</a></li>
                            <li><a href="alerts.html">Alerts</a></li>
                            <li><a href="components.html#tables">Tables</a></li>
                            <li><a href="components.html#jumbotron">Jumbotron and highlight bar</a></li>
                            <li><a href="components.html#pagination">Pagination</a></li>
                            <li><a href="components.html#pager">Pager</a></li>
                            <li>Default <code>&lt;p&gt;</code> spacing</li>
                            <li>Remove MDL 1.0 controls and components</li>
                        </ul>
                    </dd>

                    <dt>0.4.0</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>New colors and color naming that reflect the latest MDL colors.</li>
                            <li>Remove <code>win-</code> prefix from class and variable names.</li>
                        </ul>
                    </dd>

                    <dt>0.3.2</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Rename to Winstrap.</li>
                        </ul>
                    </dd>

                    <dt>0.1.1</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Add <code>win-</code> prefix to:</li>
                            <li><a href="components.html#list-items">list items</a></li>
                            <li><a href="components.html#refine-list">refine list</a></li>
                            <li><a href="typography.html#fonts">typography utilities</a></li>
                            <li><a href="tabs.html">media browser component</a></li>
                            <li><a href="components.html#back-to-top">back to top component</a></li>
                            <li><a href="alerts.html">alert stack component</a></li>
                            <li><a href="layout.html#section">section component</a></li>
                            <li>Extend the Bootstrap grid with a <a href="layout.html#grid-small-gutters">small gutter option</a>.</li>
                            <li>Add a <a href="images/bootstrap-winjs.png">placeholder logo</a>.</li>
                        </ul>
                    </dd>

                    <dt>0.1.0</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Initialize bootstrap-winjs.</li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
