<div class="modal modal-center" id="changelog" tabindex="-1" role="dialog" aria-labelledby="changelog-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="glyph glyph-cancel" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title" id="changelog-label">Changelog</h4>
            </div>
            <div class="modal-body">
                <dl>
                    <dt class="m-t-sm">0.5.11</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Added 5 new glyphs to the symbols font.</li>
                            <li>Updated Bootstrap to v3.3.7.</li>
                            <li>Added <a href="components.html#entity-list">Entity list</a> and <a href="controls.html#putbox">Put box.</a></li>
                            <li>Added <code>!important</code> to spacer classes.</li>
                            <li>Bug fixes.</li>
                        </ul>
                    </dd>

                    <dt class="m-t-sm">0.5.8</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Added default styling for <code>&lt;pre&gt;</code>, <code>&lt;blockquote&gt;</code>, <code>&lt;ul&gt;</code>, <code>&lt;ol&gt;</code>, and <code>&lt;dl&gt;</code>.</li>
                            <li>Fixed Jumbotron max-width issue on wide screen width.</li>
                            <li>Navbar styling bug fixes.</li>
                        </ul>
                    </dd>
                    
                    <dt class="m-t-sm">0.5.7</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Updated glyph fonts. Glyph style is now aligned with Windows 10.</li>
                            <li>Added new <a href="typography.html#glyphs">glyphs</a>.</li>
                            <li>Removed fixed width from <code>.container</code> layout.</li>
                            <li>Prebuilt and minified CSS files. NPM and Bower packages now come with prebuilt <code>dist</code> folder and minified CSS files.</li>
                        </ul>
                    </dd>
                    
                    <dt class="m-t-sm">0.5.6</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Simplified <a href="components.html#jumbotron">Jumbotron</a>.</li>
                            <li>Added <code>.compressed</code> option to <a href="controls.html#navs">Navbar</a>.</li>
                        </ul>
                    </dd>
                    
                    <dt class="m-t-sm">0.5.5</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Big update to <a href="controls.html#navs">Navbar</a> allowing two navbars to stack.</li>
                            <li>Added variable font path with <code>!default</code> declaration to enable you to set the path based on your project needs</li>
                        </ul>
                    </dd>
                    
                    <dt class="m-t-sm">0.5.3</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Added <a href="controls.html#side-nav">side-nav</a> control.</li>
                            <li>Moved bower to devDependency in package.json.</li>
                        </ul>
                    </dd>
                    
                    <dt class="m-t-sm">0.4.12</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Updated toggle switch, tooltip, popover, and link button.</li>
                            <li>Added color themes to <code>&lt;a&gt;</code> and fixed states.</li>
                            <li>Changed color theme classes.</li>
                            <li>Updated breadcrumb styling.</li>
                            <li>Changed font-family variable names.</li>
                            <li>Updated glyphs font path.</li>
                            <li>Fixed checkbox glyph issue.</li>
                        </ul>
                    </dd>
                    
                    <dt class="m-t-sm">0.4.9</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Typography:</li>
                            <li>Updated type ramp, classes, mixins, and functions.</li>
                            <li>Added type controls (headings, subheadings, paragraphs, and captions).</li>
                            <li>Glyphs:</li>
                            <li>Changed glyph names to be more semantic.</li>
                            <li>Added glyph function to get a glyph's unicode value.</li>
                            <li>Other changes:</li>
                            <li>Added Navbar component</li>
                            <li>Updated Dropdown control</li>
                        </ul>
                    </dd>
                    
                    <dt class="m-t-sm">0.4.4</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Updates and fixes for:</li>
                            <li><a href="typography.html#fonts">Responsive type</a></li>
                            <li><a href="controls.html#buttons">Push buttons</a></li>
                            <li><a href="controls.html#buttons">Toggle buttons</a></li>
                            <li><a href="controls.html#toggle-switch">Toggle switch</a></li>
                            <li><a href="components.html#back-to-top">Back-to-top button</a></li>
                            <li><a href="controls.html#forms">Select box</a></li>
                            <li><a href="alerts.html">Alerts</a></li>
                            <li><a href="components.html#tables">Tables</a></li>
                            <li><a href="components.html#jumbotron">Jumbotron and highlight bar</a></li>
                            <li><a href="components.html#pagination">Pagination</a></li>
                            <li><a href="components.html#pager">Pager</a></li>
                            <li>Default <code>&lt;p&gt;</code> spacing</li>
                            <li>Remove MDL 1.0 controls and components</li>
                        </ul>
                    </dd>

                    <dt class="m-t-sm">0.4.0</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>New colors and color naming that reflect the latest MDL colors.</li>
                            <li>Remove <code>win-</code> prefix from class and variable names.</li>
                        </ul>
                    </dd>

                    <dt class="m-t-sm">0.3.2</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Rename to Winstrap.</li>
                        </ul>
                    </dd>

                    <dt class="m-t-sm">0.1.1</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Add <code>win-</code> prefix to:</li>
                            <li><a href="components.html#list-items">list items</a></li>
                            <li><a href="components.html#refine-list">refine list</a></li>
                            <li><a href="typography.html#fonts">typography utilities</a></li>
                            <li><a href="tabs.html">media browser component</a></li>
                            <li><a href="components.html#back-to-top">back to top component</a></li>
                            <li><a href="alerts.html">alert stack component</a></li>
                            <li><a href="layout.html#section">section component</a></li>
                            <li>Extend the Bootstrap grid with a <a href="layout.html#grid-small-gutters">small gutter option</a>.</li>
                            <li>Add a <a href="images/bootstrap-winjs.png">placeholder logo</a>.</li>
                        </ul>
                    </dd>

                    <dt class="m-t-sm">0.1.0</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Initialize bootstrap-winjs.</li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
