<div class="modal modal-center" id="changelog" tabindex="-1" role="dialog" aria-labelledby="changelog-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="icon-cancel" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title" id="changelog-label">Changelog</h4>
            </div>
            <div class="modal-body">
                <dl>
                    ﻿<dt>0.1.1</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Add the win prefix to the <a href="components.html#list-items">list items</a> and <a href="components.html#refine-list">refine list</a> components.</li>
                            <li>Add the win prefix to the <a href="typography.html#fonts">typography utilities</a>.</li>
                            <li>Add some kind of <a href="images/bootstrap-winjs.png">placeholder logo</a>.</li>
                            <li>Add the win prefix to the <a href="tabs.html">media browser component</a>.</li>
                            <li>Add the win prefix to the <a href="components.html#back-to-top">back to top component</a>.</li>
                            <li>Add the win prefix to the <a href="alerts.html">alert stack component</a>.</li>
                            <li>Add the win prefix to the <a href="layout.html#section">section component</a>.</li>
                            <li>Extend the Bootstrap grid with a <a href="layout.html#grid-small-gutters">small gutter option</a>.</li>
                        </ul>
                    </dd>

                    <dt>0.1.0</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Initialize bootstrap-winjs.</li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
