<div class="row">
    <div class="col-xs-24">
        <section class="win-section" id="bootstrap-colors">
            <header class="win-section-header">
                <h1 class="win-section-title">
                    <a href="#bootstrap-colors">Bootstrap colors</a>
                </h1>
            </header>        
            <p>These are the primary colors used throughout various Bootstrap controls. They've been altered to use Basel colors instead of Bootstrap colors.</p>
            <div class="row">
                <div class="col-md-12">
                    <p class="color win-color-fill-accent"></p>
                </div> 
                <div class="col-md-12">
                    {{#markdown}}
```scss
$brand-primary: $win-color-fl-accent;
```
                    {{/markdown}}
                </div>  
                <div class="col-md-12">
                    <p class="color win-color-fill-50"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$brand-success: $win-color-fl-50;
```
                    {{/markdown}}
                </div>
                <div class="col-md-12">
                    <p class="color win-color-fill-50"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$brand-info: $win-color-fl-50;
```
                    {{/markdown}}
                </div>      
                <div class="col-md-12">
                    <p class="color win-color-fill-alert"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$brand-warning: $win-color-fl-alert;
```
                    {{/markdown}}
                </div>   
                <div class="col-md-12">
                    <p class="color win-color-fill-alert"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$brand-danger: $win-color-fl-alert;
```
                    {{/markdown}}
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-xs-24">
        <section class="win-section" id="basel-colors">
            <header class="win-section-header">
                <h1 class="win-section-title">
                    <a href="#basel-colors">Basel colors</a>
                </h1>
            </header>
            <h3>Base colors</h3> 
            <div class="row">
                <div class="col-md-12">
                    <p class="color win-color-light"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-light: #FFFFFF;
```
                    {{/markdown}}
                </div>        

                <div class="col-md-12">
                    <p class="color win-color-dark"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-dark: #000000;
```
                    {{/markdown}}
                </div>        
            </div>

            <h3>Background colors</h3> 
            <div class="row">
                <div class="col-md-12">
                    <p class="color win-color-bg-10"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-bg-10: $win-color-light;
```
                    {{/markdown}}
                </div>        

                <div class="col-md-12">
                    <p class="color win-color-bg-20"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-bg-20: #F2F2F2;
```
                    {{/markdown}}
                </div>        

                <div class="col-md-12">
                    <p class="color win-color-bg-30"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-bg-30: #E5E5E5;
```
                    {{/markdown}}
                </div>        

                <div class="col-md-12">
                    <p class="color win-color-bg-40"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-bg-40: #D9D9D9;
```
                    {{/markdown}}
                </div>        

                <div class="col-md-12">
                    <p class="color win-color-bg-50"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-bg-50: #CCCCCC;
```
                    {{/markdown}}
                </div>
            </div>

            <h3>Fill colors</h3> 
            <div class="row">
                <div class="col-md-12">
                    <p class="color win-color-fill-accent"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-accent: #0078D7;
```
                    {{/markdown}}
                </div>

                <div class="col-md-12">
                    <p class="color win-color-fill-accent-low"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-accent-low: rgba($win-color-fl-accent, 0.4); 
```
                    {{/markdown}}
                </div>  

                <div class="col-md-12">
                    <p class="color win-color-fill-accent-medium"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-accent-medium: rgba($win-color-fl-accent, 0.6);
```
                    {{/markdown}}
                </div>   
               
                <div class="col-md-12">
                    <p class="color win-color-fill-accent-high"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-accent-high: rgba($win-color-fl-accent, 0.7);
```
                    {{/markdown}}
                </div>

                <div class="col-md-12">
                    <p class="color win-color-fill-alert"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-alert: #D02E00;
```
                    {{/markdown}}
                </div>

                <div class="col-md-12">
                    <p class="color win-color-fill-10"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-10: rgba($win-color-dark, 0.05);
```
                    {{/markdown}}
                </div>        

                <div class="col-md-12">
                    <p class="color win-color-fill-20"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-20: rgba($win-color-dark, 0.1);
```
                    {{/markdown}}
                </div>        

                <div class="col-md-12">
                    <p class="color win-color-fill-30"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-30: rgba($win-color-dark, 0.2);
```
                    {{/markdown}}
                </div>        

                <div class="col-md-12">
                    <p class="color win-color-fill-40"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-40: rgba($win-color-dark, 0.4);
```
                    {{/markdown}}
                </div>        

                <div class="col-md-12">
                    <p class="color win-color-fill-50"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-50: rgba($win-color-dark, 0.6);
```
                    {{/markdown}}
                </div>

                <div class="col-md-12">
                    <p class="color win-color-fill-60"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-60: rgba($win-color-dark, 0.8);
```
                    {{/markdown}}
                </div>

                <div class="col-md-12">
                    <p class="color win-color-fill-70"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-70: $win-color-dark;
```
                    {{/markdown}}
                </div>
            </div>

            <h3>Line colors</h3> 
            <div class="row">
                <div class="col-md-12">
                    <p class="color line win-color-line-accent"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-accent: #0078D7;
```
                    {{/markdown}}
                </div>

                <div class="col-md-12">
                    <p class="color line win-color-line-accent-low"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-accent-low: rgba($win-color-fl-accent, 0.4); 
```
                    {{/markdown}}
                </div>  

                <div class="col-md-12">
                    <p class="color line win-color-line-accent-medium"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-accent-medium: rgba($win-color-fl-accent, 0.6);
```
                    {{/markdown}}
                </div>   
               
                <div class="col-md-12">
                    <p class="color line win-color-line-accent-high"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-accent-high: rgba($win-color-fl-accent, 0.7);
```
                    {{/markdown}}
                </div>

                <div class="col-md-12">
                    <p class="color line win-color-line-alert"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-alert: #D02E00;
```
                    {{/markdown}}
                </div>

                <div class="col-md-12">
                    <p class="color line win-color-line-10"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-10: rgba($win-color-dark, 0.05);
```
                    {{/markdown}}
                </div>        

                <div class="col-md-12">
                    <p class="color line win-color-line-20"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-20: rgba($win-color-dark, 0.1);
```
                    {{/markdown}}
                </div>        

                <div class="col-md-12">
                    <p class="color line win-color-line-30"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-30: rgba($win-color-dark, 0.2);
```
                    {{/markdown}}
                </div>        

                <div class="col-md-12">
                    <p class="color line win-color-line-40"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-40: rgba($win-color-dark, 0.4);
```
                    {{/markdown}}
                </div>        

                <div class="col-md-12">
                    <p class="color line win-color-line-50"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-50: rgba($win-color-dark, 0.6);
```
                    {{/markdown}}
                </div>

                <div class="col-md-12">
                    <p class="color line win-color-line-60"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-60: rgba($win-color-dark, 0.8);
```
                    {{/markdown}}
                </div>

                <div class="col-md-12">
                    <p class="color line win-color-line-70"></p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-70: $win-color-dark;
```
                    {{/markdown}}
                </div>
            </div>

            <h3>Text colors</h3> 
            <div class="row">
                <div class="col-md-12">
                    <p class="color win-color-type-primary">Primary</p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-type-primary: $win-color-dark;
```
                    {{/markdown}}
                </div>        

                <div class="col-md-12">
                    <p class="color win-color-type-secondary">Secondary</p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-type-secondary: rgba($win-color-type-primary, 0.6);
```
                    {{/markdown}}
                </div>        

                <div class="col-md-12">
                    <p class="color win-color-type-disabled">Disabled</p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-type-disabled: rgba($win-color-type-primary, 0.2);
```
                    {{/markdown}}
                </div>        

                <div class="col-md-12">
                    <p class="color win-color-type-accent">Accent</p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-type-accent: #0078D7;
```
                    {{/markdown}}
                </div>        

                <div class="col-md-12">
                    <p class="color win-color-type-alert">Alert</p>
                </div>
                <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-type-alert: #D02E00;
```
                    {{/markdown}}
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-xs-24">
        <section class="win-section" id="basel-alt-colors">
            <header class="win-section-header">
                <h1 class="win-section-title">
                    <a href="#basel-alt-colors">Basel alt colors</a>
                </h1>
            </header>
            <div class="win-section-body win-color-bg-10-alt"  style="padding: 11.5px 11.5px 0 11.5px">
                <h3 class="win-color-primary-type-alt">Alt background colors</h3> 
                <div class="row">
                    <div class="col-md-12">
                        <p class="color win-color-bg-10-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-bg-10-alt: $win-color-dark;
```
                    {{/markdown}}
                    </div>        

                    <div class="col-md-12">
                        <p class="color win-color-bg-20-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-bg-20-alt: #191919;
```
                    {{/markdown}}
                    </div>        

                    <div class="col-md-12">
                        <p class="color win-color-bg-30-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-bg-30-alt: #262626;
```
                    {{/markdown}}
                    </div>        

                    <div class="col-md-12">
                        <p class="color win-color-bg-40-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-bg-40-alt: #333333;
```
                    {{/markdown}}
                    </div>        

                    <div class="col-md-12">
                        <p class="color win-color-bg-50-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-bg-50-alt: #404040;
```
                    {{/markdown}}
                    </div>
                </div>

                <h3 class="win-color-primary-type-alt">Alt fill colors</h3> 
                <div class="row">
                    <div class="col-md-12">
                        <p class="color win-color-fill-accent-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-accent-alt: $win-color-fl-accent;
```
                    {{/markdown}}
                    </div>

                    <div class="col-md-12">
                        <p class="color win-color-fill-accent-low-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-accent-low-alt: rgba($win-color-fl-accent, 0.4); 
```
                    {{/markdown}}
                    </div>  

                    <div class="col-md-12">
                        <p class="color win-color-fill-accent-medium-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-accent-medium-alt: rgba($win-color-fl-accent, 0.6);
```
                    {{/markdown}}
                    </div>   
                   
                    <div class="col-md-12">
                        <p class="color win-color-fill-accent-high-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-accent-high-alt: rgba($win-color-fl-accent, 0.7);
```
                    {{/markdown}}
                    </div>

                    <div class="col-md-12">
                        <p class="color win-color-fill-alert-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-alert-alt: #D02E00;
```
                    {{/markdown}}
                    </div>

                    <div class="col-md-12">
                        <p class="color win-color-fill-10-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-10-alt: rgba(255,255,255,.1);
```
                    {{/markdown}}
                    </div>        

                    <div class="col-md-12">
                        <p class="color win-color-fill-20-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-20-alt: rgba(255,255,255,.15);
```
                    {{/markdown}}
                    </div>        

                    <div class="col-md-12">
                        <p class="color win-color-fill-30-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-30-alt: rgba(255,255,255,.3);
```
                    {{/markdown}}
                    </div>        

                    <div class="col-md-12">
                        <p class="color win-color-fill-40-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-40-alt: rgba(255,255,255,.4);
```
                    {{/markdown}}
                    </div>        

                    <div class="col-md-12">
                        <p class="color win-color-fill-50-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-50-alt: rgba(255,255,255,.6);
```
                    {{/markdown}}
                    </div>

                    <div class="col-md-12">
                        <p class="color win-color-fill-60-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-60-alt: rgba(255,255,255,.8);
```
                    {{/markdown}}
                    </div>

                    <div class="col-md-12">
                        <p class="color win-color-fill-70-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-70-alt: #FFFFFF;
```
                    {{/markdown}}
                    </div>
                </div>

                <h3 class="win-color-primary-type-alt">Alt line colors</h3> 
                <div class="row">
                    <div class="col-md-12">
                        <p class="color line win-color-line-accent-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-accent-alt: #0078D7;
```
                    {{/markdown}}
                    </div>

                    <div class="col-md-12">
                        <p class="color line win-color-line-accent-low-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-accent-low-alt: rgba($win-color-fl-accent, 0.4); 
```
                    {{/markdown}}
                    </div>  

                    <div class="col-md-12">
                        <p class="color line win-color-line-accent-medium-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-accent-medium-alt: rgba($win-color-fl-accent, 0.6);
```
                    {{/markdown}}
                    </div>   
                   
                    <div class="col-md-12">
                        <p class="color line win-color-line-accent-high-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-accent-high-alt: rgba($win-color-fl-accent, 0.7);
```
                    {{/markdown}}
                    </div>

                    <div class="col-md-12">
                        <p class="color line win-color-line-alert-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-alert-alt: #D02E00;
```
                    {{/markdown}}
                    </div>

                    <div class="col-md-12">
                        <p class="color line win-color-line-10-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-10-alt: rgba($win-color-light, 0.1);
```
                    {{/markdown}}
                    </div>        

                    <div class="col-md-12">
                        <p class="color line win-color-line-20-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-20-alt: rgba($win-color-light, 0.15);
```
                    {{/markdown}}
                    </div>        

                    <div class="col-md-12">
                        <p class="color line win-color-line-30-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-30-alt: rgba($win-color-light, 0.2);
```
                    {{/markdown}}
                    </div>        

                    <div class="col-md-12">
                        <p class="color line win-color-line-40-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-40-alt: rgba($win-color-light, 0.4);
```
                    {{/markdown}}
                    </div>        

                    <div class="col-md-12">
                        <p class="color line win-color-line-50-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-50-alt: rgba($win-color-light, 0.6);
```
                    {{/markdown}}
                    </div>

                    <div class="col-md-12">
                        <p class="color line win-color-line-60-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-60-alt: rgba($win-color-light, 0.8);
```
                    {{/markdown}}
                    </div>

                    <div class="col-md-12">
                        <p class="color line win-color-line-70-alt"></p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-fl-70-alt: $win-color-light;
```
                    {{/markdown}}
                    </div>
                </div>

                <h3 class="win-color-type-primary-alt">Alt text colors</h3> 
                <div class="row">
                    <div class="col-md-12">
                        <p class="color win-color-type-primary-alt">Primary</p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-type-primary-alt: $win-color-light;
```
                    {{/markdown}}
                    </div>        

                    <div class="col-md-12">
                        <p class="color win-color-type-secondary-alt">Secondary</p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-type-secondary-alt: rgba($win-color-type-primary-alt, 0.6);
```
                    {{/markdown}}
                    </div>        

                    <div class="col-md-12">
                        <p class="color win-color-type-disabled-alt">Disabled</p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-type-disabled-alt: rgba($win-color-type-primary-alt, 0.2);
```
                    {{/markdown}}
                    </div>        

                    <div class="col-md-12">
                        <p class="color win-color-type-accent-alt">Accent</p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-type-accent-alt: #0078D7;
```
                    {{/markdown}}
                    </div>

                    <div class="col-md-12">
                        <p class="color win-color-type-alert-alt">Alert</p>
                    </div>
                    <div class="col-md-12">
                    {{#markdown}}
```scss
$win-color-type-alert-alt: #D02E00;
```
                    {{/markdown}}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

