<section class="win-section" id="bootstrap-colors">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#bootstrap-colors">Bootstrap colors</a>
        </h1>
    </header>        
    <p>These are the primary colors used throughout various Bootstrap controls. They've been altered to use Windows 10 colors instead of Bootstrap colors.</p>
        <div class="col-xs-6">
            <p class="color accent"></p>

            {{#markdown}}
```scss
$brand-primary: $win-color-accent !default;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-6">
            <p class="color core-green"></p>

            {{#markdown}}
```scss
$brand-success: $win-color-core-green !default; 
```
            {{/markdown}}
        </div>
        <div class="col-xs-6">
            <p class="color core-blue"></p>

            {{#markdown}}
```scss
$brand-info: $win-color-core-blue !default; 
```
            {{/markdown}}
        </div>      
        <div class="col-xs-6">
            <p class="color core-yellow"></p>

            {{#markdown}}
```scss
$brand-warning: $win-color-core-yellow !default;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-6">
            <p class="color core-red"></p>

            {{#markdown}}
```scss
$brand-danger: $win-color-core-red !default;
```
            {{/markdown}}
        </div>   
    </section>


<section class="win-section" id="grays">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#grays">Grays</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-xs-24">
            <p>
                Here are the grays in Bootstrap-WinJS. These greys are a combination of colors in the controls color ramp as well as the services guide.
            </p>
        </div>

        <div class="col-xs-6">
            <p class="color chrome-10"></p>

            {{#markdown}}
```scss
$win-color-chrome-10: #f2f2f2; 
```
            {{/markdown}}
        </div>        

        <div class="col-xs-6">
            <p class="color chrome-20"></p>

            {{#markdown}}
```scss
$win-color-chrome-20: #d2d2d2; 
```
            {{/markdown}}
        </div>        

        <div class="col-xs-6">
            <p class="color chrome-30"></p>

            {{#markdown}}
```scss
$win-color-chrome-30: #e6e6e6; 
```
            {{/markdown}}
        </div>        

        <div class="col-xs-6">
            <p class="color chrome-40"></p>

            {{#markdown}}
```scss
$win-color-chrome-40: #cccccc; 
```
            {{/markdown}}
        </div>        

        <div class="col-xs-6">
            <p class="color chrome-50"></p>

            {{#markdown}}
```scss
$win-color-chrome-50: #767676;
```
            {{/markdown}}
        </div>        

        <div class="col-xs-6">
            <p class="color chrome-60"></p>

            {{#markdown}}
```scss
$win-color-chrome-60: #7a7a7a;
```
            {{/markdown}}
        </div>        

        <div class="col-xs-6">
            <p class="color chrome-70"></p>

            {{#markdown}}
```scss
$win-color-chrome-70: #333333;
```
            {{/markdown}}
        </div>        

        <div class="col-xs-6">
            <p class="color chrome-80"></p>

            {{#markdown}}
```scss
$win-color-chrome-80: #171717;
```
            {{/markdown}}
        </div>        
</section>



<section class="win-section" id="base-colors">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#base-colors">Base colors</a>
        </h1>
    </header>        
    <p>Base colors</p>
  
        <div class="col-xs-6">
            <p class="color base-low"></p>

            {{#markdown}}
```scss
$win-color-base-low: rgba($win-color-base, 0.1);
```
            {{/markdown}}
        </div>   
        <div class="col-xs-6">
            <p class="color base-medium-low"></p>

            {{#markdown}}
```scss
$win-color-base-medium-low: rgba($win-color-base, 0.2);
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6">
            <p class="color base-medium"></p>

            {{#markdown}}
```scss
$win-color-base-medium: rgba($win-color-base, 0.4);
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6">
            <p class="color base-medium-high"></p>

            {{#markdown}}
```scss
$win-color-base-medium-high: rgba($win-color-base, 0.6);
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6">
            <p class="color base-high"></p>

            {{#markdown}}
```scss
$win-color-base-high: rgba($win-color-base, 0.8);
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6">
            <p class="color base"></p>

            {{#markdown}}
```scss
$win-color-base: #000;
```
            {{/markdown}}
        </div> 
</section>

<section class="win-section" id="alt-colors">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#alt-colors">Alt colors</a>
        </h1>
    </header>        
    <p>Alt colors</p>

        <div class="col-xs-6">
            <p class="color alt-low"></p>

            {{#markdown}}
```scss
$win-color-alt-low: rgba($win-color-alt, 0.1);
```
            {{/markdown}}
        </div>   
        <div class="col-xs-6">
            <p class="color alt-medium-low"></p>

            {{#markdown}}
```scss
$win-color-alt-medium-low: rgba($win-color-alt, 0.2);
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6">
            <p class="color alt-medium"></p>

            {{#markdown}}
```scss
$win-color-alt-medium: rgba($win-color-alt, 0.4);
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6">
            <p class="color alt-medium-high"></p>

            {{#markdown}}
```scss
$win-color-alt-medium-high: rgba($win-color-alt, 0.6);
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6">
            <p class="color alt-high"></p>

            {{#markdown}}
```scss
$win-color-alt-high: rgba($win-color-alt, 0.8);
```
            {{/markdown}}
        </div>      
        <div class="col-xs-6">
            <p class="color alt"></p>

            {{#markdown}}
```scss
$win-color-alt: #000;
```
            {{/markdown}}
        </div>   
</section>
<section class="win-section" id="accent-colors">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#accent-colors">Brand accent color</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-xs-24">
            <p>Brand accent color</p>
        </div>

        <div class="col-xs-6">
            <p class="color accent"></p>

            {{#markdown}}
```scss
$win-color-accent: rgb(0, 120, 215);
```
            {{/markdown}}
        </div>     

        <div class="col-xs-6">
            <p class="color accent-low"></p>

            {{#markdown}}
```scss
$win-color-accent-low: rgba($win-color-accent, 0.4); 
```
            {{/markdown}}
        </div>  

        <div class="col-xs-6">
            <p class="color accent-medium"></p>

            {{#markdown}}
```scss
$win-color-accent-medium: rgba($win-color-accent, 0.6);
```
            {{/markdown}}
        </div>   
       
        <div class="col-xs-6">
            <p class="color accent-high"></p>

            {{#markdown}}
```scss
$win-color-accent-high: rgba($win-color-accent, 0.7);
```
            {{/markdown}}
        </div>  
</section>
<section class="win-section" id="other-accent-colors">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#other-accent-colors">Core accent colors</a>
        </h1>
    </header>        
{{!--         Old colors for reference by MSCOM https://getmscom.microsoft.com/style-guide/Pages/color-bb.aspx --}}
    <p>Core accent colors</p>  
        <div class="col-xs-6">
            <p class="color core-yellow"></p>

            {{#markdown}}
```scss
$win-color-core-yellow: #FFF100;
```
            {{/markdown}}
        </div>    
        <div class="col-xs-6">
            <p class="color core-orange"></p>

            {{#markdown}}
```scss
$win-color-core-orange: #FF8C00;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-6">
            <p class="color core-red"></p>

            {{#markdown}}
```scss
$win-color-core-red: #E81123;
```
            {{/markdown}}
        </div> 
        <div class="col-xs-6">
            <p class="color core-magenta"></p>

            {{#markdown}}
```scss
$win-color-core-magenta: #EC008C;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-6">
            <p class="color core-purple"></p>

            {{#markdown}}
```scss
$win-color-core-purple: #68217A;
```
            {{/markdown}}
        </div>          

        <div class="col-xs-6">
            <p class="color core-blue"></p>

            {{#markdown}}
```scss
$win-color-core-blue: #00188F;
```
            {{/markdown}}
        </div>    
        <div class="col-xs-6">
            <p class="color core-teal"></p>

            {{#markdown}}
```scss
$win-color-core-teal: #00B294;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-6">
            <p class="color core-green"></p>

            {{#markdown}}
```scss
$win-color-core-green: #13A10E;
```
            {{/markdown}}
        </div>   
<section class="win-section" id="secondary-accent-colors">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#secondary-accent-colors">Secondary accent colors</a>
        </h1>
    </header>          
        <div class="col-xs-6">
            <p class="color secondary-magenta"></p>
            {{#markdown}}
```scss
$win-color-secondary-magenta: #E3008C;
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6"><p class="color secondary-purple"></p>
            {{#markdown}}
```scss
$win-color-secondary-purple: #32145A;
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6"><p class="color secondary-blue"></p>
            {{#markdown}}
```scss
$win-color-secondary-blue: #00188F; 
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6"><p class="color secondary-teal"></p>
            {{#markdown}}
```scss
$win-color-secondary-teal: #004B50; 
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6"><p class="color secondary-green"></p>
            {{#markdown}}
```scss
$win-color-secondary-green: #004B1C; 
```
            {{/markdown}}
        </div> 
</section>
<section class="win-section" id="tertiary-accent-colors">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#tertiary-accent-colors">Tertiary accent colors</a>
        </h1>
    </header>          
        <div class="col-xs-6"><p class="color tertiary-yellow"></p>
            {{#markdown}}
```scss
$win-color-tertiary-yellow: #FFF100;
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6"><p class="color tertiary-orange"></p>
            {{#markdown}}
```scss
$win-color-tertiary-orange: #FF8C00;
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6"><p class="color tertiary-red"></p>
            {{#markdown}}
```scss
$win-color-tertiary-red: #A80000;
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6"><p class="color tertiary-magenta"></p>
            {{#markdown}}
```scss
$win-color-tertiary-magenta: #5C005C;
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6"><p class="color tertiary-purple"></p>
            {{#markdown}}
```scss
$win-color-tertiary-purple: #B4A0FF;
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6"><p class="color tertiary-cyan"></p>
            {{#markdown}}
```scss
$win-color-tertiary-cyan: #00BCF2; 
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6"><p class="color tertiary-blue"></p>
            {{#markdown}}
```scss
$win-color-tertiary-blue: #002050;
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6"><p class="color tertiary-teal"></p>
            {{#markdown}}
```scss
$win-color-tertiary-teal: #00B294; 
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6"><p class="color tertiary-green"></p>
            {{#markdown}}
```scss
$win-color-tertiary-green: #BAD80A; 
```
            {{/markdown}}
        </div>  
</section>
