<section class="win-section" id="bootstrap-colors">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#bootstrap-colors">Bootstrap colors</a>
        </h1>
    </header>        
    <p>These are the primary colors used throughout various Bootstrap controls. It is VERY important we get these colors right. They've been altered to use Basel colors instead of Bootstrap colors.</p>
        <div class="col-xs-6">
            <p class="color accent"></p>

            {{#markdown}}
```scss
$brand-primary: $color-accent !default;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-6">
            <p class="color core-green"></p>

            {{#markdown}}
```scss
$brand-success: $color-core-green !default; 
```
            {{/markdown}}
        </div>
        <div class="col-xs-6">
            <p class="color core-cyan"></p>

            {{#markdown}}
```scss
$brand-info: $color-core-cyan !default; 
```
            {{/markdown}}
        </div>      
        <div class="col-xs-6">
            <p class="color core-orange"></p>

            {{#markdown}}
```scss
$brand-warning: $color-core-orange !default;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-6">
            <p class="color core-red"></p>

            {{#markdown}}
```scss
$brand-danger: $color-core-red !default;
```
            {{/markdown}}
        </div>   
    </section>


<section class="win-section" id="grays">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#grays">Grays</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-xs-24">
            <p>
                Here are the grays in Bootstrap-WinJS. These greys are a combination of colors in the controls color ramp as well as the services guide.
            </p>
        </div>

        <div class="col-xs-6">
            <p class="color chrome-10"></p>

            {{#markdown}}
```scss
$color-chrome-10: #f2f2f2; 
```
            {{/markdown}}
        </div>        

        <div class="col-xs-6">
            <p class="color chrome-20"></p>

            {{#markdown}}
```scss
$color-chrome-20: #d2d2d2; 
```
            {{/markdown}}
        </div>        

        <div class="col-xs-6">
            <p class="color chrome-30"></p>

            {{#markdown}}
```scss
$color-chrome-30: #e6e6e6; 
```
            {{/markdown}}
        </div>        

        <div class="col-xs-6">
            <p class="color chrome-40"></p>

            {{#markdown}}
```scss
$color-chrome-40: #cccccc; 
```
            {{/markdown}}
        </div>        

        <div class="col-xs-6">
            <p class="color chrome-50"></p>

            {{#markdown}}
```scss
$color-chrome-50: #767676;
```
            {{/markdown}}
        </div>        

        <div class="col-xs-6">
            <p class="color chrome-60"></p>

            {{#markdown}}
```scss
$color-chrome-60: #7a7a7a;
```
            {{/markdown}}
        </div>        

        <div class="col-xs-6">
            <p class="color chrome-70"></p>

            {{#markdown}}
```scss
$color-chrome-70: #333333;
```
            {{/markdown}}
        </div>        

        <div class="col-xs-6">
            <p class="color chrome-80"></p>

            {{#markdown}}
```scss
$color-chrome-80: #171717;
```
            {{/markdown}}
        </div>        
</section>

<section class="win-section" id="accent-colors">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#accent-colors">Accent colors</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-xs-24">
            <p>Windows accent color</p>
        </div>

        <div class="col-xs-6">
            <p class="color accent"></p>

            {{#markdown}}
```scss
$color-accent: rgb(0, 120, 215);
```
            {{/markdown}}
        </div>     

        <div class="col-xs-6">
            <p class="color accent-low"></p>

            {{#markdown}}
```scss
$color-accent-low: rgba($color-accent, 0.4); 
```
            {{/markdown}}
        </div>  

        <div class="col-xs-6">
            <p class="color accent-medium"></p>

            {{#markdown}}
```scss
$color-accent-medium: rgba($color-accent, 0.6);
```
            {{/markdown}}
        </div>   
       
        <div class="col-xs-6">
            <p class="color accent-high"></p>

            {{#markdown}}
```scss
$color-accent-high: rgba($color-accent, 0.7);
```
            {{/markdown}}
        </div>  
</section>

<section class="win-section" id="other-accent-colors">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#other-accent-colors">Other accent colors</a>
        </h1>
    </header>        
    <p>Other accent colors defined by <a href="https://getmscom.microsoft.com/style-guide/Pages/color-bb.aspx">MSCOM</a></p>
    <p>Blue</p>
        <div class="col-xs-8">
            <p class="color lighter-blue"></p>

            {{#markdown}}
```scss
$color-lighter-blue: #4668C5;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color core-blue"></p>

            {{#markdown}}
```scss
$color-core-blue: #00188F;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color darker-blue"></p>

            {{#markdown}}
```scss
$color-darker-blue: #002050;
```
            {{/markdown}}
        </div>   
<p>Cyan</p>
        <div class="col-xs-8">
            <p class="color lighter-cyan"></p>

            {{#markdown}}
```scss
$color-lighter-cyan: #6DC2E9;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color core-cyan"></p>

            {{#markdown}}
```scss
$color-core-cyan: #00BCF2;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color darker-cyan"></p>

            {{#markdown}}
```scss
$color-darker-cyan: #0072C6;
```
            {{/markdown}}
        </div>  
<p>Teal</p>
        <div class="col-xs-8">
            <p class="color lighter-teal"></p>

            {{#markdown}}
```scss
$color-lighter-teal: #00D8CC;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color core-teal"></p>

            {{#markdown}}
```scss
$color-core-teal: #00B294;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color darker-teal"></p>

            {{#markdown}}
```scss
$color-darker-teal: #008272;
```
            {{/markdown}}
        </div>   
<p>Green</p>
        <div class="col-xs-8">
            <p class="color lighter-green"></p>

            {{#markdown}}
```scss
$color-lighter-green: #55D455;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color core-green"></p>

            {{#markdown}}
```scss
$color-core-green: #009E49;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color darker-green"></p>

            {{#markdown}}
```scss
$color-darker-green: #007233;
```
            {{/markdown}}
        </div>    
<p>Lime</p>
        <div class="col-xs-8">
            <p class="color lighter-lime"></p>

            {{#markdown}}
```scss
$color-lighter-lime: #BAD80A;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color core-lime"></p>

            {{#markdown}}
```scss
$color-core-lime: #7FBA00;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color darker-lime"></p>

            {{#markdown}}
```scss
$color-darker-lime: #008A00;
```
            {{/markdown}}
        </div>     
<p>Yellow</p>
        <div class="col-xs-8">
            <p class="color lighter-yellow"></p>

            {{#markdown}}
```scss
$color-lighter-yellow: #FFFC9E;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color core-yellow"></p>

            {{#markdown}}
```scss
$color-core-yellow: #FFF100;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color darker-yellow"></p>

            {{#markdown}}
```scss
$color-darker-yellow: #FCD116;
```
            {{/markdown}}
        </div>   
        <p>Orange</p>
        <div class="col-xs-8">
            <p class="color lighter-orange"></p>

            {{#markdown}}
```scss
$color-lighter-orange: #FFB900;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color core-orange"></p>

            {{#markdown}}
```scss
$color-core-orange: #FF8C00;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color darker-orange"></p>

            {{#markdown}}
```scss
$color-darker-orange: #DC3C00;
```
            {{/markdown}}
        </div>  
        <p>Red</p>   
        <div class="col-xs-8">
            <p class="color lighter-red"></p>

            {{#markdown}}
```scss
$color-lighter-red: #DD5900;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color core-red"></p>

            {{#markdown}}
```scss
$color-core-red: #E81123;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color darker-red"></p>

            {{#markdown}}
```scss
$color-darker-red: #BA141A;
```
            {{/markdown}}
        </div>     

<p>Magenta</p>

        <div class="col-xs-8">
            <p class="color lighter-magenta"></p>

            {{#markdown}}
```scss
$color-lighter-magenta: #F472D0;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color core-magenta"></p>

            {{#markdown}}
```scss
$color-core-magenta: #EC008C;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color darker-magenta"></p>

            {{#markdown}}
```scss
$color-darker-magenta: #B4009E;
```
            {{/markdown}}
        </div>    
        <p>Purple</p>
                <div class="col-xs-8">
            <p class="color lighter-purple"></p>

            {{#markdown}}
```scss
$color-lighter-purple: #9B4F96;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color core-purple"></p>

            {{#markdown}}
```scss
$color-core-purple: #68217A;
```
            {{/markdown}}
        </div>   
        <div class="col-xs-8">
            <p class="color darker-purple"></p>

            {{#markdown}}
```scss
$color-darker-purple: #442359;
```
            {{/markdown}}
        </div>     
</section>

<section class="win-section" id="base-colors">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#base-colors">Base colors</a>
        </h1>
    </header>        
    <p>Base colors</p>
  
        <div class="col-xs-6">
            <p class="color base-low"></p>

            {{#markdown}}
```scss
$color-base-low: rgba($color-base, 0.1);
```
            {{/markdown}}
        </div>   
        <div class="col-xs-6">
            <p class="color base-medium-low"></p>

            {{#markdown}}
```scss
$color-base-medium-low: rgba($color-base, 0.2);
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6">
            <p class="color base-medium"></p>

            {{#markdown}}
```scss
$color-base-medium: rgba($color-base, 0.4);
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6">
            <p class="color base-medium-high"></p>

            {{#markdown}}
```scss
$color-base-medium-high: rgba($color-base, 0.6);
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6">
            <p class="color base-high"></p>

            {{#markdown}}
```scss
$color-base-high: rgba($color-base, 0.8);
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6">
            <p class="color base"></p>

            {{#markdown}}
```scss
$color-base: #000;
```
            {{/markdown}}
        </div> 
</section>

<section class="win-section" id="alt-colors">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#alt-colors">Alt colors</a>
        </h1>
    </header>        
    <p>Alt colors</p>

        <div class="col-xs-6">
            <p class="color alt-low"></p>

            {{#markdown}}
```scss
$color-alt-low: rgba($color-alt, 0.1);
```
            {{/markdown}}
        </div>   
        <div class="col-xs-6">
            <p class="color alt-medium-low"></p>

            {{#markdown}}
```scss
$color-alt-medium-low: rgba($color-alt, 0.2);
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6">
            <p class="color alt-medium"></p>

            {{#markdown}}
```scss
$color-alt-medium: rgba($color-alt, 0.4);
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6">
            <p class="color alt-medium-high"></p>

            {{#markdown}}
```scss
$color-alt-medium-high: rgba($color-alt, 0.6);
```
            {{/markdown}}
        </div>  
        <div class="col-xs-6">
            <p class="color alt-high"></p>

            {{#markdown}}
```scss
$color-alt-high: rgba($color-alt, 0.8);
```
            {{/markdown}}
        </div>      
        <div class="col-xs-6">
            <p class="color alt"></p>

            {{#markdown}}
```scss
$color-alt: #000;
```
            {{/markdown}}
        </div>   
</section>