<section class="section" id="dropdowns">
    <header class="section-header row">
        <h1 class="section-title col-xs-24">
            <a href="#dropdowns">Dropdowns</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-xs-24">
                {{> dropdown-primary }}
            <p>
                This is a simple dropdown menu with links inside.
                The dropdown code has specific accessibility settings.
            </p>

            {{#markdown}}
```xml
{{> dropdown-primary }}
```
            {{/markdown}}
        </div>
        <div class="col-xs-24">
            <p>This is the browser select control. Refer to the <a href="#forms">forms</a> sections for all intrinsic controls. This is here for convenenience.</p></p>
                {{> browser-select }}
            {{#markdown}}
```xml
{{> browser-select }}
```
            {{/markdown}}        
        </div>
    </div>
</section>
