<section class="section" id="dropdowns">
    <header class="section-header row">
        <h1 class="section-title col-xs-24">
            <a href="#dropdowns">Dropdowns</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-xs-24">
            <p class="spacer-24-bottom">
                This is a simple dropdown menu with links inside.
                The dropdown code has specific accessibility settings.
            </p>
            {{> dropdown }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-24 col-sm-12 col-md-6">
            <h4>On color</h4>
            <div class="color-blue" style="padding: 12px;">
                {{> theme-on-color }}
            </div>
        </div>
        <div class="col-xs-24 col-sm-12 col-md-6">
            <h4>Alt-theme</h4>
            <div class="color-black" style="padding: 12px;">
                {{> theme-alt }}
            </div>
        </div>
        <div class="col-xs-24 col-sm-12 col-md-6">
            <h4>On light image</h4>
            <div class="example-light-image-bg" style="padding: 12px;">
                {{> theme-on-img-light }}
            </div>
        </div>
        <div class="col-xs-24 col-sm-12 col-md-6">
            <h4>On dark image</h4>
            <div class="example-dark-image-bg" style="padding: 12px;">
                {{> theme-on-img-dark }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-24">

            {{#markdown}}
```xml
{{> mark-down }}
```
            {{/markdown}}
        </div>
        <div class="col-xs-24">
            <p>This is the browser select control. Refer to the <a href="#forms">forms</a> sections for all intrinsic controls. This is here for convenenience.</p></p>
                {{> browser-select }}
            {{#markdown}}
```xml
{{> browser-select }}
```
            {{/markdown}}        
        </div>
    </div>
</section>
