<section class="win-section" id="forms">
  <header class="win-section-header row">
    <h1 class="win-section-title col-xs-24">
      <a href="#forms">Forms</a>
    </h1>
  </header>

  <div class="row">
    <div class="col-xs-24">
      <h2>Text</h2>
      <input type='text' class='form-control' />
      <h2>Password</h2>
      <input type='password' class='form-control' />
      <h2>Text Area</h2>
      <textarea class='form-control'></textarea>

      {{#markdown}}
```xml
<input type='text' class='form-control' />
<input type='password' class='form-control' />
<textarea class='form-control'></textarea>
```
      {{/markdown}}
    </div>
  </div>
</section>
