<section class="win-section" id="forms">
  <header class="win-section-header row">
    <h1 class="win-section-title col-xs-24">
      <a href="#forms">Forms</a>
    </h1>
  </header>
  <div class="row">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Check me out
        </label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
      {{#markdown}}
```xml
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Check me out
        </label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
```
      {{/markdown}}
  </div>

  <div class="row">
    <div class="col-xs-24">
      <h2>Text</h2>
      <input type='text' class='form-control' />
      <h2>Password</h2>
      <input type='password' class='form-control' />
      <h2>Text Area</h2>
      <textarea class='form-control'></textarea>

      {{#markdown}}
```xml
<input type='text' class='form-control' />
<input type='password' class='form-control' />
<textarea class='form-control'></textarea>
```
      {{/markdown}}

      <h2>Select</h2>
      <select class='form-control'>
        <option>option a</option>
        <option>option b</option>
        <option>option c</option>
        <option>option d</option>
        <option>option e</option>
        <option>option f</option>
        <option>option g</option>
      </select>

       <select multiple="true" class="form-control">
        <option>a</option>
        <option>b</option>
        <option>c</option>
        <option>d</option>
        <option>e</option>
        <option>f</option>
        <option>g</option>
      </select>

      <select class="form-control">
        <option>a</option>
        <option>b</option>
        <option>c</option>
        <option>d</option>
      </select>

      <select disabled="true" class="form-control">
        <option>a</option>
        <option>b</option>
        <option>c</option>
        <option>d</option>
      </select>

      <select class="form-control">
          <optgroup label="A">
            <option>Alabama</option>
            <option>Alaska</option>
            <option>Arizona</option>
            <option>Arkansas</option>
          </optgroup>
          <optgroup label="C">
            <option>California</option>
            <option>Colorado</option>
            <option>Connecticut</option>
          </optgroup>
          <optgroup label="D" disabled="">
              <option>Delaware</option>
          </optgroup>
        <option>Florida</option>
        <option>Georgia</option>
        <option>Hawaii</option>
        <option>Idaho</option>
        <option>Illinois</option>
        <option>Indiana</option>
        <option>Iowa</option>
        <option>Kansas</option>
        <option>Kentucky</option>
        <option>Louisiana</option>
        <option>Maine</option>
        <option>Maryland</option>
        <option>Massachusetts</option>
        <option>Michigan</option>
        <option>Minnesota</option>
        <option>Mississippi</option>
        <option>Missouri</option>
        <option>Montana</option>
        <option>Nebraska</option>
        <option>Nevada</option>
        <option>New Hampshire</option>
        <option>New Jersey</option>
        <option>New Mexico</option>
        <option>New York</option>
        <option>North Carolina</option>
        <option>North Dakota</option>
        <option>Ohio</option>
        <option>Oklahoma</option>
        <option>Oregon</option>
        <option>Pennsylvania</option>
        <option>Rhode Island</option>
        <option>South Carolina</option>
        <option>South Dakota</option>
        <option>Tennessee</option>
        <option>Texas</option>
        <option>Utah</option>
        <option>Vermont</option>
        <option>Virginia</option>
        <option>Washington</option>
        <option>West Virginia</option>
        <option>Wisconsin</option>
        <option>Wyoming</option>
      </select>     

      {{#markdown}}
```xml
      <select class='form-control'>
        <option>option a</option>
        <option>option b</option>
        <option>option c</option>
        <option>option d</option>
        <option>option e</option>
        <option>option f</option>
        <option>option g</option>
      </select>

       <select multiple="true" class="form-control">
        <option>a</option>
        <option>b</option>
        <option>c</option>
        <option>d</option>
        <option>e</option>
        <option>f</option>
        <option>g</option>
      </select>

      <select class="form-control">
        <option>a</option>
        <option>b</option>
        <option>c</option>
        <option>d</option>
      </select>

      <select disabled="true" class="form-control">
        <option>a</option>
        <option>b</option>
        <option>c</option>
        <option>d</option>
      </select>

      <select class="form-control">
          <optgroup label="A">
            <option>Alabama</option>
            <option>Alaska</option>
            <option>Arizona</option>
            <option>Arkansas</option>
          </optgroup>
          <optgroup label="C">
            <option>California</option>
            <option>Colorado</option>
            <option>Connecticut</option>
          </optgroup>
          <optgroup label="D" disabled="">
              <option>Delaware</option>
          </optgroup>
        <option>Florida</option>
        <option>Georgia</option>
        <option>Hawaii</option>
        <option>Idaho</option>
        <option>Illinois</option>
        <option>Indiana</option>
        <option>Iowa</option>
        <option>Kansas</option>
        <option>Kentucky</option>
        <option>Louisiana</option>
        <option>Maine</option>
        <option>Maryland</option>
        <option>Massachusetts</option>
        <option>Michigan</option>
        <option>Minnesota</option>
        <option>Mississippi</option>
        <option>Missouri</option>
        <option>Montana</option>
        <option>Nebraska</option>
        <option>Nevada</option>
        <option>New Hampshire</option>
        <option>New Jersey</option>
        <option>New Mexico</option>
        <option>New York</option>
        <option>North Carolina</option>
        <option>North Dakota</option>
        <option>Ohio</option>
        <option>Oklahoma</option>
        <option>Oregon</option>
        <option>Pennsylvania</option>
        <option>Rhode Island</option>
        <option>South Carolina</option>
        <option>South Dakota</option>
        <option>Tennessee</option>
        <option>Texas</option>
        <option>Utah</option>
        <option>Vermont</option>
        <option>Virginia</option>
        <option>Washington</option>
        <option>West Virginia</option>
        <option>Wisconsin</option>
        <option>Wyoming</option>
      </select>     
```
      {{/markdown}}
    </div>
  </div>
</section>
