<section class="section" id="glyphs">
    <header class="section-header row">
        <h1 class="section-title col-xs-24">
            <a href="#glyphs">Glyphs</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-xs-24">
            <p>
                There are 211 free and open source glyphs included in Winstrap. Here are the available glyphs with their respective names.
                To display a glyph, use the <code>&lt;i&gt;</code> tag:
            </p>

            {{#markdown}}
```xml
<i class="glyph-[name]"></i>
```
            {{/markdown}}

            <p>Glyphs can also be displayed using the Sass function:</p>

            {{#markdown}}
```scss
.selector {
    font-family: "winjs-symbols";

    &::before {
        content: map-get($glyphs, [name]);
    }
}
```
            {{/markdown}}
        </div>

        {{#each glyphs.names}}
        <div class="col-xs-6">
            <p><i class="glyph-{{name}}"></i></p>
            <p><code>{{name}}</code></p>
        </div>
        {{/each}}

    </div>
</section>
