<section class="section" id="glyphs">
    <header class="section-header row">
        <h1 class="section-title col-xs-24">
            <a href="#glyphs">Glyphs</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-xs-24">
            <p>
                There are 226 free and open source glyphs included in Winstrap. Here are some of the available glyphs with their respective names.
                To display an glyph you can basically use this tag:
            </p>

            {{#markdown}}
```xml
<i class="glyph-[name]"></i>
```
            {{/markdown}}
        </div>
        <div class="col-xs-4">
            <p><i class="glyph-scrollChevronUpBoldLegacy"></i></p>
            <p><code>scrollChevronUpBoldLegacy</code></p>
        </div>
        <div class="col-xs-4"><p><i class="glyph-scrollChevronDownBoldLegacy"></i></p><p><code>scrollChevronDownBoldLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-checkmarkListviewLegacy"></i></p><p><code>checkmarkListviewLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-ratingStarFillReducedPaddingHTMLLegacy"></i></p><p><code>ratingStarFillReducedPaddingHTMLLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-searchboxLegacy"></i></p><p><code>searchboxLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-semanticZoomLegacy"></i></p><p><code>semanticZoomLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-arrowHTMLLegacy"></i></p><p><code>arrowHTMLLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-arrowHTMLMirroredLegacy"></i></p><p><code>arrowHTMLMirroredLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-chevronFlipLeftLegacy"></i></p><p><code>chevronFlipLeftLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-chevronFlipRightLegacy"></i></p><p><code>chevronFlipRightLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-ChevronFlipUpLegacy"></i></p><p><code>ChevronFlipUpLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-chevronFlipDownLegacy"></i></p><p><code>chevronFlipDownLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-checkmarkMenuLegacy"></i></p><p><code>checkmarkMenuLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-ratingStarLegacy"></i></p><p><code>ratingStarLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-chevronRightSmLegacy"></i></p><p><code>chevronRightSmLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-chevronLeftSmLegacy"></i></p><p><code>chevronLeftSmLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-previousLegacy"></i></p><p><code>previousLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-nextLegacy"></i></p><p><code>nextLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-playLegacy"></i></p><p><code>playLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-pauseLegacy"></i></p><p><code>pauseLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-editLegacy"></i></p><p><code>editLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-saveLegacy"></i></p><p><code>saveLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-clearLegacy"></i></p><p><code>clearLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-deleteLegacy"></i></p><p><code>deleteLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-removeLegacy"></i></p><p><code>removeLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-addLegacy"></i></p><p><code>addLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-cancelLegacy"></i></p><p><code>cancelLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-acceptLegacy"></i></p><p><code>acceptLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-moreLegacy"></i></p><p><code>moreLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-redoLegacy"></i></p><p><code>redoLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-undoLegacy"></i></p><p><code>undoLegacyundoLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-homeLegacy"></i></p><p><code>homeLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-upLegacy"></i></p><p><code>upLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-forwardLegacy"></i></p><p><code>forwardLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-backLegacy"></i></p><p><code>backLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-backLegacy"></i></p><p><code>backLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-cameraLegacy"></i></p><p><code>cameraLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-cameraLegacy"></i></p><p><code>cameraLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-videoLegacy"></i></p><p><code>videoLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-syncLegacy"></i></p><p><code>syncLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-downloadLegacy"></i></p><p><code>downloadLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-mailLegacy"></i></p><p><code>mailLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-findLegacy"></i></p><p><code>findLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-helpLegacy"></i></p><p><code>helpLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-uploadLegacy"></i></p><p><code>uploadLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-emojiLegacy"></i></p><p><code>emojiLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-twoPageLegacy"></i></p><p><code>twoPageLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-leaveChatLegacy"></i></p><p><code>leaveChatLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-mailForwardLegacy"></i></p><p><code>mailForwardLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-clockLegacy"></i></p><p><code>clockLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-sendLegacy"></i></p><p><code>sendLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-cropLegacy"></i></p><p><code>cropLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-rotateCameraLegacy"></i></p><p><code>rotateCameraLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-peopleLegacy"></i></p><p><code>peopleLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-closePaneLegacy"></i></p><p><code>closePaneLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-openPaneLegacy"></i></p><p><code>openPaneLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-worldLegacy"></i></p><p><code>worldLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-flagLegacy"></i></p><p><code>flagLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-previewLinkLegacy"></i></p><p><code>previewLinkLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-globeLegacy"></i></p><p><code>globeLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-trimLegacy"></i></p><p><code>trimLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-attachCameraLegacy"></i></p><p><code>attachCameraLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-zoomInLegacy"></i></p><p><code>zoomInLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-bookmarksLegacy"></i></p><p><code>bookmarksLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-documentLegacy"></i></p><p><code>documentLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-protectedDocumentLegacy"></i></p><p><code>protectedDocumentLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-pageFillLegacy"></i></p><p><code>pageFillLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-multiSelect"></i></p><p><code>multiSelectLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-commentLegacy"></i></p><p><code>commentLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-mailFillLegacy"></i></p><p><code>mailFillLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-contactInfoLegacy"></i></p><p><code>contactInfoLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-hangupLegacy"></i></p><p><code>hangupLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-viewAllLegacy"></i></p><p><code>viewAllLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-mapPinLegacy"></i></p><p><code>mapPinLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-phoneLegacy"></i></p><p><code>phoneLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-videoChatLegacy"></i></p><p><code>videoChatLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-switchLegacy"></i></p><p><code>switchLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-contactLegacy"></i></p><p><code>contactLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-renameLegacy"></i></p><p><code>renameLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-pinLegacy"></i></p><p><code>pinLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-musicInfoLegacy"></i></p><p><code>musicInfoLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-goLegacy"></i></p><p><code>goLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-keyBoardLegacy"></i></p><p><code>keyBoardLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-dockLeftLegacy"></i></p><p><code>dockLeftLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-dockRightLegacy"></i></p><p><code>dockRightLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-dockBottomLegacy"></i></p><p><code>dockBottomLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-remoteLegacy"></i></p><p><code>remoteLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-refreshLegacy"></i></p><p><code>refreshLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-rotateLegacy"></i></p><p><code>rotateLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-shuffleLegacy"></i></p><p><code>shuffleLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-listLegacy"></i></p><p><code>listLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-shopLegacy"></i></p><p><code>shopLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-selectAllLegacy"></i></p><p><code>selectAllLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-orientationLegacy"></i></p><p><code>orientationLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-importLegacy"></i></p><p><code>importLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-importAllLegacy"></i></p><p><code>importAllLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-browsePhotosLegacy"></i></p><p><code>browsePhotosLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-webcamLegacy"></i></p><p><code>webcamLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-pictureLegacy"></i></p><p><code>pictureLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-saveLocalLegacy"></i></p><p><code>saveLocalLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-captionLegacy"></i></p><p><code>captionLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-stopLegacy"></i></p><p><code>stopLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-showResultsLegacy"></i></p><p><code>showResultsLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-volumeLegacy"></i></p><p><code>volumeLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-repairLegacy"></i></p><p><code>repairLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-messageLegacy"></i></p><p><code>messageLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-pageLegacy"></i></p><p><code>pageLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-calendarDayLegacy"></i></p><p><code>calendarDayLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-calendarWeekLegacy"></i></p><p><code>calendarWeekLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-calendarLegacy"></i></p><p><code>calendarLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-charactersLegacy"></i></p><p><code>charactersLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-mailReplyAllLegacy"></i></p><p><code>mailReplyAllLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-readLegacy"></i></p><p><code>readLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-linkLegacy"></i></p><p><code>linkLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-accountsLegacy"></i></p><p><code>accountsLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-showBccLegacy"></i></p><p><code>showBccLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-hideBccLegacy"></i></p><p><code>hideBccLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-cutLegacy"></i></p><p><code>cutLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-attachLegacy"></i></p><p><code>attachLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-pasteLegacy"></i></p><p><code>pasteLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-filterLegacy"></i></p><p><code>filterLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-copyLegacy"></i></p><p><code>copyLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-emoji2Legacy"></i></p><p><code>emoji2Legacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-importantLegacy"></i></p><p><code>importantLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-mailReplyLegacy"></i></p><p><code>mailReplyLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-slideshowLegacy"></i></p><p><code>slideshowLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-sortLegacy"></i></p><p><code>sortLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-manageLegacy"></i></p><p><code>manageLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-allAppsLegacy"></i></p><p><code>allAppsLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-disconnectDriveLegacy"></i></p><p><code>disconnectDriveLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-mapDriveLegacy"></i></p><p><code>mapDriveLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-newWindowLegacy"></i></p><p><code>newWindowLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-openWithLegacy"></i></p><p><code>openWithLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-contactPresenceLegacy"></i></p><p><code>contactPresenceLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-priorityLegacy"></i></p><p><code>priorityLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-uploadSkyDriveLegacy"></i></p><p><code>uploadSkyDriveLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-gotoTodayLegacy"></i></p><p><code>gotoTodayLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-fontLegacy"></i></p><p><code>fontLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-fontColorLegacy"></i></p><p><code>fontColorLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-contact2Legacy"></i></p><p><code>contact2Legacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-folderLegacy"></i></p><p><code>folderLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-audioLegacy"></i></p><p><code>audioLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-placeholderLegacy"></i></p><p><code>placeholderLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-viewLegacy"></i></p><p><code>viewLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-setlockScreenLegacy"></i></p><p><code>setlockScreenLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-setTileLegacy"></i></p><p><code>setTileLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-ccLegacy"></i></p><p><code>ccLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-stopSlideshowLegacy"></i></p><p><code>stopSlideshowLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-permissionsLegacy"></i></p><p><code>permissionsLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-highlightLegacy"></i></p><p><code>highlightLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-disableUpdatesLegacy"></i></p><p><code>disableUpdatesLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-unfavoriteLegacy"></i></p><p><code>unfavoriteLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-unpinLegacy"></i></p><p><code>unpinLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-openLocalLegacy"></i></p><p><code>openLocalLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-muteLegacy"></i></p><p><code>muteLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-italicLegacy"></i></p><p><code>italicLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-underlineLegacy"></i></p><p><code>underlineLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-boldLegacy"></i></p><p><code>boldLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-moveToFolderLegacy"></i></p><p><code>moveToFolderLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-likeDislikeLegacy"></i></p><p><code>likeDislikeLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-dislikeLegacy"></i></p><p><code>dislikeLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-likeLegacy"></i></p><p><code>likeLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-alignRightLegacy"></i></p><p><code>alignRightLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-alignCenterLegacy"></i></p><p><code>alignCenterLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-alignLeftLegacy"></i></p><p><code>alignLeftLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-zoomLegacy"></i></p><p><code>zoomLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-zoomOutLegacy"></i></p><p><code>zoomOutLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-openFileLegacy"></i></p><p><code>openFileLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-otherUserLegacy"></i></p><p><code>otherUserLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-adminLegacy"></i></p><p><code>adminLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-streetLegacy"></i></p><p><code>streetLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-mapLegacy"></i></p><p><code>mapLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-clearSelectionLegacy"></i></p><p><code>clearSelectionLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-fontDecreaseLegacy"></i></p><p><code>fontDecreaseLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-fontIncreaseLegacy"></i></p><p><code>fontIncreaseLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-fontSizeLegacy"></i></p><p><code>fontSizeLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-cellPhoneLegacy"></i></p><p><code>cellPhoneLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-reshareLegacy"></i></p><p><code>reshareLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-tagLegacy"></i></p><p><code>tagLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-repeatOneLegacy"></i></p><p><code>repeatOneLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-repeatAllLegacy"></i></p><p><code>repeatAllLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-outlineStarLegacy"></i></p><p><code>outlineStarLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-solidStarLegacy"></i></p><p><code>solidStarLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-calculatorLegacy"></i></p><p><code>calculatorLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-directionsLegacy"></i></p><p><code>directionsLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-locationLegacy"></i></p><p><code>locationLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-libraryLegacy"></i></p><p><code>libraryLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-phoneBookLegacy"></i></p><p><code>phoneBookLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-memoLegacy"></i></p><p><code>memoLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-microphoneLegacy"></i></p><p><code>microphoneLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-postUpdateLegacy"></i></p><p><code>postUpdateLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-backToWindowLegacy"></i></p><p><code>backToWindowLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-fullScreenLegacy"></i></p><p><code>fullScreenLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-newFolderLegacy"></i></p><p><code>newFolderLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-calendarReplyLegacy"></i></p><p><code>calendarReplyLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-unsyncFolderLegacy"></i></p><p><code>unsyncFolderLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-reportHackedLegacy"></i></p><p><code>reportHackedLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-syncFolderLegacy"></i></p><p><code>syncFolderLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-blockContactLegacy"></i></p><p><code>blockContactLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-switchAppsLegacy"></i></p><p><code>switchapps</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-addFriendLegacy"></i></p><p><code>addFriendLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-touchPointerLegacy"></i></p><p><code>touchPointerLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-goToStartLegacy"></i></p><p><code>goToStartLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-zeroBarsLegacy"></i></p><p><code>zeroBarsLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-oneBarLegacy"></i></p><p><code>oneBarLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-twoBarsLegacy"></i></p><p><code>twoBarsLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-threeBarsLegacy"></i></p><p><code>threeBarsLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-fourBarsLegacy"></i></p><p><code>fourBarsLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-scanLegacy"></i></p><p><code>scanLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-previewLegacy"></i></p><p><code>previewLegacy</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-globalNavButton"></i></p><p><code>globalNavButton</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-checkboxComposite"></i></p><p><code>checkboxComposite</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-checkboxIndeterminate"></i></p><p><code>checkboxIndeterminate</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-warning"></i></p><p><code>warning</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-shoppingCart"></i></p><p><code>shoppingCart</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-flag2"></i></p><p><code>flag2</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-completed"></i></p><p><code>completed</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-musicAlbum"></i></p><p><code>musicAlbum</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-info"></i></p><p><code>info</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-devices3"></i></p><p><code>devices3</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-expand"></i></p><p><code>expand</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-collapse"></i></p><p><code>collapse</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-radioBtnOff"></i></p><p><code>radioBtnOff</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-radioBtnOn"></i></p><p><code>radioBtnOn</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-radioBullet2"></i></p><p><code>radioBullet2</code></p></div>
        <div class="col-xs-4"><p><i class="glyph-mediaBrowse"></i></p><p><code>mediaBrowse</code></p></div>
    </div>
</section>
