<section class="section" id="glyphs">
    <header class="section-header row">
        <h1 class="section-title col-xs-24">
            <a href="#glyphs">Glyphs</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-xs-24">
            <p>There are 254 free and open source glyphs included in Winstrap. Here are the available glyphs with their respective names. To display a glyph, add the <code>glyph</code> base class and the individual <code>glyph-*</code> class.</p>

            {{#markdown}}
```xml
<span class="glyph glyph-[glyph-name]" aria-hidden="true"></span>
```
            {{/markdown}}

            <p>Glyphs can also be displayed using the <code>glyph</code> Sass mixin:</p>

            {{#markdown}}
```scss
.selector {
    &::before {
        @include glyph( [glyph-name] );
    }
}
```
            {{/markdown}}

            <p>If you only need to get a glyph's unicode value, you can use the Sass function:</p>

            {{#markdown}}
```scss
.selector {
    font-family: "winjs-symbols";

    &::before {
        content: glyph( [glyph-name] );
    }
}
```
            {{/markdown}}
		<hr>
		</div>
       <div class="col-xs-24">
			<h2 class="section-title col-xs-24">
				Examples
			</h2>
		</div>
        <div class="col-xs-24">
			<h3 class="section-title col-xs-24">Larger</h3>
			<p>To increase icon sizes relative to their container, use the <code>glyph-lg</code> (33% increase), <code>glyph-2</code>x, <code>glyph-3x</code>, <code>glyph-4x</code>, or <code>glyph-5x</code> classes. If your icons are getting chopped off on top and bottom, make sure you have sufficient line-height.</p>
		</div>
        <div class="col-xs-24">
			<br>
		</div>
        <div class="col-xs-6 p-xxs">
			<span class="glyph glyph-settings glyph-lg"></span> glyph-lg<br>
			<span class="glyph glyph-settings glyph-2x"></span> glyph-2x<br>
			<span class="glyph glyph-settings glyph-3x"></span> glyph-3x<br>
			<span class="glyph glyph-settings glyph-4x"></span> glyph-4x<br>
			<span class="glyph glyph-settings glyph-5x"></span> glyph-5x<br>
		</div>
		<div class="col-xs-18">
		{{#markdown}}
```xml
	<span class="glyph glyph-settings glyph-lg"></span>
<span class="glyph glyph-settings glyph-2x"></span>
<span class="glyph glyph-settings glyph-3x"></span>
<span class="glyph glyph-settings glyph-4x"></span>
<span class="glyph glyph-settings glyph-5x"></span>
```
        {{/markdown}}
		</div>
        <div class="col-xs-24">
			<h3 class="section-title col-xs-24">Fixed Width Icons</h3>
			<p>Use <code>glyph-fw</code> to set icons at a fixed width. Great to use when different icon widths throw off alignment. Especially useful in things like nav lists & list groups.</p>
		</div>
        <div class="col-xs-24">
			<br>
		</div>
        <div class="col-xs-6 p-xxs">
			<span class="glyph glyph-settings glyph-fw"></span> glyph-fw
		</div>
		<div class="col-xs-18">
		{{#markdown}}
```xml
	<span class="glyph glyph-settings glyph-fw"></span>
```
        {{/markdown}}
		</div>
        <div class="col-xs-24">
			<h3 class="section-title col-xs-24">List Icons</h3>
			<p>Use <code>glyph-ul</code> and <code>glyph-li</code> to easily replace default bullets in unordered lists.</p>
		</div>
        <div class="col-xs-24">
			<br>
		</div>
        <div class="col-xs-6">
			<ul class="glyph-ul">
				<li><span class="glyph-li glyph glyph-settings"></span>List icons</li>
				<li><span class="glyph-li glyph glyph-send"></span>can be used</li>
				<li><span class="glyph-li glyph glyph-rotate glyph-spin"></span>as bullets</li>
				<li><span class="glyph-li glyph glyph-contact"></span>in lists</li>
			</ul>
		</div>
		<div class="col-xs-18">
		{{#markdown}}
```xml
	<ul class="glyph-ul">
	<li><span class="glyph-li glyph glyph-settings"></span>List icons</li>
	<li><span class="glyph-li glyph glyph-send"></span>can be used</li>
	<li><span class="glyph-li glyph glyph-rotate glyph-spin"></span>as bullets</li>
	<li><span class="glyph-li glyph glyph-contact"></span>in lists</li>
</ul>
```
        {{/markdown}}
		</div>
        <div class="col-xs-24">
			<h3 class="section-title col-xs-24">Animated Icons</h3>
			<p>Use the <code>glyph-spin</code> class to get any icon to rotate, and use <code>glyph-pulse</code> to have it rotate with 8 steps. Works well with <code>glyph-Settings</code>, <code>glyph-refresh</code>, and more. CSS3 animations aren't supported in IE8 - IE9. Some browsers on some platforms have issues with animated icons resulting in a jittery wobbling effect.</p>
		</div>
        <div class="col-xs-24">
			<br>
		</div>
        <div class="col-xs-6 p-xxs">
			<span class="glyph glyph-settings glyph-spin"></span>
			<span class="glyph glyph-globe glyph-pulse"></span>
			<span class="glyph glyph-refresh glyph-spin"></span>
		</div>
		<div class="col-xs-18">
		{{#markdown}}
```xml
	<span class="glyph glyph-settings glyph-spin"></span>
<span class="glyph glyph-globe glyph-pulse"></span>
<span class="glyph glyph-refresh glyph-spin"></span>
```
        {{/markdown}}
		</div>
        <div class="col-xs-24">
			<h3 class="section-title col-xs-24">Animated Icons</h3>
			<p>To arbitrarily rotate and flip icons, use the <code>glyph-rotate-*</code> and <code>glyph-flip-*</code> classes.</p>
		</div>
        <div class="col-xs-24">
			<br>
		</div>
        <div class="col-xs-6 p-xxs">
			<span class="glyph glyph-flag"></span> normal<br>
			<span class="glyph glyph-flag glyph-rotate-90"></span> glyph-rotate-90<br>
			<span class="glyph glyph-flag glyph-rotate-180"></span> glyph-rotate-180<br>
			<span class="glyph glyph-flag glyph-rotate-270"></span> glyph-rotate-270<br>
			<span class="glyph glyph-flag glyph-flip-horizontal"></span> glyph-flip-horizontal<br>
			<span class="glyph glyph-flag glyph-flip-vertical"></span> icon-flip-vertical</p>
		</div>
		<div class="col-xs-18">
		{{#markdown}}
```xml
	<span class="glyph glyph-flag"></span> normal
<span class="glyph glyph-flag glyph-rotate-90"></span> glyph-rotate-90
<span class="glyph glyph-flag glyph-rotate-180"></span> glyph-rotate-180
<span class="glyph glyph-flag glyph-rotate-270"></span> glyph-rotate-270
<span class="glyph glyph-flag glyph-flip-horizontal"></span> glyph-flip-horizontal
<span class="glyph glyph-flag glyph-flip-vertical"></span> icon-flip-vertical
```
        {{/markdown}}
		</div>
        <div class="col-xs-24">
			<h3 class="section-title col-xs-24">Stacked Icons</h3>
			<p>To stack multiple icons, use the <code>glyph-stack</code> class on the parent, the <code>glyph-stack-1x</code> for the regularly sized icon, and <code>glyph-stack-2x</code> for the larger icon. <code>glyph-inverse</code> can be used as an alternative icon color. You can even throw larger icon classes on the parent to get further control of sizing. </p>		</div>
        <div class="col-xs-24">
			<br>
		</div>
        <div class="col-xs-6 p-xxs">
			<span class="glyph-stack glyph-lg">
				<span class="glyph glyph-camera glyph-stack-1x"></span>
				<span class="glyph glyph-cancel glyph-stack-2x text-danger"></span>
			</span> glyph-cancel on glyph-camera
		</div>
		<div class="col-xs-18">
		{{#markdown}}
```xml
	<span class="glyph-stack glyph-lg">
	<span class="glyph glyph-camera glyph-stack-1x"></span>
	<span class="glyph glyph-cancel glyph-stack-2x text-danger"></span>
</span>
```
        {{/markdown}}
		</div>
        <div class="col-xs-6 p-xxs">
			<span class="glyph-stack glyph-lg">
				<span class="glyph glyph-favorite glyph-stack-1x text-danger"></span>
				<span class="glyph glyph-star-outline glyph-stack-1x"></span>
			</span> glyph-star-outline on glyph-favorite 
		</div>
		<div class="col-xs-18">
		{{#markdown}}
```xml
	<span class="glyph-stack glyph-lg">
	<span class="glyph glyph-favorite glyph-stack-1x text-danger"></span>
	<span class="glyph glyph-star-outline glyph-stack-1x"></span>
</span>
```
        {{/markdown}}
		</div>
		<div class="col-xs-24"><hr></div>
        </div>

        {{#each glyphs.names}}
        <div class="col-xs-6 gcf">
            <p><span class="glyph glyph-{{name}}"></span></p>
            <p><code>{{name}}</code></p>
        </div>
        {{/each}}

    </div>
</section>
