<section class="win-section" id="grid-small-gutters">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#grid-small-gutters">Grid with small gutters</a>
        </h1>
    </header>

    <div class="row win-row-sm win-section-gallery">

        <div class="col-md-6">

            <figure class="win-media">
                <div class="win-media-img win-ratio-2-1">
                    <a href="">
                        <img src="http://images-eds.xboxlive.com/image?url=JRt.ExKDjXyTfZSxQETAdwl0KqkVHTsd6XuqA6h55kBM.wf3qogWzhoEUsFjUz2MhzPHpAwubn0D0Wz7Er0Q8AGA1m9jHTDlfiiUKLBQKxyRXz9CSUs7cmJpY5fxfBDyc1HxZSAHQce4RAygIUO8fcbnZ7c2PgA7tXRGZznGrJA-" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-6">

            <figure class="win-media">
                <div class="win-media-img win-ratio-2-1">
                    <a href="">
                        <img src="http://images-eds.xboxlive.com/image?url=JRt.ExKDjXyTfZSxQETAdwl0KqkVHTsd6XuqA6h55kBM.wf3qogWzhoEUsFjUz2MhzPHpAwubn0D0Wz7Er0Q8AGA1m9jHTDlfiiUKLBQKxyRXz9CSUs7cmJpY5fxfBDyc1HxZSAHQce4RAygIUO8fcbnZ7c2PgA7tXRGZznGrJA-" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-6">

            <figure class="win-media">
                <div class="win-media-img win-ratio-2-1">
                    <a href="">
                        <img src="http://images-eds.xboxlive.com/image?url=JRt.ExKDjXyTfZSxQETAdwl0KqkVHTsd6XuqA6h55kBM.wf3qogWzhoEUsFjUz2MhzPHpAwubn0D0Wz7Er0Q8AGA1m9jHTDlfiiUKLBQKxyRXz9CSUs7cmJpY5fxfBDyc1HxZSAHQce4RAygIUO8fcbnZ7c2PgA7tXRGZznGrJA-" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-6">

            <figure class="win-media">
                <div class="win-media-img win-ratio-2-1">
                    <a href="">
                        <img src="http://images-eds.xboxlive.com/image?url=JRt.ExKDjXyTfZSxQETAdwl0KqkVHTsd6XuqA6h55kBM.wf3qogWzhoEUsFjUz2MhzPHpAwubn0D0Wz7Er0Q8AGA1m9jHTDlfiiUKLBQKxyRXz9CSUs7cmJpY5fxfBDyc1HxZSAHQce4RAygIUO8fcbnZ7c2PgA7tXRGZznGrJA-" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-24">
            {{#markdown}}
```xml
<div class="container">
    <div class="row win-row-sm"><!-- Just add the win-row-sm class -->
        <div class="col-md-6">
            …
        </div>
    </div>
</div>
```
            {{/markdown}}
        </div>
    </div>
</section>
