<section class="win-section" id="grid">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#grid">Grid</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-sm-8">
            <p>Row with 12 elements</p>

            {{#markdown}}
```xml
<!--
Class win-section-gallery is optional
it adds vertical spacing
below the media elements
-->
<div class="row [win-section-gallery]">
    <div class="col-md-2">
        …
    </div>
</div>
```
            {{/markdown}}
        </div>

        <div class="col-sm-8">
            <p>Row with 8 elements</p>

            {{#markdown}}
```xml
<!--
Class win-section-gallery is optional
it adds vertical spacing
below the media elements
-->
<div class="row [win-section-gallery]">
    <div class="col-md-3">
        …
    </div>
</div>
```
            {{/markdown}}
        </div>

        <div class="col-sm-8">
            <p>Row with 4 elements</p>

            {{#markdown}}
```xml
<!--
Class win-section-gallery is optional
it adds vertical spacing
below the media elements
-->
<div class="row [win-section-gallery]">
    <div class="col-md-6">
        …
    </div>
</div>
```
            {{/markdown}}
        </div>
    </div>

    <div class="row win-section-gallery">
        <div class="col-md-2">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-2">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-2">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-2">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-2">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-2">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-2">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-2">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-2">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-2">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-2">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-2">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>
    </div>

    <div class="row win-section-gallery">
        <div class="col-md-3">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-3">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-3">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-3">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-3">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-3">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-3">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-3">

            <figure class="win-media">
                <div class="win-media-img win-ratio-movie">
                    <a href="">
                        <img src="http://lorempixel.com/400/800/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>
    </div>

    <div class="row win-section-gallery">

        <div class="col-md-6">

            <figure class="win-media">
                <div class="win-media-img win-ratio-2-1">
                    <a href="">
                        <img src="http://lorempixel.com/800/400/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-6">

            <figure class="win-media">
                <div class="win-media-img win-ratio-2-1">
                    <a href="">
                        <img src="http://lorempixel.com/800/400/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-6">

            <figure class="win-media">
                <div class="win-media-img win-ratio-2-1">
                    <a href="">
                        <img src="http://lorempixel.com/800/400/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-6">

            <figure class="win-media">
                <div class="win-media-img win-ratio-2-1">
                    <a href="">
                        <img src="http://lorempixel.com/800/400/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-6">

            <figure class="win-media">
                <div class="win-media-img win-ratio-2-1">
                    <a href="">
                        <img src="http://lorempixel.com/800/400/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-6">

            <figure class="win-media">
                <div class="win-media-img win-ratio-2-1">
                    <a href="">
                        <img src="http://lorempixel.com/800/400/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-6">

            <figure class="win-media">
                <div class="win-media-img win-ratio-2-1">
                    <a href="">
                        <img src="http://lorempixel.com/800/400/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

        <div class="col-md-6">

            <figure class="win-media">
                <div class="win-media-img win-ratio-2-1">
                    <a href="">
                        <img src="http://lorempixel.com/800/400/nature" alt="" />
                    </a>
                </div>

                <figcaption class="win-media-caption">
                    <h4 class="win-media-header">
                        <a href="">Header</a>
                    </h4>
                    <div class="win-media-subheader">
                        <a href="">Subheader</a>
                    </div>
                </figcaption>
            </figure>

        </div>

    </div>
</section>
