<section class="win-section" id="icons">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#icons">Icons</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-xs-24">
            <p>
                There are 211 free and open source icons included in Bootstrap-WinJS. Here are some of the available icons with their respective names.
                To display an icon you can basically use this tag:
            </p>

            {{#markdown}}
```xml
<i class="win-icon-[name]"></i>
```
            {{/markdown}}
        </div>
        <div class="col-xs-4">
            <p><i class="win-icon-scrollup"></i></p>
            <p><code>scrollup</code></p>
        </div>
        <div class="col-xs-4"><p><i class="win-icon-scrolldown"></i></p><p><code>scrolldown</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-checkbox"></i></p><p><code>checkbox</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-ratingstar"></i></p><p><code>ratingstar</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-magnifier"></i></p><p><code>magnifier</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-magnifiertool"></i></p><p><code>magnifiertool</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-backarrow"></i></p><p><code>backarrow</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-forwardarrow"></i></p><p><code>forwardarrow</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-flipviewleft"></i></p><p><code>flipviewleft</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-flipviewright"></i></p><p><code>flipviewright</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-flipviewup"></i></p><p><code>flipviewup</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-flipviewdown"></i></p><p><code>flipviewdown</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-menucheckmark"></i></p><p><code>menucheckmark</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-ratingstaroutline"></i></p><p><code>ratingstaroutline</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-grouparrowright"></i></p><p><code>grouparrowright</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-grouparrowleft"></i></p><p><code>grouparrowleft</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-previous"></i></p><p><code>previous</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-next"></i></p><p><code>next</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-play"></i></p><p><code>play</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-pause"></i></p><p><code>pause</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-edit"></i></p><p><code>edit</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-save"></i></p><p><code>save</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-clear"></i></p><p><code>clear</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-delete"></i></p><p><code>delete</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-remove"></i></p><p><code>remove</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-add"></i></p><p><code>add</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-cancel"></i></p><p><code>cancel</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-accept"></i></p><p><code>accept</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-more"></i></p><p><code>more</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-redo"></i></p><p><code>redo</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-undo"></i></p><p><code>undo</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-home"></i></p><p><code>home</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-up"></i></p><p><code>up</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-forward"></i></p><p><code>forward</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-right"></i></p><p><code>right</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-back"></i></p><p><code>back</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-left"></i></p><p><code>left</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-favorite"></i></p><p><code>favorite</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-camera"></i></p><p><code>camera</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-settings"></i></p><p><code>settings</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-video"></i></p><p><code>video</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-sync"></i></p><p><code>sync</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-download"></i></p><p><code>download</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-mail"></i></p><p><code>mail</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-find"></i></p><p><code>find</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-help"></i></p><p><code>help</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-upload"></i></p><p><code>upload</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-emoji"></i></p><p><code>emoji</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-twopage"></i></p><p><code>twopage</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-leavechat"></i></p><p><code>leavechat</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-mailforward"></i></p><p><code>mailforward</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-clock"></i></p><p><code>clock</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-send"></i></p><p><code>send</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-crop"></i></p><p><code>crop</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-rotatecamera"></i></p><p><code>rotatecamera</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-people"></i></p><p><code>people</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-closepane"></i></p><p><code>closepane</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-openpane"></i></p><p><code>openpane</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-world"></i></p><p><code>world</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-flag"></i></p><p><code>flag</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-previewlink"></i></p><p><code>previewlink</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-globe"></i></p><p><code>globe</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-trim"></i></p><p><code>trim</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-attachcamera"></i></p><p><code>attachcamera</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-zoomin"></i></p><p><code>zoomin</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-bookmarks"></i></p><p><code>bookmarks</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-document"></i></p><p><code>document</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-protecteddocument"></i></p><p><code>protecteddocument</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-page"></i></p><p><code>page</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-bullets"></i></p><p><code>bullets</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-comment"></i></p><p><code>comment</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-mail"></i></p><p><code>mail</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-contactinfo"></i></p><p><code>contactinfo</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-hangup"></i></p><p><code>hangup</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-viewall"></i></p><p><code>viewall</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-mappin"></i></p><p><code>mappin</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-phone"></i></p><p><code>phone</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-videochat"></i></p><p><code>videochat</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-switch"></i></p><p><code>switch</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-contact"></i></p><p><code>contact</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-rename"></i></p><p><code>rename</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-pin"></i></p><p><code>pin</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-musicinfo"></i></p><p><code>musicinfo</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-go"></i></p><p><code>go</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-keyboard"></i></p><p><code>keyboard</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-dockleft"></i></p><p><code>dockleft</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-dockright"></i></p><p><code>dockright</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-dockbottom"></i></p><p><code>dockbottom</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-remote"></i></p><p><code>remote</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-refresh"></i></p><p><code>refresh</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-rotate"></i></p><p><code>rotate</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-shuffle"></i></p><p><code>shuffle</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-list"></i></p><p><code>list</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-shop"></i></p><p><code>shop</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-selectall"></i></p><p><code>selectall</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-orientation"></i></p><p><code>orientation</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-import"></i></p><p><code>import</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-importall"></i></p><p><code>importall</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-browsephotos"></i></p><p><code>browsephotos</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-webcam"></i></p><p><code>webcam</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-pictures"></i></p><p><code>pictures</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-savelocal"></i></p><p><code>savelocal</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-caption"></i></p><p><code>caption</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-stop"></i></p><p><code>stop</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-showresults"></i></p><p><code>showresults</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-volume"></i></p><p><code>volume</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-repair"></i></p><p><code>repair</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-message"></i></p><p><code>message</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-page"></i></p><p><code>page</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-calendarday"></i></p><p><code>calendarday</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-calendarweek"></i></p><p><code>calendarweek</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-calendar"></i></p><p><code>calendar</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-characters"></i></p><p><code>characters</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-mailreplyall"></i></p><p><code>mailreplyall</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-read"></i></p><p><code>read</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-link"></i></p><p><code>link</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-accounts"></i></p><p><code>accounts</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-showbcc"></i></p><p><code>showbcc</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-hidebcc"></i></p><p><code>hidebcc</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-cut"></i></p><p><code>cut</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-attach"></i></p><p><code>attach</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-paste"></i></p><p><code>paste</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-filter"></i></p><p><code>filter</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-copy"></i></p><p><code>copy</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-emoji"></i></p><p><code>emoji</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-important"></i></p><p><code>important</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-mailreply"></i></p><p><code>mailreply</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-slideshow"></i></p><p><code>slideshow</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-sort"></i></p><p><code>sort</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-manage"></i></p><p><code>manage</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-allapps"></i></p><p><code>allapps</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-disconnectdrive"></i></p><p><code>disconnectdrive</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-mapdrive"></i></p><p><code>mapdrive</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-newwindow"></i></p><p><code>newwindow</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-openwith"></i></p><p><code>openwith</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-contactpresence"></i></p><p><code>contactpresence</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-priority"></i></p><p><code>priority</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-uploadskydrive"></i></p><p><code>uploadskydrive</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-gototoday"></i></p><p><code>gototoday</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-font"></i></p><p><code>font</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-fontcolor"></i></p><p><code>fontcolor</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-contact"></i></p><p><code>contact</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-folder"></i></p><p><code>folder</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-audio"></i></p><p><code>audio</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-placeholder"></i></p><p><code>placeholder</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-view"></i></p><p><code>view</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-setlockscreen"></i></p><p><code>setlockscreen</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-settile"></i></p><p><code>settile</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-cc"></i></p><p><code>cc</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-stopslideshow"></i></p><p><code>stopslideshow</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-permissions"></i></p><p><code>permissions</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-highlight"></i></p><p><code>highlight</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-disableupdates"></i></p><p><code>disableupdates</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-unfavorite"></i></p><p><code>unfavorite</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-unpin"></i></p><p><code>unpin</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-openlocal"></i></p><p><code>openlocal</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-mute"></i></p><p><code>mute</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-italic"></i></p><p><code>italic</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-underline"></i></p><p><code>underline</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-bold"></i></p><p><code>bold</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-movetofolder"></i></p><p><code>movetofolder</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-likedislike"></i></p><p><code>likedislike</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-dislike"></i></p><p><code>dislike</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-like"></i></p><p><code>like</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-alignright"></i></p><p><code>alignright</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-aligncenter"></i></p><p><code>aligncenter</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-alignleft"></i></p><p><code>alignleft</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-zoom"></i></p><p><code>zoom</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-zoomout"></i></p><p><code>zoomout</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-openfile"></i></p><p><code>openfile</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-otheruser"></i></p><p><code>otheruser</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-admin"></i></p><p><code>admin</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-street"></i></p><p><code>street</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-map"></i></p><p><code>map</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-clearselection"></i></p><p><code>clearselection</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-fontdecrease"></i></p><p><code>fontdecrease</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-fontincrease"></i></p><p><code>fontincrease</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-fontsize"></i></p><p><code>fontsize</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-cellphone"></i></p><p><code>cellphone</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-reshare"></i></p><p><code>reshare</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-tag"></i></p><p><code>tag</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-repeatone"></i></p><p><code>repeatone</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-repeatall"></i></p><p><code>repeatall</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-outlinestar"></i></p><p><code>outlinestar</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-solidstar"></i></p><p><code>solidstar</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-calculator"></i></p><p><code>calculator</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-directions"></i></p><p><code>directions</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-target"></i></p><p><code>target</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-library"></i></p><p><code>library</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-phonebook"></i></p><p><code>phonebook</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-memo"></i></p><p><code>memo</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-microphone"></i></p><p><code>microphone</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-postupdate"></i></p><p><code>postupdate</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-backtowindow"></i></p><p><code>backtowindow</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-fullscreen"></i></p><p><code>fullscreen</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-newfolder"></i></p><p><code>newfolder</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-calendarreply"></i></p><p><code>calendarreply</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-unsyncfolder"></i></p><p><code>unsyncfolder</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-reporthacked"></i></p><p><code>reporthacked</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-syncfolder"></i></p><p><code>syncfolder</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-blockcontact"></i></p><p><code>blockcontact</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-switchapps"></i></p><p><code>switchapps</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-addfriend"></i></p><p><code>addfriend</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-touchpointer"></i></p><p><code>touchpointer</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-gotostart"></i></p><p><code>gotostart</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-zerobars"></i></p><p><code>zerobars</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-onebar"></i></p><p><code>onebar</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-twobars"></i></p><p><code>twobars</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-threebars"></i></p><p><code>threebars</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-fourbars"></i></p><p><code>fourbars</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-scan"></i></p><p><code>scan</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-preview"></i></p><p><code>preview</code></p></div>
        <div class="col-xs-4"><p><i class="win-icon-hamburger"></i></p><p><code>hamburger</code></p></div>
    </div>
</section>
