<h4>Jumbotron Highlight Bar with Swapped Image</h4>
</div><!-- close container -->
<div class="jumbotron highlight-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-24 col-md-12 col-md-push-12">
                <div class="img-container">
                    <img src="http://placekitten.com/600/338">
                </div>
            </div>
            <div class="col-sm-24 col-md-12 col-md-pull-12">
                <div class="jumbotron-content">
                    <h1>Hello, world!</h1>
                    <p>{{> lorem-ipsum }}</p>
                    <button class="btn btn-primary">I'm a button</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container"><!-- open container -->
    <div class="row">
        <div class="col-xs-24">
            {{#markdown}}
```xml
</div><!-- close container -->
<div class="jumbotron highlight-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-24 col-md-12 col-md-push-12">
                <div class="img-container">
                    <img src="http://placekitten.com/600/338">
                </div>
            </div>
            <div class="col-sm-24 col-md-12 col-md-pull-12">
                <div class="jumbotron-content">
                    <h1></h1>
                    <p></p>
                    <button class="btn btn-primary"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container"><!-- open container -->
````
            {{/markdown}}
        </div>
    </div>