<h4>Primary Jumbotron on Light Colors</h4>
</div><!-- close container -->
<div class="jumbotron highlight-bar theme-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-24 col-md-12">
                <div class="img-container">
                    <img src="http://placekitten.com/600/338">
                </div>
            </div>
            <div class="col-sm-24 col-md-12">
                <div class="jumbotron-content">
                    <h1 class="jumbotron-header">Hello, world!</h1>
                    <p class="jumbotron-subheader">{{> lorem-ipsum }}</p>
                    <button class="btn btn-primary">I'm a primary button</button> <button class="btn">I'm a button</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container"><!-- open container -->
    <div class="row">
        <div class="col-xs-24">
            {{#markdown}}
```xml
</div><!-- close container -->
<div class="jumbotron highlight-bar theme-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-24 col-md-12">
                <div class="img-container">
                    <img src="http://placekitten.com/600/338">
                </div>
            </div>
            <div class="col-sm-24 col-md-12">
                <div class="jumbotron-content">
                    <h1 class="jumbotron-header"></h1>
                    <p class="jumbotron-subheader"></p>
                    <button class="btn btn-primary"></button> <button class="btn">I'm a button</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container"><!-- open container -->
```
            {{/markdown}}
        </div>
    </div>