<h4>Jumbotron primary on dark image</h4>
</div><!-- close container -->
    <div class="jumbotron theme-dark">
        <div class="jumbotron-background">
            <img src="http://lorempixel.com/1920/420/sports/2"
                srcset="http://lorempixel.com/539/235/sports/2 539w,
                http://lorempixel.com/767/55/sports/2 767w,
                http://lorempixel.com/1083/70/sports/2 1083w,
                http://lorempixel.com/1399/325/sports/2 1399w"
            ><!--end srcset -->
        </div>
        <div class="container-wrap">
            <div class="container">
                <div class="row">
                    <div class="jumbotron-content-wrap">
                        <div class="jumbotron-content">
                            <h1>Stay fit &amp; healthy</h1>
                            <p>Keep active, healthy lives are happy lives</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container"><!-- open container -->
    <div class="row">
        <div class="col-xs-24">
            {{#markdown}}
```xml
</div><!-- close container -->
    <div class="jumbotron theme-dark">
        <div class="jumbotron-background">
            <!-- set largest picture as default source for unsuported browsers -->
            <img src="http://lorempixel.com/1920/420/sports/2"
                srcset="http://lorempixel.com/539/235/sports/2 539w,
                http://lorempixel.com/767/55/sports/2 767w,
                http://lorempixel.com/1083/70/sports/2 1083w,
                http://lorempixel.com/1399/325/sports/2 1399w"
            ><!--end srcset -->
        </div>
        <div class="container-wrap">
            <div class="container">
                <div class="row">
                    <div class="jumbotron-content-wrap">
                        <div class="jumbotron-content">
                            <h1></h1>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container"><!-- open container -->
```
            {{/markdown}}
        </div>
    </div>