<div class="jumbotron theme-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-push-12 text-center">
                <img class="img-responsive visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block visible-xl-inline-block" alt="" src="http://dri2.img.digitalrivercontent.net/Storefront/Site/msusa/images/promo/Xbox/en-US-Xbox-Mod-F-360-Console-Holiday15-mobile.png" data-source-index="2">
            </div>
            <div class="col-md-12 col-md-pull-12">
                <div class="type-h3">
                    Xbox for Christmas
                </div>
                <div class="type-sh3">
                    Make the holidays special with Xbox
                </div>
                <p>Espresso served best with whole milk. Dripper aromatic sugar beans steamed breve half and half. Pumpkin spice and kopi-luwak seasonal, mug, java lungo mazagran ristretto and body espresso. Macchiato doppio pumpkin spice sit strong bar shop lungo trifecta.</p>
                <div class="btn-group">
                    <button class="btn btn-primary" href="#">Buy Xbox</button>
                    <button class="btn btn-secondary" href="#">Read more</button>
                </div>
            </div>
        </div>
    </div>
</div>
