<div class="jumbotron theme-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-24 text-center">
                <h3>This is a centered Heading 3</h3>
                <div class="type-sh3">
                    And this is it's Subheading 3
                </div>
                <div class="col-md-12 col-md-offset-6">
                    <div class="type-p3">You can create any Hero configuration with the combination of default settings and standard text/spacer classes. Take a look at the marukup to see it in action.</div>
                </div>
            </div>
        </div>
    </div>
</div>
