    <h4>Jumbotron Primary</h4>
    </div><!-- close container -->
        <div class="jumbotron theme-on-img-dark">
            <div class="jumbotron-background">
                <img src="http://lorempixel.com/1920/420/sports/"
                    srcset="http://lorempixel.com/539/235/sports/ 539w,
                    http://lorempixel.com/767/55/sports/ 767w,
                    http://lorempixel.com/1083/70/sports/ 1083w,
                    http://lorempixel.com/1399/325/sports/ 1399w"
                ><!--end srcset -->
            </div>
            <div class="container-wrap">
                <div class="container">
                    <div class="row">
                        <div class="jumbotron-content-wrap">
                            <div class="jumbotron-content">
                                <h1>Stay fit &amp; healthy</h1>
                                <p>Keep active, healthy lives are happy lives</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container"><!-- open container -->
        <div class="row">
            <div class="col-xs-24">
                {{#markdown}}
```xml

```
                {{/markdown}}
            </div>
        </div>
</section>