<section class="section" id="jumbotron">
    <header class="section-header row">
        <h1 class="section-title col-xs-24">
            <a href="#jumbotron">Jumbotron</a>
        </h1>
    </header>

{{> jumbotron-highlight-bar-primary }}
{{> jumbotron-highlight-bar-img-swapped }}
{{> jumbotron-highlight-bar-dark }}
{{> jumbotron-highlight-bar-light }}
{{> jumbotron-primary }}
{{> jumbotron-centered }}
{{> jumbotron-theme-on-img-light }}

</section>