    <h4>Primary Jumbotron Highlight Bar</h4>
    </div><!-- close container -->
    <div class="jumbotron highlight-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-24 col-md-24 col-lg-12">
                    <div class="img-container">
                        <img src="http://placekitten.com/600/338">
                    </div>
                </div>
                <div class="col-sm-24 col-md-24 col-lg-12">
                    <div class="jumbotron-content">
                        <h1 class="jumbotron-header">Hello, world!</h1>
                        <p class="jumbotron-subheader">{{> lorem-ipsum }}
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod nibh quam, posuere ultrices ligula molestie at. Aliquam erat volutpat. Aenean rhoncus lorem a justo malesuada, vel semper dui euismod. Pellentesque sodales, nibh at pellentesque aliquet, ipsum tellus dapibus metus, in mollis tellus libero eget tellus. Morbi non turpis ac tortor pulvinar lacinia. Nulla facilisi. Sed tincidunt rhoncus vehicula.

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod nibh quam, posuere ultrices ligula molestie at. Aliquam erat volutpat. Aenean rhoncus lorem a justo malesuada, vel semper dui euismod. Pellentesque sodales, nibh at pellentesque aliquet, ipsum tellus dapibus metus, in mollis tellus libero eget tellus. Morbi non turpis ac tortor pulvinar lacinia. Nulla facilisi. Sed tincidunt rhoncus vehicula.
                        </p>
                        <button class="btn btn-primary">I'm a primary button</button> <button class="btn">I'm a button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container"><!-- open container -->
        <div class="row">
            <div class="col-xs-24">
                {{#markdown}}
```xml
</div><!-- close container -->
<div class="jumbotron highlight-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-24 col-md-24 col-lg-12">
                <div class="img-container">
                    <img src="http://placekitten.com/600/338">
                </div>
            </div>
            <div class="col-sm-24 col-md-24 col-lg-12">
                <div class="jumbotron-content">
                    <h1></h1>
                    <p></p>
                    <button class="btn btn-primary"></button> <button class="btn">I'm a button</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container"><!-- open container -->
```
                {{/markdown}}
            </div>
        </div>
</section>