<section class="section" id="labels">
    <header class="section-header row">
        <h1 class="section-title col-xs-24">
            <a href="#labels">Labels</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-xs-24">
            <p>Labels inside headings</p>
                    <h1>This is h1 <span class="label label-default">Default</span></h1>
                    <h2>This is h2 <span class="label label-primary">Primary</span></h2>
                    <h3>This is h3 <span class="label label-success">Success</span></h3>
                    <h4>This is h4 <span class="label label-info">Info</span></h4>
                    <h5>This is h5 <span class="label label-warning">Warning</span></h5>
                    <h6>This is h6 <span class="label label-danger">Danger</span></h6>
            <p>
                Labels inside a line of text
                    <span class="label label-default">Default</span>
                    <span class="label label-primary">Primary</span>
                    <span class="label label-success">Success</span>
                    <span class="label label-info">Info</span>
                    <span class="label label-warning">Warning</span>
                    <span class="label label-danger">Danger</span>
            </p>

            {{#markdown}}
```xml
<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>
```
            {{/markdown}}

        </div>
    </div>
</section>
