<section id="lists">
    <header class="row">
        <h2 class="col-xs-24">Lists</h2>
    </header>
    
    <div class="row">
        <div class="col-xs-24">
            <p><code>.list-unordered</code> and <code>.list-ordered</code> add vertical spacing on list-items and left-align list-item markers.</p>
        </div>
        
        <div class="col-md-12">
            <h3>Unordered</h3>
    
            <ul class="list-unordered">
                <li>Windows</li>
                <li>Office</li>
                <li>Bing</li>
                <li>Skype</li>
                <li>Azure</li>
                <li>Lumia</li>
                <li>Surface</li>
                <li>Xbox</li>
            </ul>
            
            {{#markdown}}
```xml
<ul class="list-unordered">
    <li>Unordered list item 1</li>
    ...
</ul>
```
            {{/markdown}}
        </div>
        
        <div class="col-md-12">
            <h3>Ordered</h3>
    
            <ol class="list-ordered">
                <li>Halo: Combat Evolved</li>
                <li>Halo 2</li>
                <li>Halo 3</li>
                <li>Halo Wars</li>
                <li>Halo 3: ODST</li>
                <li>Halo: Reach</li>
                <li>Halo 4</li>
                <li>Halo 5: Guardians</li>
            </ol>
            
            {{#markdown}}
```xml
<ol class="list-ordered">
    <li>Ordered list item 1</li>
    ...
</ol>
```
            {{/markdown}}
        </div>
    </div>
</section>
