<section class="win-section" id="loader">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#loader">Progress Ring</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-xs-24">
            <p>
                <div class="win-progress-ring">
                    <div class="win-circle"></div>
                    <div class="win-circle"></div>
                    <div class="win-circle"></div>
                    <div class="win-circle"></div>
                    <div class="win-circle"></div>
                </div>
            </p>

            {{#markdown}}
```xml
<div class="win-progress-ring">
    <div class="win-circle"></div>
    <div class="win-circle"></div>
    <div class="win-circle"></div>
    <div class="win-circle"></div>
    <div class="win-circle"></div>
</div>
```
            {{/markdown}}
        </div>
    </div>

    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#loader">Intrinsic progress ring</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-xs-24">
            <progress class="win-progress-ring-ie"></progress>
            <progress class="win-progress-ring-ie win-medium"></progress>
            <progress class="win-progress-ring-ie win-large"></progress>      

            {{#markdown}}
```xml
            <progress class="win-progress-ring-ie"></progress>
            <progress class="win-progress-ring-ie win-medium"></progress>
            <progress class="win-progress-ring-ie win-large"></progress> 
```
            {{/markdown}}
        </div>
    </div>


</section>
