<section class="section" id="modals">
    <header class="section-header row">
        <h1 class="section-title col-xs-24">
            <a href="#modals">Modals</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-xs-24">
            <p>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-bootstrap-sample">
                    Launch demo modal
                </button>
            </p>
        </div>
    </div>

    <div class="modal modal-center" id="modal-bootstrap-sample" tabindex="-1" role="dialog" aria-labelledby="modal-bootstrap-sample-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-bootstrap-sample-label">Modal title</h4>
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <p>Example with a button to launch the modal:</p>

            {{#markdown}}
```xml
<button type="button" class="btn btn-primary btn-lg"
        data-toggle="modal"
        data-target="#modal-bootstrap-sample">
    Launch demo modal
</button>
```
            {{/markdown}}

            <p>Launching the modal with the <a href="http://getbootstrap.com/javascript/#modals-methods" target="_blank">JavaScript API</a>:</p>

            {{#markdown}}
```javascript
$('#modal-bootstrap-sample').modal('show');
```
            {{/markdown}}

            <p>Closing the modal with the <a href="http://getbootstrap.com/javascript/#modals-methods" target="_blank">JavaScript API</a>:</p>

            {{#markdown}}
```javascript
$('#modal-bootstrap-sample').modal('hide');
```
            {{/markdown}}
        </div>

        <div class="col-md-14">
            <p>By default the modal is already in the DOM:</p>

            {{#markdown}}
```xml
<!-- Add modal-center to center the modal vertically -->
<div class="modal [modal-center]" id="modal-bootstrap-sample"
     tabindex="-1" role="dialog"
     aria-labelledby="modal-bootstrap-sample-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-bootstrap-sample-label">
                    Modal title
                </h4>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
```
            {{/markdown}}
        </div>
    </div>
</section>
