<div class="col-xs-24">
    <ul class="nav nav-pills">
        <li role="presentation" class="active">
            <a href="#colors">Colors</a>
        </li>
        <li role="presentation">
            <a href="#grid">Grid</a>
        </li>
        <li role="presentation">
            <a href="#breakpoints">Breakpoints</a>
        </li>
        <li role="presentation">
            <a href="#type">Type</a>
        </li>
        <li role="presentation">
            <a href="#breadcrumb">Breadcrumb</a>
        </li>
        <li role="presentation">
            <a href="#buttons">Buttons</a>
        </li>
        <li role="presentation">
            <a href="#glyphs">Glyphs</a>
        </li>
        <li role="presentation">
            <a href="#loader">Loader</a>
        </li>
        <li role="presentation">
            <a href="#media">Media</a>
        </li>
        <li role="presentation">
            <a href="#section">Section</a>
        </li>
        <li role="presentation">
            <a href="#tables">Tables</a>
        </li>
        <li role="presentation">
            <a href="#responsive-table">Responsive Table</a>
        </li>
        <li role="presentation">
            <a href="#carousel">Carousel</a>
        </li>
        <li role="presentation">
            <a href="#rating">Rating</a>
        </li>
        <li role="presentation">
            <a href="#dialogs">Dialogs</a>
        </li>
        <li role="presentation">
            <a href="#dropdown">Dropdown</a>
        </li>
        <li role="presentation">
            <a href="#caption-styles">Caption styles</a>
        </li>
    </ul>
</div>
