<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="win-icon-hamburger"></i>
            </button>

            <a href="index.html" class="navbar-brand">
                <img src="images/winstrap.png" alt="Winstrap" height="29" />
            </a>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="colors.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Colors <i class="win-icon-flipviewdown"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="colors.html">All colors</a></li>
                        <li class="divider"></li>
                        <li><a href="colors.html#bootstrap-colors">Bootstrap colors</a></li>
                        <li><a href="colors.html#basel-colors">Basel colors</a></li>
                        <li><a href="colors.html#basel-alt-colors">Basel alt colors</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="typography.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Typography <i class="win-icon-flipviewdown"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="typography.html">All typography</a></li>
                        <li class="divider"></li>
                        <li><a href="typography.html#fonts">Fonts</a></li>
                        <li><a href="typography.html#text-color">Text color</a></li>
                        <li><a href="typography.html#icons">Icons</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="layout.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Layout <i class="win-icon-flipviewdown"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="layout.html">All layout</a></li>
                        <li class="divider"></li>
                        <li><a href="layout.html#page-header">Page header</a></li>
                        <li><a href="layout.html#grid">Grid</a></li>
                        <li><a href="layout.html#grid-small-gutters">Small gutters</a></li>
                        <li><a href="layout.html#section">Section</a></li>
                        <li><a href="layout.html#section-gallery">Section gallery</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="controls.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Controls <i class="win-icon-flipviewdown"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="controls.html">All controls</a></li>
                        <li class="divider"></li>
                        <li><a href="controls.html#buttons">Buttons</a></li>
                        <li><a href="controls.html#forms">Forms</a></li>
                        <li><a href="controls.html#progress">Progress bar</a></li>
                        <li><a href="controls.html#loader">Progress ring</a></li>
                        <li><a href="controls.html#dropdowns">Dropdowns</a></li>
                        <li><a href="controls.html#tooltips">Tooltips</a></li>
                        <li><a href="controls.html#modals">Modals</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="components.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Components <i class="win-icon-flipviewdown"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="components.html">All components</a></li>
                        <li class="divider"></li>
                        <li><a href="components.html#breadcrumb">Breadcrumb</a></li>
                        <li><a href="components.html#back-to-top">Back to top</a></li>
                        <li><a href="components.html#rating">Rating</a></li>
                        <li><a href="components.html#labels">Labels</a></li>
                        <li><a href="components.html#media">Media</a></li>
                        <li><a href="components.html#tables">Tables</a></li>
                        <li><a href="components.html#responsive-table">Responsive table</a></li>
                        <li><a href="components.html#list-items">List items</a></li>
                        <li><a href="components.html#pagination">Pagination</a></li>
                        <li><a href="components.html#refine-list">Refine list</a></li>
                        <li><a href="components.html#tiles">Tiles</a></li>
                    </ul>
                </li>

{{!--                 <li class="dropdown">
                    <a href="tabs.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tabs <i class="win-icon-flipviewdown"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="tabs.html">All tabs</a></li>
                        <li class="divider"></li>
                        <li><a href="tabs.html#media-browser">Media browser</a></li>
                    </ul>
                </li> --}}

                <li class="dropdown">
                    <a href="alerts.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Alerts <i class="win-icon-flipviewdown"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="alerts.html">All alerts</a></li>
                        <li class="divider"></li>
                        <li><a href="alerts.html#stack">Alert stack</a></li>
                        <li><a href="alerts.html#inline">Inline alerts</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#changelog" data-toggle="modal">Changelog</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
