<div class="row">
    <div class="col-xs-24">
        <section class="section" id="buttons">
            <header class="section-header ">
                <h1 class="section-title ">
                    <a name="navs">Navbar</a>
                </h1>
            </header>
            {{> navbar-example }}
            {{#markdown}}
```xml
{{> navbar-example }}
```
            {{/markdown}}
            <div class="row">
                <div class="col-md-24">
                    <div class="guidance guidance-usage m-t-xs">
                        {{#markdown}}
{{> navbar-guidance.md}}
                        {{/markdown}}
                    </div>
                </div>
        </div>
        </section>
    </div>
</div>