<div class="row">
    <div class="col-xs-24">
        <section class="section" id="buttons">
            <header class="section-header ">
                <h1 class="section-title ">
                    <a href="#buttons">Navbar</a>
                </h1>
            </header>
            {{> navbar-example }}

            {{#markdown}}
```xml
{{> navbar-example }}
```
            {{/markdown}}
        </section>
    </div>
</div>
