<div class="row">
    <div class="col-xs-24">
        <section class="section" id="buttons">
            <header class="section-header ">
                <h1 class="section-title ">
                    <a name="navs">Navbar</a>
                </h1>
                <p>The Winstrap navbar supports all of the options from the Bootstrap navbar.</p>

                <p>Align nav links, forms, buttons, or text, using the .navbar-left or .navbar-right utility classes.</p>
            </header>
            {{> navbar-example }}
            {{#markdown}}
```xml
{{> navbar-example }}
```
            {{/markdown}}
        </section>
    </div>
</div>
