<nav>
    <ul class="pagination">        
        <li class="pagination-prev">
            <a href="#" aria-label="Previous">
                <i aria-hidden="true" class="glyph glyph-chevron-left-2"></i>
            </a>
        </li>

        <li><a href="#">1</a></li>

        <li class="pagination-ellipsis"><span>&hellip;</span></li>

        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>

        <li class="active"><a href="#">7</a></li>

        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>

        <li class="pagination-ellipsis"><span>&hellip;</span></li>

        <li><a href="#">15</a></li>

        <li class="pagination-next">
            <a href="#" aria-label="Next">
                <i aria-hidden="true" class="glyph glyph-chevron-right-2"></i>
            </a>
        </li>
    </ul>
</nav>
