<nav class="win-pagination">
    <ul class="pagination">
        <!-- Add a disabled class to a li element to hide it -->
        <li class="win-pagination-prev">
            <a href="#" aria-label="Previous">
                <i aria-hidden="true" class="win-icon-grouparrowleft"></i>
            </a>
        </li>

        <li><a href="#">1</a></li>

        <li class="win-pagination-ellipsis"><span>&hellip;</span></li>

        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>

        <li class="active"><a href="#">7</a></li>

        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>

        <li class="win-pagination-ellipsis"><span>&hellip;</span></li>

        <li><a href="#">15</a></li>

        <li class="win-pagination-next">
            <a href="#" aria-label="Next">
                <i aria-hidden="true" class="win-icon-grouparrowright"></i>
            </a>
        </li>
    </ul>
</nav>
