<nav>
    <ul class="pager">
        <li class="pager-prev">
            <a href="#" aria-label="Previous">
                <i aria-hidden="true" class="mi mi-ChevronLeft"></i>
            </a>
        </li>
        <li class="pager-next">
            <a href="#" aria-label="Next">
                <i aria-hidden="true" class="mi mi-ChevronRight"></i>
            </a>
        </li>
    </ul>
</nav>
