<section class="section" id="putbox">
    <header class="section-header row">
        <h1 class="section-title col-xs-24">
            <a href="#putbox">Put Box</a>
        </h1>
    </header>
    <div class="row">
        <div class="col-md-12">
			<h4 class="section-title">Default</h4>
			<div class="m-t-xxxs p-t-xxxs p-b-xs">
				<div class="putbox">
					<div class="putbox-icon">
						<span class="glyph glyph-clock"></span>
					</div>
					<div class="putbox-content">
						<div class="content-title">Time format:</div>
						<form class="content-form">
							<input type="text" class="form-control" value="H:i"/>
						</form>
					</div>
				</div>
				<div class="putbox">
					<div class="putbox-icon">
						<span class="glyph glyph-picture"></span>
					</div>
					<div class="putbox-content">
						<div class="content-title">New photos will save to:</div>
						<form class="content-form">
							<div class="combobox">
								<select class="form-control">
									<option>This PC (C:)</option>
									<option>Local Disk (D:)</option>
								</select>
							</div>
						</form>
						<a href="#" class="btn btn-link btn-block">Advanced options</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<h4 class="section-title">Alt</h4>
			<div class="m-t-xxxs p-t-xxxs p-b-xs p-l-xs color-bg-dark-vivid-high">
				<div class="putbox theme-alt">
					<div class="putbox-icon">
						<span class="glyph glyph-clock"></span>
					</div>
					<div class="putbox-content">
						<div class="content-title">Time format:</div>
						<form class="content-form theme-alt">
							<input type="text" class="form-control" value="H:i"/>
						</form>
					</div>
				</div>
				<div class="putbox theme-alt">
					<div class="putbox-icon">
						<span class="glyph glyph-picture"></span>
					</div>
					<div class="putbox-content">
						<div class="content-title">New photos will save to:</div>
						<form class="content-form theme-alt">
							<div class="combobox">
								<select class="form-control">
									<option>This PC (C:)</option>
									<option>Local Disk (D:)</option>
								</select>
							</div>
						</form>
						<a href="#" class="btn btn-link btn-block">Advanced options</a>
					</div>
				</div>
			</div>
		</div>
    </div>
	<div class="row">
		<div class="col-xs-24">
			{{#markdown}}
```xml
	<div class="putbox">
	<div class="putbox-icon">
		<span class="glyph glyph-clock"></span>
	</div>
	<div class="putbox-content">
		<div class="content-title">Time format:</div>
		<form class="content-form">
			<input type="text" class="form-control" value="H:i"/>
		</form>
	</div>
</div>
<div class="putbox">
	<div class="putbox-icon">
		<span class="glyph glyph-picture"></span>
	</div>
	<div class="putbox-content">
		<div class="content-title">New photos will save to:</div>
		<form class="content-form">
			<div class="combobox">
				<select class="form-control">
					<option>This PC (C:)</option>
					<option>Local Disk (D:)</option>
				</select>
			</div>
		</form>
		<a href="#" class="btn btn-link btn-block">Advanced options</a>
	</div>
</div>
```
        	{{/markdown}}
		</div>
	</div>
</section>
