<section class="win-section" id="rating">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#rating">Rating</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-xs-24">
            <p>
                <div class="win-rating">
                    <div class="win-rating-stars">
                        <ul class="win-rating-stars-background">
                            <li><i class="win-icon-ratingstar"></i></li>
                            <li><i class="win-icon-ratingstar"></i></li>
                            <li><i class="win-icon-ratingstar"></i></li>
                            <li><i class="win-icon-ratingstar"></i></li>
                            <li><i class="win-icon-ratingstar"></i></li>
                        </ul>

                        <ul class="win-rating-stars-value" style="width: 80%">
                            <li><i class="win-icon-ratingstar"></i></li>
                            <li><i class="win-icon-ratingstar"></i></li>
                            <li><i class="win-icon-ratingstar"></i></li>
                            <li><i class="win-icon-ratingstar"></i></li>
                            <li><i class="win-icon-ratingstar"></i></li>
                        </ul>
                    </div>

                    <span class="win-rating-numbers">2701 ratings</span>
                </div>
            </p>

            {{#markdown}}
```xml
<div class="win-rating">
    <div class="win-rating-stars">
        <!-- Background stars -->
        <ul class="win-rating-stars-background">
            <li><i class="win-icon-ratingstar"></i></li>
            <li><i class="win-icon-ratingstar"></i></li>
            <li><i class="win-icon-ratingstar"></i></li>
            <li><i class="win-icon-ratingstar"></i></li>
            <li><i class="win-icon-ratingstar"></i></li>
        </ul>

        <!-- Set the rating percentage as an inline style -->
        <ul class="win-rating-stars-value" style="width: 80%">
            <li><i class="win-icon-ratingstar"></i></li>
            <li><i class="win-icon-ratingstar"></i></li>
            <li><i class="win-icon-ratingstar"></i></li>
            <li><i class="win-icon-ratingstar"></i></li>
            <li><i class="win-icon-ratingstar"></i></li>
        </ul>
    </div>

    <span class="win-rating-numbers">2701 ratings</span>
</div>
```
            {{/markdown}}

        </div>
    </div>
</section>
