<section class="section" id="refine-list">
    <header class="section-header row">
        <h1 class="section-title col-xs-24">
            <a href="#refine-list">Refine lists</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-md-5">

            <div class="refine-list">
                <h2 class="refine-list-title">Refine list</h2>

                <div class="refine-list-clear">
                    <a href="#">Clear filters</a>
                </div>

                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">Less than 5 filters</h4>
                    </div>
                    <div class="panel-collapse">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">
                                <i class="icon-radio"></i>
                                <i class="icon-radio-check"></i>
                                All
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="icon-radio"></i>
                                Filter 1
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="icon-radio"></i>
                                Filter 2
                            </a>
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">More than 5 filters</h4>
                    </div>
                    <div class="panel-collapse">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">
                                <i class="icon-radio"></i>
                                <i class="icon-radio-check"></i>
                                All
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="icon-radio"></i>
                                Filter 1
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="icon-radio"></i>
                                Filter 2
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="icon-radio"></i>
                                Filter 3
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="icon-radio"></i>
                                Filter 4
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="icon-radio"></i>
                                Filter 5
                            </a>
                        </div>
                    </div>
                    <div id="refine-list-1" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="refine-list-footer-1" aria-expanded="false">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="icon-radio"></i>
                                Filter 6
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="icon-radio"></i>
                                Filter 7
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="icon-radio"></i>
                                Filter 8
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="icon-radio"></i>
                                Filter 9
                            </a>
                        </div>
                    </div>
                    <div class="panel-footer" role="tab" id="refine-list-footer-1">
                        <a data-toggle="collapse" href="#refine-list-1"
                           aria-expanded="false" aria-controls="refine-list-1">
                            <span class="refine-list-more">Show more</span>
                            <span class="refine-list-less">Show less</span>
                        </a>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-18 col-md-offset-1">
            {{#markdown}}
```xml
<div class="refine-list">
    <h2 class="refine-list-title">Refine list</h2>

    <div class="refine-list-clear">
        <a href="#">Clear filters</a>
    </div>

    <!-- A panel with less than 5 filters -->
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">Less than 5 filters</h4>
        </div>
        <div class="panel-collapse">
            <div class="list-group">
                <a href="#" class="list-group-item [active]">
                    <i class="icon-radio"></i>
                    <!-- if active --><i class="icon-radio-check"></i><!-- /if -->
                    Filter
                </a>
            </div>
        </div>
    </div>

    <!-- A panel with more than 5 filters -->
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">More than 5 filters</h4>
        </div>

        <!-- The container of the 5 first filters -->
        <div class="panel-collapse">
            <div class="list-group">
                <!-- The 5 first filters -->
                <a href="#" class="list-group-item [active]">
                    <i class="icon-radio"></i>
                    <!-- if active --><i class="icon-radio-check"></i><!-- /if -->
                    Filter
                </a>
            </div>
        </div>

        <!-- The container of the other filters -->
        <div id="refine-list-1" class="panel-collapse collapse"
             role="tabpanel" aria-labelledby="refine-list-footer-1" aria-expanded="false">
            <div class="list-group">
                <!-- All the other filters -->
                <a href="#" class="list-group-item">
                    <i class="icon-radio"></i>
                    <!-- if checked --><i class="icon-radio-check"></i><!-- /if -->
                    Filter
                </a>
            </div>
        </div>

        <!-- The container for the show more and show less link -->
        <div class="panel-footer" role="tab" id="refine-list-footer-1">

            <a data-toggle="collapse" href="#refine-list-1"
               aria-expanded="false" aria-controls="refine-list-1">
                <!-- The two strings are swapped automatically -->
                <span class="refine-list-more">Show more</span>
                <span class="refine-list-less">Show less</span>
            </a>

        </div>
    </div>

</div>
```
            {{/markdown}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">

            <div class="refine-list">
                <h3 class="refine-list-title">Refine with links</h3>

                <div class="panel">
                    <div class="panel-heading" role="tab" id="refine-list-links-heading-1">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#refine-list-links-1"
                               aria-expanded="false" aria-controls="refine-list-links-1">
                                <i class="icon-expand"></i>
                                <i class="icon-collapse"></i>
                                Title
                            </a>
                        </h4>
                    </div>
                    <div class="panel-footer">
                        <a href="#">Selected item</a>
                    </div>
                    <div id="refine-list-links-1" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="refine-list-links-heading-1" aria-expanded="true">
                        <div class="list-group">
                            <a href="#" class="list-group-item">Item</a>
                            <a href="#" class="list-group-item">Item</a>
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading" role="tab" id="refine-list-links-heading-2">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#refine-list-links-2"
                               aria-expanded="false" aria-controls="refine-list-links-2">
                                <i class="icon-expand"></i>
                                <i class="icon-collapse"></i>
                                Title
                            </a>
                        </h4>
                    </div>
                    <div class="panel-footer">
                        <a href="#">Selected item</a>
                    </div>
                    <div id="refine-list-links-2" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="refine-list-links-heading-2" aria-expanded="true">
                        <div class="list-group">
                            <a href="#" class="list-group-item">Item</a>
                            <a href="#" class="list-group-item">Item</a>
                            <a href="#" class="list-group-item">Item</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-18 col-md-offset-1">
            {{#markdown}}
```xml
<div class="refine-list">
    <h3 class="refine-list-title">Refine</h3>

    <div class="panel">
        <div class="panel-heading" role="tab" id="refine-list-heading-1">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#refine-list-1"
                    aria-expanded="false" aria-controls="refine-list-1">
                    <i class="icon-expand"></i>
                    <i class="icon-collapse"></i>
                    Title
                </a>
            </h4>
        </div>
        <div class="panel-footer">
            <a href="#">Selected item</a>
        </div>
        <div id="refine-list-1" class="panel-collapse collapse"
                role="tabpanel" aria-labelledby="refine-list-heading-1" aria-expanded="true">
            <div class="list-group">
                <a href="#" class="list-group-item">Item</a>
                <a href="#" class="list-group-item">Item</a>
            </div>
        </div>
    </div>

</div>
```
            {{/markdown}}
        </div>
    </div>
</section>
