<section class="section" id="section">
    <header class="section-header row">
        <h1 class="section-title col-xs-24">
            <a href="#section">Section</a>
        </h1>

        <div class="section-header-aside">
            <a href="#" class="btn btn-link section-header-more">More</a>
        </div>
    </header>

    <div class="row">
        <div class="col-xs-24">
            <p>This is the generic structure to display a section with a header and view all link.</p>

            {{#markdown}}
```xml
<section class="section">
    <header class="section-header row">
        <h2 class="section-title col-xs-24">
            <a href="#">This is a header</a>
        </h2>

        <div class="section-header-aside">
            <a href="#" class="btn btn-link section-header-more">More</a>
        </div>
    </header>

    <div class="row">
        <div class="col-xs-24">
            <!-- Content of the section -->
        </div>
    </div>
</section>
```
            {{/markdown}}
        </div>
    </div>
</section>
