{{#with side-nav-large}}
<nav role="navigation" id="sidenav" class="nav side-navigation side-navigation-large theme-default">
    <div class="navigation-label">{{label}}</div>
    <ul>
        {{#each pages}}
        <li>
            {{!-- using dumb links, but you can easily pass in data via JSON or some other method --}}
            <a href="#"{{#if active}} class="active"{{/if}}>{{label}}</a>
        </li>
        {{/each}}
    </ul>
</nav>
{{/with}}