<ul>
    <li><code>xxl</code>{{#if showPixelValues }} 84px{{/if}}</li>
    <li><code>xl</code>{{#if showPixelValues }} 72px{{/if}}</li>
    <li><code>lg</code>{{#if showPixelValues }} 64px{{/if}}</li>
    <li><code>md</code>{{#if showPixelValues }} 48px{{/if}}</li>
    <li><code>sm</code>{{#if showPixelValues }} 36px{{/if}}</li>
    <li><code>xs</code>{{#if showPixelValues }} 24px{{/if}}</li>
    <li><code>xxs</code>{{#if showPixelValues }} 12px{{/if}}</li>
    <li><code>xxxs</code>{{#if showPixelValues }} 8px{{/if}}</li>
    <li><code>n</code>{{#if showPixelValues }} 0px{{/if}}</li>
</ul>
