<section class="section" id="tables">
    <header class="section-header row">
        <h1 class="section-title col-xs-24">
            <a href="#tables">Tables</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-xs-24">
            <p>Sorted Table with actions and title label</p>
            <div class="table-responsive">
            <table class="table table-sortable">
                <thead>
                  <tr>
                    <th>Item <i class="icon-up pull-right"></i></th>
                    <th>Description</th>
                    <th class="text-right">Price</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Gadget Alpha <i class="icon-more pull-right"></i></td>
                        <td>This is the amazing new Gadget Alpha.</td>
                        <td class="text-right">$0.99</td>
                    </tr>
                    <tr>
                        <td>Gadget Bravo <i class="icon-more pull-right"></i></td>
                        <td>Also available is the Gadget Bravo which provides B.</td>
                        <td class="text-right">$2.99</td>
                    </tr>
                    <tr>
                        <td>Gadget Charlie <i class="icon-more pull-right"></i></td>
                        <td>This is the lorem ipsumist Gadget Charlie.</td>
                        <td class="text-right">$1.99</td>
                    </tr>
                    <tr>
                        <td>Gadget Delta <i class="icon-more pull-right"></i></td>
                        <td>Also available is the Gadget Bravo which provides B.</td>
                        <td class="text-right">$2.99</td>
                    </tr>
                    <tr>
                        <td>Gadget Echo <i class="icon-more pull-right"></i></td>
                        <td>Gadget Delta is a solor dit lipsum for consumers.</td>
                        <td class="text-right">$2.99</td>
                    </tr>
                    <tr>
                        <td>Gadget Foxtrot <i class="icon-more pull-right"></i></td>
                        <td>Gadget Echo provides solor dit for professionals.</td>
                        <td class="text-right">$1.99</td>
                    </tr>
                </tbody>
            </table>
          </div>

            {{#markdown}}
```xml
<table class="table table-striped">
    <tbody>
        <tr>
            <th>First line</th>
            <td>First item</td>
            <td>Second item</td>
        </tr>
        <tr>
            <th>Second line</th>
            <td>First item</td>
            <td>Second item</td>
        </tr>
    </tbody>
</table>
```
            {{/markdown}}

            <div class="table-responsive">
            <table class="table table-sortable theme-alt">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Description</th>
                    <th class="text-right">Price</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Gadget Alpha <i class="icon-more pull-right"></i></td>
                        <td>This is the amazing new Gadget Alpha.</td>
                        <td class="text-right">$0.99</td>
                    </tr>
                    <tr>
                        <td>Gadget Bravo <i class="icon-more pull-right"></i></td>
                        <td>Also available is the Gadget Bravo which provides B.</td>
                        <td class="text-right">$2.99</td>
                    </tr>
                    <tr>
                        <td>Gadget Charlie <i class="icon-more pull-right"></i></td>
                        <td>This is the lorem ipsumist Gadget Charlie.</td>
                        <td class="text-right">$1.99</td>
                    </tr>
                    <tr>
                        <td>Gadget Delta <i class="icon-more pull-right"></i></td>
                        <td>Also available is the Gadget Bravo which provides B.</td>
                        <td class="text-right">$2.99</td>
                    </tr>
                    <tr>
                        <td>Gadget Echo <i class="icon-more pull-right"></i></td>
                        <td>Gadget Delta is a solor dit lipsum for consumers.</td>
                        <td class="text-right">$2.99</td>
                    </tr>
                    <tr>
                        <td>Gadget Foxtrot <i class="icon-more pull-right"></i></td>
                        <td>Gadget Echo provides solor dit for professionals.</td>
                        <td class="text-right">$1.99</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-24">
            <p>A generic table. The zebra striping is made automatically with the stylesheet, no specific classes.</p>

            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>First line</th>
                        <td>First item</td>
                        <td>Second item</td>
                    </tr>
                    <tr>
                        <th>Second line</th>
                        <td>First item</td>
                        <td>Second item</td>
                    </tr>
                    <tr>
                        <th>Third line</th>
                        <td>First item</td>
                        <td>Second item</td>
                    </tr>
                    <tr>
                        <th>Fourth line</th>
                        <td>First item</td>
                        <td>Second item</td>
                    </tr>
                    <tr>
                        <th>Fifth line</th>
                        <td>First item</td>
                        <td>Second item</td>
                    </tr>
                </tbody>
            </table>

            {{#markdown}}
```xml
<table class="table table-striped">
    <tbody>
        <tr>
            <th>First line</th>
            <td>First item</td>
            <td>Second item</td>
        </tr>
        <tr>
            <th>Second line</th>
            <td>First item</td>
            <td>Second item</td>
        </tr>
    </tbody>
</table>
```
            {{/markdown}}
        </div>
    </div>
</section>
