<section class="section" id="text-color">
    <header class="section-header row">
        <h1 class="section-title col-xs-24">
            <a href="#text-color">Text color</a>
        </h1>
    </header>

    <div class="row">
        <div class="col-sm-6">
            <p class="text-muted">This is a muted text.</p>
            <p class="text-primary">This is a primary text.</p>
            <p class="text-success">This is a success text.</p>
            <p class="text-info">This is an info text.</p>
            <p class="text-warning">This is a warning text.</p>
            <p class="text-danger">This is a danger text.</p>
            <a class="link" href="#">This is a hyperlink</a>
        </div>

        <div class="col-sm-18">
            {{#markdown}}
```xml
<p class="text-muted">This is a muted text.</p>
<p class="text-primary">This is a primary text.</p>
<p class="text-success">This is a success text.</p>
<p class="text-info">This is an info text.</p>
<p class="text-warning">This is a warning text.</p>
<p class="text-danger">This is a danger text.</p>
<a class="link" href="#">This is a hyperlink</a>
```
            {{/markdown}}
        </div>
    </div>
</section>