<section class="win-section" id="tiles">
    <header class="win-section-header row">
        <h1 class="win-section-title col-xs-24">
            <a href="#tiles">Tiles</a>
        </h1>
    </header>
    <p>Core accent colors</p>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="tile tile-medium core-yellow">
                <a href="#">
                    <i class="tile-icon win-icon-home"></i>
                    <div>
                        <span class="tile-title">Home</span><span class="tile-notification">0</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="tile tile-medium core-orange">
                <a href="#">
                    <i class="tile-icon win-icon-home"></i>
                    <div>
                        <span class="tile-title">Home</span><span class="tile-notification">0</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="tile tile-medium core-red">
                <a href="#">
                    <i class="tile-icon win-icon-home"></i>
                    <div>
                        <span class="tile-title">Home</span><span class="tile-notification">0</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="tile tile-medium core-magenta">
                <a href="#">
                    <i class="tile-icon win-icon-home"></i>
                    <div>
                        <span class="tile-title">Home</span><span class="tile-notification">0</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="tile tile-medium core-purple">
                <a href="#">
                    <i class="tile-icon win-icon-home"></i>
                    <div>
                        <span class="tile-title">Home</span><span class="tile-notification">0</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="tile tile-medium core-blue">
                <a href="#">
                    <i class="tile-icon win-icon-home"></i>
                    <div>
                        <span class="tile-title">Home</span><span class="tile-notification">0</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="tile tile-medium core-teal">
                <a href="#">
                    <i class="tile-icon win-icon-home"></i>
                    <div>
                        <span class="tile-title">Home</span><span class="tile-notification">0</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="tile tile-medium core-green">
                <a href="#">
                    <i class="tile-icon win-icon-home"></i>
                    <div>
                        <span class="tile-title">Home</span><span class="tile-notification">0</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row" style="margin:15px 0;">
        <div class="col-sm-6 col-md-3">
            <div class="tile tile-small core-yellow">
                <a href="#">
                    <i class="tile-icon win-icon-home"></i>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="tile tile-wide core-orange">
                <a href="#">
                    <i class="tile-icon win-icon-home"></i>
                    <div>
                        <span class="tile-title">Home</span><span class="tile-notification">0</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        {{#markdown}}
```xml
<div class="tile tile-[small,medium,wide] [color]">
    <a href="#">
        <i class="tile-icon win-icon-home"></i>
        <div>
            <span class="tile-title">Home</span><span class="tile-notification">0</span>
        </div>
    </a>
</div>
```
        {{/markdown}}
    </div>
</section>