<div class="row">
    <div class="col-xs-24">
        <section class="section" id="fonts">
            <header class="section-header">
                <h1 class="section-title">
                    <a href="#fonts">Fonts</a>
                </h1>
            </header>
            <div class="section-body">
                <p>
                    The main typeface is Segoe UI. Selawik is an open source text font that can be used as a fallback to Segoe UI.
                </p>
            </div>
        </section>

        <div class="row">
            <div class="col-xs-24 col-md-12">
                <section class="section">
                    <header class="section-header">
                        <h5>Segoe UI</h5>
                        <hr />
                    </header>
                    <div class="section-body">
                        <h1>Headline</h1>
                        <h2>Header</h2>
                        <h3>Subheader</h3>
                        <h4>Title</h4>
                        <h5>Subtitle</h5>
                        <h6>Subtitle Alt</h6>
                        <p class="type-base">Base</p>
                        <p>Body</p>
                        <p class="type-caption">Caption</p>
                        <p class="type-caption-alt">Caption Alt</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        </p>
                    </div>
                </section>
            </div>
            <div class="col-xs-24 col-md-12">
                <section class="section">
                    <header class="section-header">
                        <h5 style="font-family: 'Selawik Semibold';">Selawik</h5>
                        <hr />
                    </header>
                    <div class="section-body">
                        <h1 style="font-family: 'Selawik Light'">Headline</h1>
                        <h2 style="font-family: 'Selawik Light'">Header</h2>
                        <h3 style="font-family: 'Selawik Light'">Subheader</h3>
                        <h4 style="font-family: 'Selawik Semilight'">Title</h4>
                        <h5 style="font-family: 'Selawik Semilight'">Subtitle</h5>
                        <h6 style="font-family: 'Selawik Semilight'">Subtitle Alt</h6>
                        <p style="font-family: 'Selawik Semibold'" class="type-base">Base</p>
                        <p style="font-family: 'Selawik'">Body</p>
                        <p style="font-family: 'Selawik'" class="type-caption">Caption</p>
                        <p style="font-family: 'Selawik'" class="type-caption-alt">Caption Alt</p>

                        <p style="font-family: 'Selawik';">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p style="font-family: 'Selawik';">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        </p>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-24">
                <h2>Classes and mixins</h2>
                <p>All the Bootstrap classes are all available. You may also use the MDL classes if you would like to more explicitly be connected to the MDL style guide. The MDL classes are type-*.</p>
            </div>
            <div class="col-sm-24">
                <h3>CSS classes</h3>

            {{#markdown}}
```xml
<h1>Headline</h1>
<div class="type-headline">...</div>

<h2>Header</h2>
<div class="type-header">...</div>

<h3>Subheader</h3>
<div class="type-subheader">...</div>

<h4>Title</h4>
<div class="type-title">...</div>

<h5>Subtitle</h5>
<div class="type-subtitle">...</div>

<h6>Subtitle Alt</h6>
<div class="type-subtitle-alt">...</div>

<p class="type-base">Base</p>
<div class="type-base">...</div>

<p>Body</p>
<div class="type-body">...</div>

<p class="type-caption">Caption</p>
<div class="type-caption">...</div>

<p class="type-caption-alt">CaptionAlt</p>
<div class="type-caption-alt">...</div>

```
            {{/markdown}}
        </div>

        <div class="col-sm-24">
            <h3>Sass mixins</h3>
            <p>By default, line-height is not set by the mixins below. If you want to apply the MDL line-height, you can pass the <code>set-line-height</code> argument. You can also pass the <code>responsive</code> argument to make the text responsive.</p>

            {{#markdown}}
```scss
.selector {
    @include type-headline([set-line-height] [responsive]);
}

.selector {
    @include type-header([set-line-height] [responsive]);
}

.selector {
    @include type-subheader([set-line-height] [responsive]);
}

.selector {
    @include type-title([set-line-height] [responsive]);
}

.selector {
    @include type-subtitle([set-line-height] [responsive]);
}

.selector {
    @include type-subtitle-alt([set-line-height] [responsive]);
}

.selector {
    @include type-base([set-line-height] [responsive]);
}

.selector {
    @include type-body([set-line-height] [responsive]);
}

.selector {
    @include type-caption([set-line-height] [responsive]);
}

.selector {
    @include type-caption-alt([set-line-height] [responsive]);
}
```
            {{/markdown}}
            </div>
        </div>
    </div>
</div>
