<div class="row">
    <div class="col-xs-24">
        <section class="win-section" id="fonts">
            <header class="win-section-header">
                <h1 class="win-section-title">
                    <a href="#fonts">Fonts</a>
                </h1>
            </header>
            <div class="win-section-body">
                <p>
                    The main typeface is Segoe UI. Selawik is an open source text font that can be used as a fallback to Segoe UI. 
                </p>
            </div>
        </section>
        
        <div class="row">
            <div class="col-xs-24 col-md-12">
                <section class="win-section">
                    <header class="win-section-header">
                        <h5>Segoe UI</h5>
                        <hr />
                    </header>
                    <div class="win-section-body">
                        <h1 class="win-type-headline">Headline</h1>
                        <h1>Header</h1>
                        <h2>Subheader</h2>
                        <h3>Title</h3>
                        <p class="win-type-subtitle">Subtitle</p>
                        <h4>Subtitle Alt</h4>
                        <h5>Base</h5>
                        <p>Body</p>
                        <p class="win-type-caption">Caption</p>
                        <p class="win-type-caption-alt">Caption Alt</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        </p>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                        </p>
                    </div>
                </section>
            </div>
            <div class="col-xs-24 col-md-12">
                <section class="win-section">
                    <header class="win-section-header">
                        <h5 style="font-family: 'Selawik Semibold';">Selawik</h5>
                        <hr />
                    </header>
                    <div class="win-section-body">
                        <h1 class="win-type-headline" style="font-family: 'Selawik Light';">Headline</h1>
                        <h1 style="font-family: 'Selawik Light';">Header</h1>
                        <h2 style="font-family: 'Selawik Light';">Subheader</h2>
                        <h3 style="font-family: 'Selawik Semilight';">Title</h3>
                        <p class="win-type-subtitle" style="font-family: 'Selawik Semilight';">Subtitle</p>
                        <h4 style="font-family: 'Selawik Semilight';">Subtitle Alt</h4>
                        <h5 style="font-family: 'Selawik Semibold';">Base</h5>
                        <p style="font-family: 'Selawik';">Body</p>
                        <p class="win-type-caption" style="font-family: 'Selawik';">Caption</p>
                        <p class="win-type-caption-alt" style="font-family: 'Selawik';">CaptionAlt</p>

                        <p style="font-family: 'Selawik';">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        </p>
                        <p style="font-family: 'Selawik';">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        </p>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-24">
                <h3>Classes and mixins</h3>
                <p>By default, all the Bootstrap classes are all available. You may also use the Basel classes if you would like to more explicitly be connected to the Basel style guide. The basel classes are win-type-*.</p>
            </div>
            <div class="col-sm-12">
                <h4>CSS classes</h4>

            {{#markdown}}
```xml
<h1 class="win-type-headline">Headline</h1>
<div class="win-type-headline">...</div>

<h1>Header</h1>
<div class="win-type-header">...</div>

<h2>Subheader</h2>
<div class="win-type-subheader">...</div>

<h3>Title</h3>
<div class="win-type-title">...</div>

<p class="win-type-subtitle">Subtitle</p>
<div class="win-type-subtitle">...</div>

<h4>Subtitle Alt</h4>
<div class="win-type-subtitle-alt">...</div>

<h5>Base</h5>
<div class="win-type-base">...</div>

<p>Body</p>
<div class="win-type-body">...</div>

<p class="win-type-caption">Caption</p>
<div class="win-type-caption">...</div>

<p class="win-type-caption-alt">CaptionAlt</p>
<div class="win-type-caption-alt">...</div>

```
            {{/markdown}}
        </div>

        <div class="col-sm-12">
            <h4>Sass mixins</h4>

            {{#markdown}}
```scss
.selector {
    @include win-type-headline();
}

.selector {
    @include win-type-header();
}

.selector {
    @include win-type-subheader();
}

.selector {
    @include win-type-title();
}

.selector {
    @include win-type-subtitle();
}

.selector {
    @include win-type-subtitle-alt();
}


.selector {
    @include win-type-base();
}

.selector {
    @include win-type-body();
}

.selector {
    @include win-type-caption();
}

.selector {
    @include win-type-caption-alt();
}

```
            {{/markdown}}
            </div>
        </div>
    </div>
</div>
