//
// Static Resources
//
$alert-icon-base: 48px;

// Override
.alert {
    position: relative;
    border: none;
    padding: win-spacer(xxs) win-spacer(xxs) win-spacer(xxs) win-spacer(xs, -4);
    min-height: $alert-icon-base;

    &.alert-dismissible {
        padding-right: 3em;
    }

    .alert-title {
        @include type-subtitle-alt(no-responsive);
        margin-bottom: win-spacer(xxs, -8);
    }

    p {
        @include type-caption(no-responsive);
        margin-bottom: 0;
        padding-top: spacer(xxs, -8);
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        line-height: 1;
        opacity: 1;
        height: $alert-icon-base;
        width: $alert-icon-base;

        span {
            font-size: 16px;
            top: -3px;
            position: relative;
        }
    }

    &.with-icon {
        padding-left: spacer(sm, 4)
    }

    .alert-icon {
        position: absolute;
        top: spacer(xxs, -8);
        left: spacer(xxs, -4);
        width: $alert-icon-base / 2;
        height: $alert-icon-base /2;
        font-size: $alert-icon-base / 2;
    }

    // Color
    color: $color-type-primary;

    &.alert-info {
        background-color: $color-bg-light-vivid-mid;
        color: $color-type-primary;
    }

    &.alert-warning {
        background-color: rgba($color-lightyellow, .4);
    }

    &.alert-danger {
        background-color: rgba($color-alert, .3);
    }
}
