// Add color transitions to buttons
.btn {
  @include win-type-body();
  min-width: 120px;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;

  &,
  &:focus {
    color: $win-color-base-high;
    background-color: $win-color-base-low;
    border-color: transparent;
  }
}

// Override Bootstrap button settings
.btn-primary,
.btn-primary:focus {
  color: $win-color-alt;
  background-color: $win-color-accent;
}
.btn-primary:hover,
.btn-default:hover,
.btn-primary:focus,
.btn-default:focus {
  border-color: $win-color-base-medium;
}
.btn-default:hover {
  background-color: $win-color-base-medium-low;
}
.btn-primary:hover {
  background-color: $win-color-accent;
}
.btn:active,
.btn.active {
  border-color: $win-color-base-medium;
  background-color: $win-color-base-medium;
  @include box-shadow(none);
}
.btn:disabled {
  color: $win-color-base-medium-low;
  background-color: $win-color-base-medium-low;
  border-color: transparent;
}

// Override Bootstrap alternate buttons
.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
// Success appears as green
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
// Warning appears as orange
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

//Override Bootstrap link buttons
// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: normal;
  border-radius: 0;
  text-decoration: underline;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &:active,
  &.active {
    color: $win-color-base-medium;
    border-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}

// Dropdown button
.btn-dropdown {
  background: none;
  border: 2px solid $win-color-chrome-30;

  .caret {
    margin-left: .5em;
    border-top-width: 7px;
  }
}

// Toggle buttons
.btn[data-toggle="button"] {

}

// Button which collapses or expands an element
.btn[data-toggle="collapse"] {
  i[class*="win-icon-"] {
    font-size: .9em;
  }

  &[aria-expanded="true"] {
    .win-button-label-collapsed {
      display: none;
    }
  }

  &[aria-expanded="false"] {
    .win-button-label-expanded {
      display: none;
    }
  }
}
