// Add color transitions to buttons
.btn {
  @include win-type-body(no-line-height);
  min-width: 120px;
  line-height: 1.66667em;
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  padding: 6px 18px;

  &,
  &:focus {
    color: $win-color-type-primary;
    background-color: $win-color-fl-20;
    border-color: transparent;
  }
}

// Override Bootstrap button settings
.btn-primary,
.btn-primary:focus {
  color: $win-color-type-primary-alt;
  background-color: $win-color-fl-accent;
}
.btn-primary:hover,
.btn-default:hover,
.btn-primary:focus,
.btn-default:focus {
  border-color: $win-color-fl-40;
}
.btn-default:hover {
  background-color: $win-color-fl-30;
}
.btn-primary:hover {
  background-color: $win-color-fl-accent;
}
.btn:active,
.btn.active {
  border-color: $win-color-fl-40;
  background-color: $win-color-fl-40;
  @include box-shadow(none);
}
.btn:disabled {
  color: $win-color-type-disabled-alt;
  background-color: $win-color-fl-30;
  border-color: transparent;
}

// Override Bootstrap alternate buttons
.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  &:active,
  &.active {
    background-color: $win-color-fl-40;
  }
}
.btn-primary,
.btn-success {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
  &:active,
  &.active {
    background-color: $win-color-fl-40;
  }
}
// Warning appears as orange
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

//Override Bootstrap link buttons
// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: normal;
  border-radius: 0;
  padding: 6px 10px;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &:active,
  &.active {
    color: darken($link-color, 10%);
    border-color: transparent;
    text-decoration: none;
  }

  &:disabled,
  &.disabled {
    color: $win-color-type-disabled;
      text-decoration: none;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $win-color-type-disabled;
      text-decoration: none;
    }
  }
}

// Dropdown button
.btn-dropdown {
  background: none;
  border: 2px solid $win-color-fl-30;

  .caret {
    margin-left: .5em;
    border-top-width: 7px;
  }
}

// Toggle buttons
.btn[data-toggle="button"] {
  &.active {
    background-color: $win-color-fl-accent;
    border-color: transparent;
    color: $win-color-light;
  }
  &.active:active {
    background-color: darken($win-color-fl-accent, 5%);
    border-color: transparent;
    color: $win-color-type-primary;
  }
  &:hover {
    border-color: $win-color-fl-accent;
  }
}

// Button which collapses or expands an element
.btn[data-toggle="collapse"] {
  i[class*="win-icon-"] {
    font-size: .9em;
  }

  &[aria-expanded="true"] {
    .win-button-label-collapsed {
      display: none;
    }
  }

  &[aria-expanded="false"] {
    .win-button-label-expanded {
      display: none;
    }
  }
}

// restore Bootstrap button size ramp
.btn-xs {
  padding: 0 5px;
}

.btn-sm {
  padding: 2px 7px;
}

.btn-lg {
  padding: 10px 16px;
}