.dropdown-picker {
  margin: 0 0 2em 0;

  .dropdown-label {
    display: inline-block;
  }

  .dropdown {
    display: inline-block;
    margin: 0 .5em;
    vertical-align: bottom;
  }
}

.dropdown-menu {
  box-shadow: none;
  background-color: $color-bg-light-vivid-mid;
  color: $color-type-primary;
  border: none;
  padding-top: 5px;
  padding-bottom: 7px;
}

.dropdown-menu li {
  padding: 0;
  margin: 0;
}

.dropdown-menu li a {
  @include type-body();
  line-height: 32px;
  height: 32px;
  padding: 0;
  padding-left: 12px;
  text-decoration: none;

  &:hover {
    background-color: $color-dim-mid;
  }

  &:active {
    background-color: $color-neutral-mid;
  }
}

.dropdown-menu li.active a {
  color: $color-type-primary;
  background-color: $color-accent-neutral-high;

  &:hover, &:focus {
    color: $color-type-primary;
    background-color: $color-accent-vivid-low;
  }
}

dl.dropdown-menu {
  min-width: 300px;
  padding: 10px;
}

.btn-dropdown {
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: $color-neutral-high-alt;
  border-color: $color-neutral-high;

  &:focus {
    background-color: $color-accent-neutral-high;
    border-color: $color-neutral-high;
    outline: 0;
  }

  &:hover {
    background-color: $color-vivid-low-alt;
    border-color: $color-neutral-high;
  }

  &:active {
    background-color: $color-neutral-mid;
    outline: 0;
  }

  &:active:focus {
    outline: 0;
  }

  &:disabled {
    color: $color-type-disabled-alt;
    border-color: $color-neutral-high;
    background-color: $color-neutral-high;
  }
}

.dropdown.open .btn-dropdown {
  &:focus {
    background-color: $color-neutral-high-alt;
  }
}

.btn-dropdown .caret {
  border: none;
  width: auto;
  height: auto;
  line-height: 1;
  color: $color-type-primary;
  font-family: "winjs-symbols";
  font-size: 12px;

  &::before {
    content: map-get($icons, flipviewdown);
    vertical-align: bottom;
  }
}

.btn-dropdown:disabled .caret {
  color: $color-neutral-high;
}
