.dropdown-picker {
  margin: 0 0 2em 0;

  .dropdown-label {
    display: inline-block;
  }

  .dropdown {
    display: inline-block;
    margin: 0 .5em;
    vertical-align: bottom;
  }
}

.dropdown-menu {
  box-shadow: none;
  background-color: $win-color-bg-20;
  color: $win-color-type-primary;
  border: none;
  padding-top: 5px;
  padding-bottom: 7px;
}

.dropdown-menu li {
  padding: 0;
  margin: 0;
}

.dropdown-menu li a {
  @include win-type-body(no-line-height);
  line-height: 32px;
  height: 32px;
  padding: 0;
  padding-left: 12px;
  text-decoration: none;

  &:hover {
    background-color: $win-color-fl-20;
  }

  &:active {
    background-color: $win-color-fl-30;
  }
}

.dropdown-menu li.active a {
  color: $win-color-type-primary;
  background-color: $win-color-fl-accent-low;

  &:hover, &:focus {
    color: $win-color-type-primary;
    background-color: $win-color-fl-accent-medium;
  }
}

dl.dropdown-menu {
  min-width: 300px;
  padding: 10px;
}

.btn-dropdown {
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: $win-color-fl-40-alt;
  border-color: $win-color-fl-40;

  &:focus {
    background-color: $win-color-fl-accent-low;
    border-color: $win-color-fl-40;
    outline: 0;
  }

  &:hover {
    background-color: $win-color-fl-50-alt;
    border-color: $win-color-fl-40;
  }

  &:active {
    background-color: $win-color-fl-30;
    outline: 0;
  }

  &:active:focus {
    outline: 0;
  }

  &:disabled {
    color: $win-color-type-disabled-alt;
    border-color: $win-color-fl-40;
    background-color: $win-color-fl-40;
  }
}

.dropdown.open .btn-dropdown {
  &:focus {
    background-color: $win-color-fl-40-alt;
  }
}

.btn-dropdown .caret {
  border: none;
  width: auto;
  height: auto;
  line-height: 1;
  color: $win-color-type-primary;
  font-family: "winjs-symbols";
  font-size: 12px;

  &::before {
    content: map-get($win-symbols, flipviewdown);
    vertical-align: bottom;
  }
}

.btn-dropdown:disabled .caret {
  color: $win-color-fl-40;
}