.popover {
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

    .arrow,
    .popover-title {
        display: none;
    }
    .popover-content {
        padding: 8px win-spacer(xxs) 10px;

        .btn {
            margin: win-spacer(xxs, 2) 0 win-spacer(xxs);
            float: right;
        }
    }

    //
    // Colors
    //

    // On light surface (default), on light image
    color: $color-type-primary;
    background-color: $color-bg-light-vivid-mid;
    border-color: $color-neutral-mid;

    // On dark surface, on colored background, on dark image
    &.win-theme-alt,
    &.win-theme-on-color,
    &.win-theme-on-img-dark {
        color: $color-type-primary-alt;
        background-color: $color-bg-dark-vivid-mid;
        border-color: $color-neutral-mid-alt;
    }
}
