//
// Text controls
//
input.form-control,
textarea.form-control {
    -ms-user-select: element;
    border-style: solid;
    border-width: 1px;
    border-radius: $border-radius-base;
    margin-top: win-spacer(xxs, -10);
    margin-bottom: win-spacer(xs, -4);
    max-width: 296px;
    min-width: 88px;
    min-height: 36px;
    background-clip: border-box;
    box-sizing: border-box;
    padding-left: win-spacer(xxs, -1);
    vertical-align: top;
    outline: 0;

    @include box-shadow(none);
    @include transition(none);

    color: $win-color-type-primary;
    background-color: $win-color-fl-60-alt;
    border-color: $win-color-fl-50;

    // Hint text color
    // Single colon on -ms not a typo
    &:-ms-input-placeholder {color: $win-color-type-secondary;}
    &::-webkit-input-placeholder {color: $win-color-type-secondary;}
    &:-moz-placeholder {color: $win-color-type-secondary;}
    &::-moz-placeholder {color: $win-color-type-secondary;}

    &:hover {
        background-color: $win-color-fl-50-alt;
        border-color: $win-color-fl-70;
    }

    &:focus {
        color: $win-color-type-primary;
        background-color: $win-color-fl-70-alt;
        border-color: $win-color-fl-accent;
        @include box-shadow(none);
    }

    &:disabled,
    &[disabled], {
        border-color: $win-color-fl-25;
        color: $win-color-type-disabled;
        background-color: $win-color-fl-20-alt;
    }
}

input.form-control::-ms-value {
    margin: 0;
    padding: 0;
}

input.form-control::-ms-clear,
input.form-control::-ms-reveal {
    margin-right: -8px;
    width: 36px;
    height: 36px;
    display: block;

    color: $win-color-fl-50;

    &:hover {
        color: $win-color-fl-accent;
    }
    &:active {
        color: $win-color-light;
        background-color: $win-color-fl-accent;
    }
}

textarea.form-control {
    resize: none;
    overflow-y: auto;
}

//
// Select
//
select.form-control {
    min-width: 56px;
    max-width: 368px;
    min-height: 32px;
    margin: 8px 0;
    padding: 0;
    border-style: solid;
    border-width: 2px;
    background-clip: border-box;
    background-image: none;
    box-sizing: border-box;
    border-radius: 0;
    @include win-type-body();
    @include box-shadow(none);
    @include transition(none);

    color: $win-color-type-primary;
    background-color: $win-color-fl-20;
    border-color: $win-color-fl-40;

    &::-ms-value {
        padding: 5px 12px 7px 12px;
        margin: 0;
    }
    &::-ms-expand {
        border: none;
        margin-right: 5px;
        margin-left: 3px;
        margin-bottom: -2px;
        font-size: 20px;

        color: $win-color-type-primary;
        background-color: transparent;
    }

    &:focus,
    &:active {
    @include box-shadow(none);
        border-color: $win-color-fl-50;
    }
    &:hover {
        background-color: $win-color-fl-10;
        border-color: $win-color-fl-50;
    }
    &:disabled {
        color: $win-color-type-disabled-alt;
        background-color: $win-color-fl-30;
    }
    &:disabled::-ms-expand {
        color: $win-color-type-disabled-alt;
        border-color: $win-color-fl-30;
    }

    option {
        color: $win-color-type-primary;
        background-color: $win-color-fl-10;

        &:hover, &:active {
            background-color: fade(#000, 20%);
            color: $win-color-type-primary;
        }
        &:checked {
            color: $win-color-light;
            background-color: $win-color-fl-accent;
        }
    }
    optgroup {
        color: $win-color-type-primary;
        background-color: $win-color-fl-10;
    }
    optgroup:disabled {
        color: $win-color-type-disabled-alt;
    }
}

select[multiple].form-control {
    border: none;
    background-color: $win-color-fl-10;

    option {
        color: $win-color-type-primary;
    }
    option:hover {
        color: $win-color-type-primary;
    }
    option:checked {
        color: $win-color-light;
        background-color: $win-color-fl-accent;
    }
}

//
// Checkbox / Radio
//

.form-group {
    .checkbox:first-of-type,
    .radio:first-of-type {
        margin-top: win-spacer(xs, -2)
    }

    .checkbox:last-of-type,
    .radio:last-of-type {
        margin-bottom: win-spacer(xs, 3);
    }

    label,
    .form-group-label {
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 0;
        line-height: 1em;
        vertical-align: top;
    }

    label.disabled,
    .form-group-label.disabled {
        color: $win-color-type-disabled;
    }

    margin-bottom: win-spacer(xs, -2);

}

// Common checkbox and radio styles
.radio + .radio,
.checkbox + .checkbox {
    margin-top: initial;
}

.checkbox,
.radio {
    margin: win-spacer(xs, -2) 0;

    & input[type=checkbox],
    & input[type=radio] {
        width: 20px;
        height: 20px;
        margin-left: -28px;
        margin-top: 0;
    }

    & label {
        padding-left: 0px;
        font-weight: 400;
        margin-left: 28px;
        min-height: initial;
        line-height: 20px;

        input[type=checkbox],
        input[type=radio] {
            opacity: 0;
        }

        span::before {
            border-width: 1px;
            border-style: solid;
            border-color: $win-color-fl-60;
            content: "";
            height: 20px;
            width: 20px;
            position: absolute;
            left: 0;
            cursor: pointer;
        }

        input:disabled {
            ~ span {
                color: $win-color-type-disabled;
            }

            ~ span::before {
                border-color: $win-color-fl-25;
                color: $win-color-type-disabled;
            }
        }
    }
}

// Checkbox only
.checkbox {

    & label {
        input:checked ~ span::before {
            background-color: $win-color-fl-accent;
            border-color: $win-color-fl-accent;
            color: $win-color-fl-70-alt;
            font-family: $win-font-symbols;
            text-indent: 2px;
            line-height: 1em;
            padding-top: 2px;
        }

        input:indeterminate ~ span::before {
            border-color: $win-color-fl-accent;
            color: $win-color-fl-60;
            text-indent: 2px;
            line-height: 12px;
            font-size: 17px;
            padding-top: 2px;
        }
    }

    &:hover {
        span::before,
        input:checked ~ span::before {
            border-color: $win-color-fl-70;
        }

        input:indeterminate ~ span::before {
            color: $win-color-fl-70;
        }
    }
}

// Radio only
.radio {

    & label {
        span::before {
            border-radius: 100%;
        }

        input:checked ~ span::before {
            border-color: $win-color-fl-accent;
            color: $win-color-fl-70;
            text-indent: 0px;
            line-height: 6px;
            padding-top: 2px;
            font-size: 45px;
        }
    }

    &:hover {
        span::before,
        input:checked ~ span::before {
            border-color: $win-color-fl-accent;
            color: $win-color-fl-60;
        }

        input:disabled ~ span::before {
            border-color: $win-color-fl-25;
        }
    }
}

// For use on dark backgrounds
form.win-color-alt {
    label {
        color: $win-color-type-primary-alt;
    }

    label.disabled,
    .form-group-label.disabled {
        color: $win-color-type-disabled-alt;
    }
}
