//
// Text controls
//
input.form-control,
textarea.form-control {
  -ms-user-select: element;
  border-style: solid;
  border-width: 2px;
  border-radius: 0;
  margin: 0;
  width: 296px;
  min-width: 64px;
  min-height: 28px;
  background-clip: border-box;
  box-sizing: border-box;
  padding: 3px 6px 5px 10px;
  vertical-align: top;
  outline: 0;

  @include win-type-body();
  @include box-shadow(none);
  @include transition(none);

  color: $win-color-type-primary;
  background-color: $win-color-type-primary-alt;
  border-color: $win-color-fl-40;

  // Hint text color
  // Single colon on -ms not a typo
  &:-ms-input-placeholder {color: $win-color-type-secondary;}
  &::-webkit-input-placeholder {color: $win-color-type-secondary;}
  &::-moz-input-placeholder {color: $win-color-type-secondary;}

  &:hover {
    background-color: $win-color-fl-50-alt;
    border-color: $win-color-fl-50;
  }

  &:focus {
    color: $win-color-dark;
    background-color: $win-color-light;
    border-color: $win-color-fl-accent;
    @include box-shadow(none);
  }
}

input.form-control::-ms-value {
  margin: 0;
  padding: 0;
}

input.form-control::-ms-clear,
input.form-control::-ms-reveal {
  padding-right: 2px;
  margin-right: -8px;
  margin-left: 2px;
  margin-top: -8px;
  margin-bottom: -8px;
  width: 30px;
  height: 32px;
  display: block;

  color: $win-color-type-secondary;

  &:hover {
    color: $win-color-fl-accent;
  }
  &:active {
    color: $win-color-light;
    background-color: $win-color-fl-accent;
  }
}

textarea.form-control {
  resize: none;
  overflow-y: auto;
}

//
// Select
//
select.form-control {
  min-width: 56px;
  max-width: 368px;
  min-height: 32px;
  margin: 8px 0;
  padding: 0;
  border-style: solid;
  border-width: 2px;
  background-clip: border-box;
  background-image: none;
  box-sizing: border-box;
  border-radius: 0;
  @include win-type-body();
  @include box-shadow(none);
  @include transition(none);

  color: $win-color-type-primary;
  background-color: $win-color-fl-20;
  border-color: $win-color-fl-40;

  &::-ms-value {
    padding: 5px 12px 7px 12px;
    margin: 0;
  }
  &::-ms-expand {
    border: none;
    margin-right: 5px;
    margin-left: 3px;
    margin-bottom: -2px;
    font-size: 20px;

    color: $win-color-type-primary;
    background-color: transparent;
  }

  &:focus,
  &:active {
    @include box-shadow(none);
    border-color: $win-color-fl-50;
  }
  &:hover {
    background-color: $win-color-fl-10;
    border-color: $win-color-fl-50;
  }
  &:disabled {
    color: $win-color-type-disabled-alt;
    background-color: $win-color-fl-30;
  }
  &:disabled::-ms-expand {
    color: $win-color-type-disabled-alt;
    border-color: $win-color-fl-30;
  }

  option {
    color: $win-color-type-primary;
    background-color: $win-color-fl-10;

    &:hover, &:active {
      background-color: fade(#000, 20%);
      color: $win-color-type-primary;
    }
    &:checked {
      color: $win-color-light;
      background-color: $win-color-fl-accent;
    }
  }
  optgroup {
    color: $win-color-type-primary;
    background-color: $win-color-fl-10;
  }
  optgroup:disabled {
    color: $win-color-type-disabled-alt;
  }
}

select[multiple].form-control {
  border: none;
  background-color: $win-color-fl-10;

  option {
    color: $win-color-type-primary;
  }
  option:hover {
    color: $win-color-type-primary;
  }
  option:checked {
    color: $win-color-light;
    background-color: $win-color-fl-accent;
  }
}

//
// Checkbox / Radio
//
.checkbox label,
.radio label {
  padding-left: 30px;
}

.checkbox input[type=checkbox],
.radio input[type=radio] {
  width: 20px;
  height: 20px;
  margin-left: -30px;

  &::-ms-check {
    border-style: solid;
    display: inline-block;
    border-width: 2px;
    background-clip: border-box;
  }
}

.checkbox input[type=checkbox] {
  &::-ms-check {
    color: $win-color-type-primary;
    border-color: $win-color-fl-60;
    background-color: transparent;
  }

  &:indeterminate::-ms-check {
    color: $win-color-type-primary;
    border-color: $win-color-fl-accent;
  }

  &:checked::-ms-check {
    color: $win-color-light;
    background-color: $win-color-fl-accent;
    border-color: transparent;
  }

  &:hover::-ms-check {
    border-color: $win-color-type-primary;
  }

  &:hover:indeterminate::-ms-check {
    color: $win-color-type-primary;
    border-color: $win-color-fl-accent;
  }

  &:active::-ms-check {
    border-color: transparent;
    background-color: $win-color-fl-50;
  }

  &:indeterminate:active::-ms-check {
    color: $win-color-type-secondary;
    border-color: $win-color-fl-60;
    background-color: transparent;
  }

  &:disabled::-ms-check, &:indeterminate:disabled::-ms-check {
    color: $win-color-type-disabled-alt;
    border-color: $win-color-fl-30;
    background-color: transparent;
  }
}

.radio input[type=radio] {
  &::-ms-check {
    color: $win-color-type-primary;
    border-color: $win-color-fl-60;
    background-color: transparent;
  }

  &:hover::-ms-check {
    border-color: $win-color-type-primary;
  }

  &:checked::-ms-check {
    border-color: $win-color-fl-accent;
  }

  &:hover::-ms-check {
    color: $win-color-type-primary;
  }

  &:active::-ms-check {
    color: $win-color-type-secondary;
    border-color: $win-color-fl-50;
  }

  &:disabled::-ms-check {
    color: $win-color-type-disabled-alt;
    border-color: $win-color-fl-30;
  }
}