.input-group {
    .form-control {
        margin-top: 0;
    }

    margin-bottom: win-spacer(xs, -4);
}

.input-group-addon {
  border-width: 1px;
  border-color: $color-vivid-low;
  background-color: $color-dim-low;
}
