.input-group {
    .form-control {
        margin-top: 0;
    }

    margin-bottom: win-spacer(xs, -4);
}

.input-group-addon {
  border-width: 1px;
  border-color: $win-color-fl-50;
  background-color: $win-color-fl-10;
}