// Bootstrap Modal
.modal-header .close {
  position: absolute;
  top: -27px;
  right: 0;
  color: white;
  opacity: 1;
  font-size: 20px;
}

.modal-content {
  margin-top: 20px;
  padding: 24px;
  box-shadow: none;

  background-color: $win-color-bg-20;
  border-color: $win-color-fl-accent;
  color: $win-color-type-primary;
}

.modal-header {
  @include win-type-subtitle();
}

.modal-body {
  @include win-type-body();
}

.modal-backdrop {
  background-color: $win-color-light;
}

// Center the Bootstrap Modal vertically
.win-modal-center {
  text-align: center;

  &:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;

    // The modal is vertically centered on medium devices and up
    @media (min-width: $screen-sm-min) {
      content: "";
    }
  }

  .modal-dialog {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }
}
