.page-header .nav-pills {
    margin-top: 2em;

    > li > a {
        margin-right: 2.5em;
        padding: 1em 0;
        color: black;

        &:hover {
            color: $brand-primary;
            text-decoration: underline;
            background: none;
        }
    }

    > li.active > a,
    > li.active > a:hover,
    > li.active > a:focus {
        background: none;
        color: $brand-primary;
        text-decoration: none;
    }
}
