.navbar {
    border-top: none;
    border-left: none;
    border-right: none;

    .win-icon-flipviewdown {
        font-size: 6px;
        margin: 0 0 0 5px;
        color: $win-color-fl-50;
    }

    .win-icon-hamburger {
        font-size: 20px;
        color: $win-color-fl-50;
    }

    .navbar-toggle {
        padding: 4px 10px;
    }
}
