.panel {
    background-color: $win-color-chrome-10;
    color: $win-color-chrome-80;
    box-shadow: none;

    & .panel-heading {
        background-color: $win-color-chrome-50;
        color: $win-color-chrome-20;
    }

    .pager {
        margin: 0;

        li > a {
            padding: 0;
        }

        i[class*="win-icon-"] {
            font-size: 1.7em;
        }
    }

    .nav-pills > .dropdown > a {
        border-left: none;
        margin: 0 25px;
        padding: 0;
        color: $win-color-chrome-70;
        background: none;
    }
}

