//
// Static resources
//
$popover-position: spacing(xxxs);

.popover {
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    @include type(t7);

    &.top       { margin-top: -$popover-position; }
    &.right     { margin-left: $popover-position; }
    &.bottom    { margin-top: $popover-position; }
    &.left      { margin-left: -$popover-position; }

    .arrow,
    .popover-title {
        display: none;
    }
    .popover-content {
        padding: spacing(xxxs) spacing(xxs) spacing(xxs, -2);

        .btn {
            margin: spacing(xxs, 2) 0 spacing(xxs);
            float: right;
        }
    }

    //
    // Colors
    //

    // On light surface (default), on light image
    color: $color-type-primary;
    background-color: $color-bg-light-vivid-mid;
    border-color: $color-neutral-mid;

    // On dark surface, on colored background, on dark image
    &.theme-alt,
    &.theme-on-color,
    &.theme-on-img-dark {
        color: $color-type-primary-alt;
        background-color: $color-bg-dark-vivid-mid;
        border-color: $color-neutral-mid-alt;
    }
}
