.progress {
    box-shadow: none;
    height: 4px;
    background-color: $win-color-fl-25;
    margin-bottom: 0; // Might need to look at this for vertical-spacing

    .progress-bar {
        @include transition(width 2s ease-in-out);
        background-color: $win-color-fl-accent;
    }

    &.win-theme-alt {
        background-color: $win-color-fl-25-alt;

        .progress-bar {
            background-color: $win-color-fl-accent-alt;
        }
    }

    &.win-theme-on-color {
        background-color: $win-color-fl-25-alt;

        .progress-bar {
            background-color: $win-color-fl-70-alt;
        }
    }
}
