.progress {
  box-shadow: none;
  background-color: $win-color-fl-30;
  width: 180px;
  height: 4px;

  .progress-bar {
    @include transition(width 2s ease-in-out);
    background-color: $win-color-fl-accent;
  }
}

.progress-sm {
  height: 4px;
  margin: 0;
}

.progress-xs {
  height: 4px;
  margin: 0;
}

.progress-media {
  height: 5px;
}
