.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  padding: 10px 12px;
}
.table {
  thead {
    tr th {
      @include type-caption-alt();
      color: $color-type-secondary;
      font-weight: normal;
      border-bottom: 1px solid black(10%);
      padding-bottom: 13px;
    }
  }
  &.theme-alt {
    background: $color-bg-dark-vivid-low;
    color: $color-type-primary-alt;
    thead {
      tr th {
        color: $color-type-secondary-alt;
        border-bottom: 1px solid $color-neutral-low-alt;
      }
    }
  }
  //Sortable table
  &.table-sortable {
    tr {
      &:hover {
        td {
          background: black(10%);
        }
      }
    }
    &.theme-alt {
      tr {
        &:hover {
          td {
            background: $color-dim-mid-alt;
          }
        }
      }
    }
  }
}
