.tooltip {
  word-wrap: break-word;
  @include win-type-caption();
}

.tooltip-inner {
  padding: 4px 7px 6px 7px;
  border-style: solid;
  border-width: 1px;
  border-color: $win-color-fl-30;
  background-color: $win-color-bg-20;
  color: $win-color-type-primary;
}

.tooltip-arrow {
  display: none;
}