.tooltip {
  word-wrap: break-word;
  @include win-type-caption();
}

.tooltip-inner {
  padding: 4px 7px 6px 7px;
  border-style: solid;
  border-width: 1px;
  border-color: $win-color-chrome-40;
  background-color: $win-color-chrome-10;
  color: $win-color-base;
}

.tooltip-arrow {
  display: none;
}